<div class="wrapper wrapper--swiper industrie">
  <div class="section-top align-bottom">
    <div class="section-top__title">Обучение сотрудников <br/>в учебном центре Softline</div>
    <a class="link-red" href="./events.html">
      <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="32" height="32" rx="16" fill="#A50F2D" />
        <path d="M21.8857 16.4L15.6954 22.8M21.8857 16.4L10 16.3997M21.8857 16.4L15.6954 10" stroke="white"
          stroke-width="1.5" />
      </svg>
      <span>Все курсы</span>
    </a>
  </div>

  <div class="news__slider">
    <div class="news__container swiper-container">
      <div class="swiper-wrapper">

        <div class="swiper-slide news-slide">
          <a href="./event-page.html" class="events__item">
            <span class="events__img">
              <img src="./assets/images/industries/swiper-1.jpg" alt="events-img">
              <span class="events__date-block">
                <span class="events__date-item">
                  <span class="events__date">20</span>
                  <span class="events__month">Авг</span>
                </span>
              </span>
            </span>
            <span class="events__title">Мы предлагаем виртуальную электроэнергию в аренду</span>
          </a>
        </div>

        <div class="swiper-slide news-slide">
          <a href="./event-page.html" class="events__item">
            <span class="events__img">
              <img src="./assets/images/industries/swiper-2.jpg" alt="events-img">
              <span class="events__date-block">
                <span class="events__date-item">
                  <span class="events__date">22</span>
                  <span class="events__month">Авг</span>
                </span>
              </span>
            </span>
            <span class="events__title">Администрирование Windows Server 2019</span>
          </a>
        </div>

        <div class="swiper-slide news-slide">
          <a href="./event-page.html" class="events__item">
            <span class="events__img">
              <img src="./assets/images/industries/swiper-3.jpg" alt="events-img">
              <span class="events__date-block">
                <span class="events__date-item">
                  <span class="events__date">01</span>
                  <span class="events__month">Авг</span>
                </span>
              </span>
            </span>
            <span class="events__title">Администрирование сети Linux</span>
          </a>
        </div>

        <div class="swiper-slide news-slide">
          <a href="./event-page.html" class="events__item">
            <span class="events__img">
              <img src="./assets/images/industries/swiper-2.jpg" alt="events-img">
              <span class="events__date-block">
                <span class="events__date-item">
                  <span class="events__date">10</span>
                  <span class="events__month">Авг</span>
                </span>
              </span>
            </span>
            <span class="events__title">Astra Linux. Специальный курс</span>
          </a>
        </div>

        <div class="swiper-slide news-slide">
          <a href="./event-page.html" class="events__item">
            <span class="events__img">
              <img src="./assets/images/industries/swiper-2.jpg" alt="events-img">
              <span class="events__date-block">
                <span class="events__date-item">
                  <span class="events__date">20</span>
                  <span class="events__month">Авг</span>
                </span>
              </span>
            </span>
            <span class="events__title">Astra Linux. Специальный курс</span>
          </a>
        </div>

        <div class="swiper-slide news-slide">
          <a href="./event-page.html" class="events__item">
            <span class="events__img">
              <img src="./assets/images/industries/swiper-2.jpg" alt="events-img">
              <span class="events__date-block">
                <span class="events__date-item">
                  <span class="events__date">20</span>
                  <span class="events__month">Авг</span>
                </span>
              </span>
            </span>
            <span class="events__title">Astra Linux. Специальный курс</span>
          </a>
        </div>

        <div class="swiper-slide news-slide">
          <a href="./event-page.html" class="events__item">
            <span class="events__img">
              <img src="./assets/images/industries/swiper-2.jpg" alt="events-img">
              <span class="events__date-block">
                <span class="events__date-item">
                  <span class="events__date">20</span>
                  <span class="events__month">Авг</span>
                </span>
              </span>
            </span>
            <span class="events__title">Astra Linux. Специальный курс</span>
          </a>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>