<section class="wrapper wrapper--swiper events">
  <div class="section-top align-bottom">
      <div class="title-wrapper">
          <span class="title-num">2</span>
          <h2 class="title">
            Новости, истории и события
          </h2>
      </div>   
      <a class="link-red" href="#">
          <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="32" height="32" rx="16" fill="#A50F2D"/>
              <path d="M21.8857 16.4L15.6954 22.8M21.8857 16.4L10 16.3997M21.8857 16.4L15.6954 10" stroke="white" stroke-width="1.5"/>
          </svg>
          <span>Все данные</span>
      </a>
  </div>   
  
  <div class="news__slider">
      <div class="news__container swiper-container">
          <div class="swiper-wrapper">
              <div class="swiper-slide first-slide news-slide">
                  <img src="assets/images/main/newsImg.jpg" alt="">
                  <div class="news-slide__text-wrapper">
                      <div>
                          <a href="#" class="news-slide__theme">Блог</a>
                          <a href="#">
                              <h3 class="news-slide__title">Прогноз на будущее, что &nbsp;<br>ждет ИТ-отрасль в 2021 году</h3>
                          </a>
                      </div>
                      <p class="news-slide__date">12.05.2021</p>
                  </div>
              </div>
              <div class="swiper-slide news-slide">
                  <img src="assets/images/main/newsImg2.jpg" alt="">
                  <div class="news-slide__text-wrapper">
                      <div>
                          <a href="#" class="news-slide__theme">Блог</a>
                          <a href="#">
                              <h4 class="news-slide__title">В поисках скрытых сокровищ в бизнес-данных</h4>
                          </a>
                      </div>
                      <p class="news-slide__date">10.05.2021</p>
                  </div>
              </div>
              <div class="swiper-slide news-slide">
                  <div class="news-slide__text-wrapper">
                      <div>
                          <a href="#" class="news-slide__theme">События</a>
                          <a href="#">
                              <h4 class="news-slide__title">Международная конференция ИТ по внедрению кибербезопасности и защиты</h4>
                          </a>
                      </div>
                      <p class="news-slide__date">22.04.2021</p>
                  </div>
              </div>
              <div class="swiper-slide news-slide">
                  <div class="news-slide__text-wrapper">
                      <div>
                          <a href="#" class="news-slide__theme">События</a>
                          <a href="#">
                              <h4 class="news-slide__title">Международная конференция ИТ по внедрению кибербезопасности и защиты </h4>
                          </a>
                      </div>
                      <p class="news-slide__date">22.04.2021</p>
                  </div>
              </div>
              <div class="swiper-slide news-slide">
                  <div class="news-slide__text-wrapper">
                      <div>
                          <a href="#" class="news-slide__theme">Новости</a>
                          <a href="#">
                              <h4 class="news-slide__title">В поисках скрытых сокровищ в бизнес-данных</h4>
                          </a>
                      </div>
                      <p class="news-slide__date">22.04.2021</p>
                  </div>
              </div>
              <div class="swiper-slide news-slide">
                  <img src="assets/images/main/newsImg2.jpg" alt="">
                  <div class="news-slide__text-wrapper">
                      <div>
                          <a href="#" class="news-slide__theme">Блог</a>
                          <a href="#">
                              <h4 class="news-slide__title">В поисках скрытых сокровищ в бизнес-данных</h4>
                          </a>
                      </div>
                      <p class="news-slide__date">10.05.2021</p>
                  </div>
              </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
      </div>
  </div>
</section>