<section>
  <div class="above-block wrapper">
      <h3 class="title">Наши партнеры - лидеры рынка</h3>
      <a class="link-red" href="./partner.html">
          <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="32" height="32" rx="16" fill="#A50F2D"/>
              <path d="M21.8857 16.4L15.6954 22.8M21.8857 16.4L10 16.3997M21.8857 16.4L15.6954 10" stroke="white" stroke-width="1.5"/>
          </svg>
          <span>Все партнеры</span>
      </a>
  </div>
  <div class="swiper-container partners__mobSlider wrapper wrapper--swiper">
      <div class="partners swiper-wrapper">
          <a class="partner swiper-slide" href="#" target="_blank">
              <img src="assets/images/main/partners/microsoft.png" alt="">
          </a>
          <a class="partner swiper-slide" href="#" target="_blank">
              <img src="assets/images/main/partners/sap.png" alt="">
          </a>
          <a class="partner swiper-slide" href="#" target="_blank">
              <img src="assets/images/main/partners/oracle.png" alt="">
          </a>
          <a class="partner swiper-slide" href="#" target="_blank">
              <img src="assets/images/main/partners/intel.png" alt="">
          </a>
          <a class="partner swiper-slide" href="#" target="_blank">
              <img src="assets/images/main/partners/hewlett.png" alt="">
          </a>
          <a class="partner swiper-slide" href="#" target="_blank">
              <img src="assets/images/main/partners/aws.png" alt="">
          </a>
          <a class="partner swiper-slide" href="#" target="_blank">
              <img src="assets/images/main/partners/intel.png" alt="">
          </a>
          <a class="partner swiper-slide" href="#" target="_blank">
              <img src="assets/images/main/partners/aws.png" alt="">
          </a>
          <a class="partner swiper-slide" href="#" target="_blank">
              <img src="assets/images/main/partners/apple.png" alt="">
          </a>
          <a class="partner swiper-slide" href="#" target="_blank">
              <img src="assets/images/main/partners/ibm.png" alt="">
          </a>
          <a class="partner swiper-slide" href="#" target="_blank">
              <img src="assets/images/main/partners/google.png" alt="">
          </a>
          <a class="partner swiper-slide" href="#" target="_blank">
              <img src="assets/images/main/partners/autodesk.png" alt="">
          </a>
          <a class="partner swiper-slide" href="#" target="_blank">
              <img src="assets/images/main/partners/cisco.png" alt="">
          </a>
          <a class="partner swiper-slide" href="#" target="_blank">
              <img src="assets/images/main/partners/ibm.png" alt="">
          </a>
      </div>    
  </div>
</section>