<section class="solve solve--industries">
  <div class="solve__intro">
      <div class="section-top vertical white">
          <div class="title-wrapper">
              <h2 class="title">See also similar solutions <br/>in this industry</h2>
              <a class="link-white" href="#">
                  <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect width="32" height="32" rx="16" fill="white"/>
                      <path d="M21.8857 16.4L15.6954 22.8M21.8857 16.4L10 16.3997M21.8857 16.4L15.6954 10" stroke="#212424" stroke-width="1.5"/>
                  </svg>            
                  <span>All stories</span>
              </a>            
          </div>   
      </div>        
  </div>
  <div class="solve__slider">
      <div class="solve__container swiper-container">
          <div class="swiper-wrapper">
              <div class="swiper-slide">
                  <div class="solve__swiper-top">
                      <img class="logo" src="assets/images/main/sber.png" alt="">
                      <h4 class="subtitle">Delivery and Implementation of Citrix NetScaler for West Urals Bank of Sberbank of Russia PJSC</h4>
                  </div>
                  <p class="footnote">Technical Support and Outsourcing</p>
              </div>
              <div class="swiper-slide">
                  <div class="solve__swiper-top">
                      <img class="logo" src="assets/images/main/Olympus.png" alt="">
                      <h4 class="subtitle">Olympus Switched to Smart Document Printing Management</h4>
                  </div>
                  <p class="footnote">Technical Support and Outsourcing</p>
              </div>
              <div class="swiper-slide">
                  <div class="solve__swiper-top">
                      <img class="logo" src="assets/images/main/leti.png" alt="">
                      <h4 class="subtitle">Implementation of projects based on artificial intelligence</h4>
                  </div>
                  <p class="footnote">Technical Support and Outsourcing</p>
              </div>
              <div class="swiper-slide">
                  <div class="solve__swiper-top">
                      <img class="logo" src="assets/images/main/sber.png" alt="">
                      <h4 class="subtitle">Delivery and Implementation of Citrix NetScaler for West Urals Bank of Sberbank of Russia PJSC</h4>
                  </div>
                  <p class="footnote">Technical Support and Outsourcing</p>
              </div>
              <div class="swiper-slide">
                  <div class="solve__swiper-top">
                      <img class="logo" src="assets/images/main/Olympus.png" alt="">
                      <h4 class="subtitle">Olympus Switched to Smart Document Printing Management</h4>
                  </div>
                  <p class="footnote">Technical Support and Outsourcing</p>
              </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
      </div>
  </div>
</section>