
/*@font-face {
    font-family: "Graphik";
    src: url('../fonts/graphiklcg-medium.woff2') format('woff2'),
         url('../fonts/graphiklcg-medium.woff') format('woff'),
         url('../fonts/GraphikLCG-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/GraphikLCGRegular.woff2') format('woff2'),
         url('../fonts/GraphikLCGRegular.woff') format('woff'),
         url('../fonts/GraphikLCGRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
   }*/