$black: #212424;
$grey: #D2DCE5;
$red: #A50F2D;
$bg-color: #EFF1F6;
$bg-dark: #212424;
$footer-color: #697279;
$grey2: #40454E;
$grey3: #AAB8C3;


$xxl-bp: 1920px;
$sr-bp: 1600px;
$xl-bp: 1515px;
$xs-bp: 1100px;
$mid-bp: 1024px;
$sm-bp: 480px;
