$black: #212424;
$grey: #D2DCE5;
$red: #A50F2D;
$bg-color: #EFF1F6;
$bg-dark: #212424;
$footer-color: #697279;
$grey2: #40454E;
$grey3: #AAB8C3;


$xxl-bp: 1920px;
$xl-bp: 1440px;
$mid-bp: 768px;
$sm-bp: 480px;
