<div class="registration regModal getintouch reqcallback" id="request" style="opacity: 0;" hidden>
  <div class="registration__block swipe-on2">
    <div class="getintouch__top-block">
      <div class="registration__wrapper">
        <button class="close-button"><span>Закрыть</span> <span class="close-button__cross"><span
              class="close-icon"></span></span></button>
      </div>
      <p class="registration__title">Заказать звонок</p>
    </div>

    <form action="#">

      <div class="registration__subtitle">Оставьте свои контакты, и мы позвоним вам в ближайшее время</div>

      <input type="text" name="name" placeholder="Ваше имя" required>
      <input type="text" name="company" placeholder="Компания">
      <input type="tel" name="tel" placeholder="Телефон" required>

      <button class="link-red" type="submit">
        <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="32" height="32" rx="16" fill="#A50F2D" />
          <path d="M21.8857 16.4L15.6954 22.8M21.8857 16.4L10 16.3997M21.8857 16.4L15.6954 10" stroke="white"
            stroke-width="1.5" />
        </svg>
        <span>Отправить запрос</span>
      </button>
      <div class="registration__agree">
        Нажимая «Отправить запрос», вы соглашаетесь с условиями нашей Политики конфиденциальности и обработки личных
        данные<br />Этот сайт защищен reCAPTCHA и применяются Политика конфиденциальности Google и Условия обслуживания
      </div>
    </form>
  </div>
</div>