.policies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 7.4rem;

    @include breakpoint($xxl-bp) {
        margin-top: 11.4rem;
    }

    @include breakpoint($xl-bp) {
        margin-top: 7.4rem;
        grid-template-columns: repeat(4, 1fr);
    }

    @include breakpoint($mid-bp) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint($sm-bp) {
        grid-template-columns: repeat(1, 1fr);
    }

    .policy {
        width: 100%;
        height: 29.5rem;
        margin-right: 0;
        margin-left: 0;
        border-right: unset;
        position: relative;
        padding: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        border: unset;
        border-left: 0.1rem solid #D2DCE5;

        &::after {
            display: none;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            .service__inner {
                border-top: 0.1rem solid #D2DCE5;
            }
        }

        &:nth-child(4n + 1) {
            border-left: 0;
        }

        &:hover {
            background-color: #dedfe1;

            .service__inner {
                border-color: transparent;
            }
        }

        @include breakpoint($xl-bp) {
            height: 27.5rem;
        }

        @include breakpoint($mid-bp) {
            border: 0;
            padding: 0;
            position: relative;
            height: 25rem;

            &:nth-child(2n + 1) {
                padding-right: 1rem;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0.1rem;
                    height: calc(100% - 1rem);
                    background-color: #D2DCE5;
                }
            }

            &:nth-child(2n + 2) {
                padding-left: 1rem;
            }

            &:nth-child(3),
            &:nth-child(4) {
                .service__inner {
                    border-top: 0;
                }
            }
        }

        @include breakpoint($sm-bp) {
            height: 28rem;

            &:nth-child(2n + 1) {
                padding-right: 0;

                &::before {
                    content: unset;
                }
            }

            &:nth-child(2n + 2) {
                padding-left: 0;
            }

            &:nth-child(2) {
                .service__inner {
                    border-top: 0;
                }
            }
        }
    }

    .policy__inner {
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        border-bottom: 0.1rem solid #D2DCE5;
        border-top: 0.1rem solid #D2DCE5;
        transform: translateY(1px);

        @include breakpoint($mid-bp) {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        @include breakpoint($sm-bp) {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
    }

    .policy__top {
        @include breakpoint($sm-bp) {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }

    .policy__top_img {
        height: 5rem;
    }

    .policy__text {
        max-width: 70%;

        @include breakpoint($xl-bp) {
            max-width: 100%;
        }
    }
}

.download {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: $red;
    display: flex;
    align-items: center;
    margin-top: 2.2rem;

    img {
        width: 2.4rem;
        margin-right: 1.5rem;
    }
}

.BCG {
    margin-top: 15rem;
}

.policies__title {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
}