.policies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 7.4rem;


    @include breakpoint($xl-bp) {
        margin-top: 2.4rem;
        grid-template-columns: repeat(4, 1fr);
    }

    @include breakpoint($mid-bp) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint($sm-bp) {
        grid-template-columns: repeat(1, 1fr);
    }

    .policy {
        width: 100%;
        height: 23.6rem;
        margin-right: 0;
        margin-left: 0;
        border-right: unset;
        position: relative;
        padding: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        border: unset;
        border-left: 0.1rem solid #D2DCE5;
        text-decoration: none;
        margin-top: -0.1rem;
        transition: background-color .3s;
        .subtitle {
            font-size: 2rem;
            line-height: 1.6;
            @include breakpoint($sm-bp) {
                font-size: 2.05rem;
            }
        }

        &::after {
            display: none;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            .service__inner {
                border-top: 0.1rem solid #D2DCE5;
            }
        }

        &:nth-child(4n + 1) {
            border-left: 0;
        }

        &:hover {
            background-color: #dedfe1;

            .service__inner {
                border-color: transparent;
            }
        }

        @include breakpoint($xl-bp) {
            height: 27.5rem;
        }

        @include breakpoint($mid-bp) {
            border: 0;
            padding: 0;
            position: relative;
            height: 25rem;

            &:nth-child(2n + 1) {
                padding-right: 1rem;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0.1rem;
                    height: calc(100% - 1rem);
                    background-color: #D2DCE5;
                }
            }

            &:nth-child(2n + 2) {
                padding-left: 1rem;
            }

            &:nth-child(3),
            &:nth-child(4) {
                .service__inner {
                    border-top: 0;
                }
            }
        }

        @include breakpoint($sm-bp) {
            height: unset;

            &:nth-child(2n + 1) {
                padding-right: 0;

                &::before {
                    content: unset;
                }
            }

            &:nth-child(2n + 2) {
                padding-left: 0;
            }

            &:nth-child(2) {
                .service__inner {
                    border-top: 0;
                }
            }
        }
    }

    .policy__inner {
        padding-top: 2.9rem;
        padding-bottom: 2.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        border-bottom: 0.1rem solid #D2DCE5;
        border-top: 0.1rem solid #D2DCE5;
        transform: translateY(1px);

        @include breakpoint($mid-bp) {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        @include breakpoint($sm-bp) {
            padding-top: 3rem;
            padding-bottom: 3rem;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
    }

    .policy__top {
        @include breakpoint($sm-bp) {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }

    .policy__top_img {
        height: 5rem;
        @include breakpoint($sm-bp) {
            height: unset;
            width: 5rem;
            min-width: 5rem;
            margin-right: 3.2rem;
        }
    }

    .policy__text {
        max-width: 70%;

        @include breakpoint($xl-bp) {
            max-width: 100%;
        }
    }
}

.download {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: $red;
    display: flex;
    align-items: center;
    margin-top: 2.2rem;
    @include breakpoint($sm-bp) {
        font-size: 15px;
        margin-top: 3.2rem;
    }

    img {
        width: 2.4rem;
        margin-right: 1.5rem;
        @include breakpoint($sm-bp) {
            width: 3rem;
            min-width: 3rem;
            margin-right: 2.2rem;
        }
    }
}

.BCG {
    margin-top: 15rem;
    margin-bottom: 15rem;
    @include breakpoint($xxl-bp) {
        margin-top: 12rem;
        margin-bottom: 12rem;
    }
    @include breakpoint($mid-bp) {
        margin-top: 10rem;
        margin-bottom: 10rem;
    }
    @include breakpoint($sm-bp) {
        margin-top: 7.1rem;
        margin-bottom: 7.1rem;
    }
}

.policies__title {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
}

.BCG__rules-wrapper.wrapper {
    @include breakpoint($sm-bp) {
        padding: 0;
    }
}

.BCG__rules {
    background-size: cover;
    padding: 15rem 20.5rem;
    @include breakpoint($xxl-bp) {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
    @include breakpoint($xl-bp) {
        padding: 10rem 4rem;
    }
    @include breakpoint($mid-bp) {
        padding: 10rem 6rem;
    }
    @include breakpoint($sm-bp) {
        padding: 5rem 2.5rem;
    }

    .title {
        color: #eff1f6;
    }
}

.BCG__rules-wrapper.dark {
    margin-top: 0;
    padding-top: 15rem;
    padding-bottom: 15rem;

    @include breakpoint($xxl-bp) {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
  
    @include breakpoint($mid-bp) {
      padding-top: 10rem;
      padding-bottom: 10rem;
    }
  
    @include breakpoint($sm-bp) {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
    .lined-card {
        border-bottom: 1px solid #40454E;
        border-top: 1px solid #40454E;
    }
}

.BCG__rules_list {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 4rem;
    @include breakpoint($mid-bp) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint($sm-bp) {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
    }

    .lined-card {
        align-items: flex-start;
        min-height: 33.5rem;
        border-color: $grey3;
        width: 100%;
        @include breakpoint($mid-bp) {
            width: 100%; 
            min-height: 31rem;
            &:nth-child(odd) {
                margin-right: 4rem;
            }
            &:nth-child(even) {
                margin-right: 0;
            }
        }
        @include breakpoint($sm-bp) {
            padding-bottom: 2rem;
            min-height: unset;
            width: 100%;
        }

        .BCG__rules_img {
            width: 3rem;
            @include breakpoint($sm-bp) {
                width: 3.5rem;
            }
        }

        p {
            color: #eff1f6;
        }
    }
}