.solve.career {
    width: 100%;
    overflow: auto;

    .section-top {
        padding-top: 15rem;
        @include breakpoint($xxl-bp) {
            padding-top: 12rem;
        }
        @include breakpoint($xl-bp) {
            padding-top: 11rem;
        }
        @include breakpoint($mid-bp) {
            padding-top: 10rem;
            padding-left: 0.5rem;
        }
        @include breakpoint($sm-bp) {
            padding-top: 5rem;
            margin-top: 5rem;
        }
    }

    p, .text-normal {
        color: #eff1f6;
        @include breakpoint($xxl-bp) {
            padding-right: 10%;
        }
        @include breakpoint($xl-bp) {
            max-width: 99%;
        }
    }

    .title {
        max-width: 40rem;
        @include breakpoint($mid-bp) {
            max-width: 100%;
        }
    }

    .title-wrapper {
        @include breakpoint($xl-bp) {
            width: 40%;
        }
        @include breakpoint($mid-bp) {
            margin-left: 3.5rem;
            width: calc(100% - 6rem);
        }
        @include breakpoint($sm-bp) {
            margin-left: 2rem;
            width: calc(100% - 5rem);
        }

        p, .text-normal {
            margin-left: 20.5rem;
            margin-top: 3rem;
            max-width: 65rem;
            @include breakpoint($xxl-bp) {
                margin-left: 15.5rem;
            }
            @include breakpoint($xl-bp) {
                margin-left: 11.5rem;
            }
            @include breakpoint($mid-bp) {
                margin-left: 0;
            }
        }
    }

    .section-top__aside {
        @include breakpoint($mid-bp) {
            margin-left: 3.5rem;
        }
        @include breakpoint($mid-bp) {
            margin-left: 2rem;
        }
        p, .text-normal {
            font-size: 2.4rem;
            max-width: 80%;
            @include breakpoint($xl-bp) {
                max-width: 99%;
            }
        }
    }

    .solve__intro {
        padding-bottom: 7rem;
        min-height: 75.5rem;
        height: unset;
        @include breakpoint($xxl-bp) {
            min-height: 60rem;
            height: unset;
        }
        @include breakpoint($xl-bp) {
            min-height: 53rem;
            height: unset;
        }
        @include breakpoint($mid-bp) {
            position: relative;
            min-height: 40rem;
            padding-bottom: 10rem;
        }
        @include breakpoint($sm-bp) {
            min-height: 51.5rem;
        }

        .footnote {
            max-width: 70%;
        }
    }

    .solve__slider {
        @include breakpoint($mid-bp) {
            margin-top: -4rem;
        }
        @include breakpoint($sm-bp) {
            margin-top: -15rem;
        }
    }
}

.career {
    .informationTechnology__content {
        display: grid;
        gap: 4rem;
        grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/5)), 1fr));
        padding-top: 15rem;
        @include breakpoint($xxl-bp) {
            padding-top: 12rem;
        }
        @include breakpoint($mid-bp) {
            padding-top: 10rem;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
        }
        @include breakpoint($sm-bp) {
            padding-top: 5rem;
            flex-direction: column;
            gap: unset;
        }

        .informationTechnology__block {
            // width: calc(calc(100% - 12rem) / 4);
            margin-bottom: 1rem;
            gap: 3.2rem;
            margin-bottom: 1.4rem;
            @include breakpoint($mid-bp) {
                width: calc(calc(100% - 2rem) / 2);
            }
            @include breakpoint($sm-bp) {
                width: 100%;
                gap: 1.5rem;
                margin-bottom: 0;
                padding-top: 3rem;
                padding-bottom: 3rem;
                border-top: 0;
            }
        }
    }
}

.solve .solve-story__container {
    .swiper-slide {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        height: 36rem;
        // min-height: 36rem;
        @include breakpoint($sm-bp) {
            padding: 1.5rem;
            height: auto;
            height: 33rem;
            position: relative;
        }
        &:hover {
            .story__img  {
                transform: scale(1.01);
            }
            .story__title {
                text-decoration: underline;
            }
        }

        .story__img {
            height: 28rem;
            border-radius: unset;
            min-width: 22rem;
            width: 22rem;
            transition: transform .3s;
            @include breakpoint($sm-bp) {
                height: 21rem;
                border-radius: unset;
                min-width: 17rem;
                width: 17rem;
                position: absolute;
                left: 1.5rem;
                top: 1.5rem;
            }
            
            img {
                width: 100%;
                height: 100%;
                border-radius: unset;
                object-fit: cover;
                object-position: center;
            }
        }

        .story__texts {
            margin-left: 4rem;
            @include breakpoint($sm-bp) {
                margin-left: 0;
                width: 100%;
            }
        }

        .story__title {
            font-size: 2.2rem;
            line-height: 1.5;
            color: $black;
            @include breakpoint($sm-bp) {
                padding-left: 18.5rem;
                min-height: 22.5rem;
                padding-bottom: 1.5rem;
            }
        }

        .story__desc {
            font-size: 1.8rem;
            line-height: 1.5;
            color: #697279;
            margin-top: 2rem;
            @include breakpoint($sm-bp) {
                margin-top: 0;
            }
        }
    }
}


.suggestion.wrapper {
    margin-top: 15rem;
    width: 100%;
    overflow: hidden;
    @include breakpoint($xxl-bp) {
        margin-top: 12rem;
    }
    @include breakpoint($mid-bp) {
        margin-top: 8rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 2rem;
        margin-right: 2rem;
        width: calc(100% - 4rem);
    }
    @include breakpoint($mid-bp) {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        width: calc(100% - 5rem);
        margin-top: 7rem;
    }

    .title {
        max-width: 40%;
        @include breakpoint($xxl-bp) {
            max-width: 50%;
        }
        @include breakpoint($xl-bp) {
            max-width: 65%;
        }
        @include breakpoint($mid-bp) {
            max-width: 73%;
        }
        @include breakpoint($sm-bp) {
            max-width: 100%;
        }
    }

    .suggestion-slider {
        width: 100%;
        @include breakpoint($mid-bp) {
            position: relative;
        }

        .swiper-button-next,
        .swiper-button-prev {
            display: none;
            @include breakpoint($mid-bp) {
                display: flex;
                top: -7rem;
            }
            @include breakpoint($sm-bp) {
                top: 17rem;
            }
        }
        .swiper-button-prev {
            @include breakpoint($mid-bp) {
                left: unset;
                right: 5.5rem;
            }
            @include breakpoint($sm-bp) {
                right: unset;
                left: 0;
            }
        }
    }
}

.photo-gallery {
    width: 100%;
    overflow: hidden;
    margin-top: 14rem;
    @include breakpoint($mid-bp) {
        margin-top: 10rem;
    }
    @include breakpoint($sm-bp) {
        margin-top: 5rem;
    }

    .swiper-container  .swiper-button-next {
        right: -2rem;
        @include breakpoint($mid-bp) {
            display: none;
        }
    }

    .swiper-container  .swiper-button-prev {
        left: -2rem;
        @include breakpoint($mid-bp) {
            display: none;
        }
    }
}

.gallery-slider {
    margin-top: 5rem;
    position: relative;
}

.suggestion__wrapper {
    margin-top: 7.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    @include breakpoint($xl-bp) {
        margin-top: 5rem;
    }
    @include breakpoint($mid-bp) {
        display: flex;
        grid-template-columns: unset;
        gap: unset;
    }
    @include breakpoint($sm-bp) {
        margin-top: 2.8rem;
    }
}

.suggestion__card {
    margin-bottom: 1rem;
}

.suggestion__card_img{
    width: 100%;
    height: 62rem;
    @include breakpoint($xxl-bp) {
        height: 47rem;
    }
    @include breakpoint($xl-bp) {
        height: 35rem;
    }
    @include breakpoint($sm-bp) {
        height: 32.5rem;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.suggestion__card_info {
    margin-top: 2rem;
    @include breakpoint($xxl-bp) {
        margin-top: 2.4rem;
    }

    ul {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 1.56;
        color: #212424;
        margin-top: 3rem;
        @include breakpoint($xxl-bp) {
            max-width: 100%;
        }
        @include breakpoint($sm-bp) {
            font-size: 2.3rem;
        }
    }

    li {
        margin: 1.6rem 0;
        padding: 0;
        padding-left: 2.2rem;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='4' fill='%23A50F2D'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: left top 1.1rem;
    }
}

.suggestion__card {
    @include breakpoint($xxl-bp) {
        margin-bottom: 2rem;
    }
    @include breakpoint($xl-bp) {
        margin-bottom: 1rem;
    }
}

.suggestion__card_title {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    @include breakpoint($sm-bp) {
        font-size: 3.1rem;
    }
}

.suggestion__card_text {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 1.2rem;
    @include breakpoint($sm-bp) {
        font-size: 2.3rem;
    }
}

.gallery__card  {
    height: 42rem;
    @include breakpoint($xl-bp) {
        height: 47rem;
    }
    @include breakpoint($mid-bp) {
        height: 39rem;
    }
    @include breakpoint($sm-bp) {
        height: 28rem;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.stories-slider-new.swiper-container {
    margin-top: 5rem;
    position: relative;
    @include breakpoint($mid-bp) {
        margin-top: 4rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 23rem;
        @include breakpoint($xxl-bp) {
            top: 18rem;
        }
        @include breakpoint($xl-bp) {
            top: 14rem;
        }
        @include breakpoint($mid-bp) {
            display: none;
        }
    }

    .swiper-button-next {
        right: -2rem;
    }

    .swiper-button-prev {
        left: -2rem;
    }

    .story {
        height: auto;
        min-height: unset;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .story__img {
        width: 100%;
        height: 46rem;
        @include breakpoint($xxl-bp) {
            height: 34rem;
        }
        @include breakpoint($xl-bp) {
            height: 25rem;
        }
        @include breakpoint($sm-bp) {
            height: 32rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0;
        }
    }

    .story__texts {
        margin-top: 2.4rem;
    }

    .story__title {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 0em;
        text-align: left;
        color: $black;
    }

    .story__desc {
        margin-top: 1.6rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;
        color: $black;
    }
}

.stories {
    width: 100%;
    overflow: hidden;

    .title {
        @include breakpoint($mid-bp) {
            padding-right: 4rem;
        }
    }

    .above-block {
        @include breakpoint($xl-bp) {
            margin-top: 11rem;
        }
        @include breakpoint($mid-bp) {
            margin-top: 10rem;
        }
        @include breakpoint($sm-bp) {
            margin-top: 5.5rem;
        }
    }
}

.stories-slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 8rem;
    @include breakpoint($xxl-bp) {
        margin-top: 7rem;
    }
    @include breakpoint($xl-bp) {
        margin-top: 6rem;
    }
    @include breakpoint($mid-bp) {
        margin-top: 3rem;
    }
    @include breakpoint($sm-bp) {
        margin-top: 3.5rem;
        overflow: unset;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
        @include breakpoint($xl-bp) {
            display: flex;
        }
    }
}

.story {
    text-decoration: none;
}

.stories {
    .story {
        min-height: 75rem;
        display: grid;
        text-decoration: none;
        @include breakpoint($xxl-bp) {
            min-height: 57rem;
        }
        @include breakpoint($xl-bp) {
            min-height: 43rem;
        }
        @include breakpoint($mid-bp) {
            min-height: 37rem;
        }
        @include breakpoint($sm-bp) {
            min-height: unset;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    
        .story__bg {
            grid-row: 1/1;
            grid-column: 1/1;
            background-repeat: no-repeat;
            background-size: cover; 
            @include breakpoint($sm-bp) {
                grid-row: unset;
                grid-column: unset;
                display: block;
                width: 100%;
                height: 20rem;
            }   
        }
    
        .story__content {
            grid-row: 1/1;
            grid-column: 1/1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding: 3.5rem 4rem;  
            background: rgb(33 36 36 / 30%);
            @include breakpoint($sm-bp) {
                grid-row: unset;
                grid-column: unset;
                justify-content: flex-start;
                padding: 0;
                background: unset;
            }  
        }
    
        div {
            display: flex;
            align-items: center;
            @include breakpoint($sm-bp) {
                margin-top: 7rem;
            }
        }
    
        img {
            width: 7.2rem;
            height: 7.2rem;
            border-radius: 100%;
            margin-right: 2.5rem;
            @include breakpoint($sm-bp) {
                width: 9.2rem;
                height: 9.2rem;    
            }
        }
    }
}

.story__name {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.41;
    letter-spacing: 0em;
    text-align: left;
    color: #eff1f6;
    @include breakpoint($sm-bp) {
        color: $black;
        font-size: 1.96rem;
    }
}

.story__text {
    color: #eff1f6;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.44;
    letter-spacing: -0.01em;
    text-align: left;
    @include breakpoint($sm-bp) {
        color: $black;
        font-size: 2.65rem;
        margin-top: 2.2rem;
    }
}

.download-block.career {
    margin-top: 15rem;
    @include breakpoint($xxl-bp) {
        margin-top: 12rem;
    }
    @include breakpoint($sm-bp) {
        margin-top: 7rem;
    }

    .title {
        margin-bottom: 5rem;
    }

    .download-item  {
        border-top: 0.1rem solid #D2DCE5;
        border-bottom: unset;
        @include breakpoint($sm-bp) {
            padding: 2.6rem 0;
        }

        &:nth-last-child(1) {
            border-bottom: 0.1rem solid #D2DCE5;
        }

        .download-data {
            min-width: 20rem;
            display: inline-block;
            padding-right: 2rem;
            @include breakpoint($xxl-bp) {
                min-width: 30.8rem;
            }
            @include breakpoint($xl-bp) {
                min-width: 22.8rem;
            }
            @include breakpoint($sm-bp) {
                display: none;
            }
        }

        .download-text {
            padding-left: 0;
        }
    }
}

.career.subscribe {
    margin-top: 15rem;
    @include breakpoint($xxl-bp) {
        margin-top: 12rem;
    }
    @include breakpoint($sm-bp) {
        margin-top: 5rem;
    }
}

.motivation-block {
    padding-bottom: 15rem;
    @include breakpoint($xxl-bp) {
        padding-bottom: 12rem;
    }
    @include breakpoint($xl-bp) {
        padding-bottom: 10rem;
    }
    .section-top {
        margin-top: 0;
        padding-top: 21.5rem;
        @include breakpoint($xxl-bp) {
            padding-top: 14rem;
        }
        @include breakpoint($xl-bp) {
            padding-top: 8.5rem;
        }
        @include breakpoint($mid-bp) {
            padding-top: 9.5rem;
        }
        @include breakpoint($sm-bp) {
            padding-top: 5.5rem;
        }
    }

    &.dark {
        
        .informationTechnology__content .informationTechnology__block div:last-child {
            color: #697279;
        }
        .informationTechnology__content .informationTechnology__block .informationTechnology__helper div:last-child {
            color: #eff1f6;
        }
        .informationTechnology__content .informationTechnology__block {
            border-color: #40454E;
        }
    }
}

.callback {
    background-color: #FFFFFF;
    position: relative;
    .footer__btn {
        color: #212424;
        padding: 0;
    }
    .callback__img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }
}
.callback__inner {
    max-width: 90rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;
    position: relative;
    z-index: 1;
    padding: 4rem;
    @include breakpoint($sm-bp) {
        gap: 10rem;
    }
}
.callback__img + .callback__inner {
    padding: 15.6rem 11.7rem;
    flex-direction: column;
    align-items: flex-start;
    @include breakpoint($xl-bp) {
      padding: 8rem 11.7rem;
    }
  
    @include breakpoint($mid-bp) {
      padding: 13.8rem 2.5rem;
    }
  
    @include breakpoint($sm-bp) {
      padding: 5rem 2.5rem;
    }
    .callback__title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 5.2rem;
        line-height: 5.8rem;
        /* or 112% */
    
        letter-spacing: -0.02em;

    
        @include breakpoint($sm-bp) {
          font-size: 4rem;
          line-height: 5rem;
        }
    }
    .footer__btn {
        flex-direction: row-reverse;
        gap: 2rem;
        padding: 0;
        svg {
            margin-left: 0;
            rect {
                fill: #FFFFFF;
            }
            path {
                stroke: #212424;
            }
        }
    }
}
.dark {
    .callback__title {
        color: #eff1f6;
    }
    .footer__btn {
        color: #eff1f6;
    }
}
.callback__title {
    font-size: 3.45rem;
    font-weight: 400;
    line-height: 1.12;
    letter-spacing: -0.02em;
    text-align: left;
}
.opacity-0 {
    opacity: 0;
}