.intro__catalog {
    display: grid;
    height: 71rem;
    @include breakpoint($xxl-bp) {
        height: 55rem;
    }
    @include breakpoint($xl-bp) {
        height: 42rem;
    }
    @include breakpoint($mid-bp) {
        height: 50rem;
    }
    @include breakpoint($sm-bp) {
        height: 46rem;
    }
}

.intro__catalog_bg {
    grid-row: 1/1;
    grid-column: 1/1;
    background-image: url("../images/catalog/intro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.intro__catalog_content {
    grid-row: 1/1;
    grid-column: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3rem 4rem 8.5rem;
    @include breakpoint($xxl-bp) {
        padding-bottom: 9rem;
    }
    @include breakpoint($xl-bp) {
        padding-bottom: 4rem;
    }
    @include breakpoint($mid-bp) {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 4.5rem;
    }
    @include breakpoint($sm-bp) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 3.4rem;
        padding-bottom: 3.5rem;
    }

    h1 {
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1.19;
        letter-spacing: -0.01em;
        text-align: left;
        color: white;
        max-width: 95rem;
        @include breakpoint($sm-bp) {
            font-size: 4.35rem;
            max-width: 80%;
            line-height: 1.25;
        }
    }
}

.intro__catalog_link {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    text-decoration: none;
    transition: color .4s;
    @include breakpoint($sm-bp) {
        font-size: 1.8rem;
    }

    &:hover {
        color: $red;
    }
}

.catalog {
    display: flex;

    .pagination-block {
        padding-left: 0;
        padding-right: 0;
    }
}

.catalog-sidebar {
    width: 35rem;
    min-width: 35rem;
    margin-right: 2rem;
    padding-left: 4rem;
    padding-top: 1rem;
    @include breakpoint($xxl-bp) {
        width: 40rem;
        min-width: 40rem;
        padding-top: 0;
    }
    @include breakpoint($xl-bp) {
        margin-top: 0.6rem;
        width: 35rem;
        min-width: 35rem;
        margin-right: 4rem;
    }
    @include breakpoint($mid-bp) {
        position: fixed;
        width: 100%;
        top: calc(100% + 1rem);
        left: 0;
        display: flex;
        align-items: flex-start;
        z-index: 1000;
        background: white;
        width: 100%;
        height: auto;
        max-height: 70vh;
        padding: 10.3rem .5rem 1rem;
        flex-direction: column;
        border-radius: 2rem 2rem 0 0;
        transition: transform .1s;
    }
    @include breakpoint($sm-bp) {
        padding: 6.5rem 1rem 1rem;
        max-height: 90vh;
    }

    .side-list {
        @include breakpoint($mid-bp) {
            margin-top: 0rem;
            overflow: unset;
            max-height: unset;
        }
    }

    &::before {
        @include breakpoint($mid-bp) {
            content: "";
            width: 12.6rem;
            height: .5rem;
            display: block;
            position: absolute;
            top: 3rem;
            left: 50%;
            transform: translateX(-50%);
            border-radius: .2rem;
            background: #AAB8C3;
        }
        @include breakpoint($sm-bp) {
            width: 5.6rem;
            height: 3px;
            top: 1.5rem;
        }
    }

    .catalog-sidebar__title-mobile {
        @include breakpoint($mid-bp) {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }

    .filter__category {
        @include breakpoint($mid-bp) {
            padding-left: 1.5rem;
        }
    }
}


.side-list {
    @include breakpoint($mid-bp) {
        margin-top: 3rem;
        max-height: 46rem;
        overflow: auto;
        width: 100%;
        flex-grow: 1;
    }
    @include breakpoint($sm-bp) {
        margin-top: 5rem;
    }
}

.catalog-sidebar__close {
    display: none;
    @include breakpoint($mid-bp) {
        display: block;
        position: absolute;
        top: 4.2rem;
        right: 2.2rem;
        width: 2rem;
        height: 2rem;
        background-image: url("../images/close-black.svg");
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0;
        z-index: 5;
        transition: opacity .1s;
    }
    @include breakpoint($sm-bp) {
        top: 2.5rem;
        right: 2.5rem;
        width: 3rem;
        height: 3rem;
    }
}

.catalog-sidebar.show {
    .catalog-sidebar__close {
        opacity: .3;
    }
}


.catalog-sidebar__title-mobile {
    display: none;
    @include breakpoint($mid-bp) {
        display: block;
        font-size: 5.2rem;
        font-weight: 400;
        line-height: 1.12;
        letter-spacing: -0.02em;
        text-align: left;
    }
    @include breakpoint($sm-bp) {
        font-size: 4.15rem;
    }
}

.filter__category {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0em;
    text-align: left;
    color: $black;
    text-decoration: none;
    @include breakpoint($sm-bp) {
        font-size: 2.5rem;
    }
}

.catalog__show-more {
    margin-bottom: 4rem;
}

.catalog {
    .side-list__link {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        padding-right: 5rem;
        @include breakpoint($sm-bp) {
            font-size: 2.05rem;
        }
    }
    .side-list__item {
        margin-bottom: 0;
        transition: .3s;
        @include breakpoint($mid-bp) {
            margin-bottom: 0;
            padding-bottom: 1.6rem;
            padding-left: 1.5rem;
        }
        @include breakpoint($sm-bp) {
            padding-bottom: 3.1rem;
        }
        &::before {
            width: calc(100% + 1rem);
            @include breakpoint($mid-bp) {
                content: "";
                left: 0;
                height: 100%;
            }
        }
    }
    .side-list__item.active {
        &::before {
            width: calc(100% + 1rem);
            @include breakpoint($mid-bp) {
                content: "";
                width: calc(100% - 1rem);
                top: -.8rem;
            }
            @include breakpoint($sm-bp) {
                content: "";
                width: calc(100% + 3rem);
                top: -1.5rem;
                left: -1rem;
            }
        }
        .catalog-sidebar__title {
            @include breakpoint($mid-bp) {
                color: $black;
            }
        }
    }

    .side-list__item.active {
        padding-left: 2rem;
        .side-list__close {
            right: 1.5rem;
            @include breakpoint($mid-bp) {
                display: block;
                right: 2.8rem;
                top: calc(50% - .8rem);
            }
            @include breakpoint($sm-bp) {
                right: 1rem;
                width: 2rem;
                height: 2rem;
                top: calc(50% - 1.5rem);
            }
        }
    } 
}

.catalog-sidebar__list {
    padding-top: 1.8rem;
    max-height: calc(var(--max-h) + 1.8rem);
    overflow: hidden;
    transition: .4s;
    @include breakpoint($mid-bp) {
        max-height: unset;
    }
    @include breakpoint($sm-bp) {
        padding-left: 1.4rem;
        padding-top: 3.5rem;
    }
}

.swipe-el__inner {
    @include breakpoint($mid-bp) {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: calc(100% - 13rem);
        overflow-y: scroll;
    }
    @include breakpoint($sm-bp) {
        max-height: calc(100% - 3rem);
    }
}

.filter__show-more {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    color: $red;
    text-decoration: none;
    padding-top: 0.8rem;
    display: inline-block;
    @include breakpoint($mid-bp) {
        display: none;
    }
}

.filter__show-more.hide {
    display: none;
}

.row {
    margin-top: 4.6rem;
    @include breakpoint($mid-bp) {
        margin-top: 0;
    }
}

.bx-filter-popup-result {
    font-family: "Manrope", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    color: #A50F2D;
    text-decoration: none;
    padding:0;
    padding-top: 0.8rem;
    display: inline-block;
  
    @include breakpoint($sm-bp) {
      font-size: 2.5rem;
    }
    a {
        color: #A50F2D;
    }
}

.filter__wrapper {
    margin-top: 4.6rem;
    @include breakpoint($mid-bp) {
        width: calc(50% - 2rem);
        margin-top: 0;
        margin-bottom: 2.6rem;
        padding-right: 2rem;
    }
    @include breakpoint($sm-bp) {
        width: 100%;
    }
}

.side-checkbox {
    padding-left: .2rem;
    @include breakpoint($mid-bp) {
        padding-left: 1.5rem;
    }
    @include breakpoint($sm-bp) {
        padding-left: 3.4rem;
    }
}

.side-checkbox__item {
    margin-bottom: 1.6rem;
    @include breakpoint($sm-bp) {
        margin-bottom: 3rem;
    }

    label {
        display: grid;
        grid-template-columns: max-content 1fr;
        cursor: pointer;
    }

    .check-box {
        width: 2rem;
        height: 2rem;
        margin-top: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #D2DCE5;
        margin-right: 1.4rem;
        transition: .4s;
        position: relative;
        cursor: pointer;
        @include breakpoint($sm-bp) {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 1.8rem;
        }

        &::before {
            content: "";
            transition: opacity .4s;
            width: 1.2rem;
            height: 0.8rem;
            display: block;
            background-image: url("../images/checkbox.svg");  
            background-repeat: no-repeat;
            background-size: contain;  
            opacity: 0;       
            @include breakpoint($sm-bp) {
                width: 1.8rem;
                height: 1.3rem;
            } 
        }
    }

    .check-box__text {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;
        transition: color .4s;
        @include breakpoint($sm-bp) {
            font-size: 2.05rem;
        }
    }

    input:checked ~ .check-box {
        border: 1px solid $red;
        background: $red;

        &::before {
            opacity: 1;
        }
    }

    input:checked ~ .check-box__text {
        color: $red;
    }
}

.check-input {
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.catalog__terms_wrapper.mobile {
    display: none;
    @include breakpoint($mid-bp) {
        display: flex;
        margin-top: 3.5rem;
        margin-bottom: 2.6rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        gap: 2rem;
    }
    @include breakpoint($sm-bp) {
        margin-top: 3rem;
    }
}

.catalog__filters {
    @include breakpoint($mid-bp) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }
}


.catalog-content {
    width: calc(100% - 43rem);
    padding-top: 6rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-left: 1px solid #D2DCE5;
    @include breakpoint($xxl-bp) {
        padding-top: 5rem;
        width: calc(100% - 52rem);
    }
    @include breakpoint($xl-bp) {
        width: calc(100% - 39rem);
    }
    @include breakpoint($mid-bp) {
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        border-left: unset;
    }
    @include breakpoint($sm-bp) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 0;
    }
}

.stories-padding {
    .catalog-content {
        padding-left: 4rem;
        padding-right: 4rem;
        @include breakpoint($xl-bp) {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

.catalog__input-search {
    position: relative;
    width: 100%;
    @include breakpoint($sm-bp) {
        width: calc(100% + 5rem);
        margin-left: -2.5rem;
    }

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 2rem;
        transform: translateY(-50%);
        width: 2.4rem;
        height: 2.25rem;
        display: block;
        background: url("../images/search.svg") no-repeat;
        background-size: contain;
        opacity: .4;
        @include breakpoint($sm-bp) {
            left: 2.8rem;
            width: 3rem;
            height: 2.8rem;   
        }
    }

    input {
        width: 100%;
        box-sizing: border-box;
        height: 6rem;
        display: flex;
        align-items: center;
        background: #E5E9F1;
        box-shadow: none;
        outline: none;
        border: unset;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 0em;
        text-align: left;
        color: $black;
        padding-left: 6rem;
        @include breakpoint($xl-bp) {
            height: 6.5rem;
        }
        @include breakpoint($sm-bp) {
            height: 7.5rem;
            padding-left: 7.5rem;
            font-size: 1.82rem;
        }


        &::placeholder {
            color: #AAB8C3;
        }
    }
}

.catalog__terms_wrapper {
    display: flex;
    align-items: center;
    margin-top: 5rem;
    flex-wrap: wrap;
    @include breakpoint($xxl-bp) {
        margin-top: 5.5rem;
    }
    @include breakpoint($mid-bp) {
        display: none;
    }
}

.filters__mobile {
    display: none;
    @include breakpoint($mid-bp) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #D2DCE5;
        border-bottom: 1px solid #D2DCE5;
        margin-top: 3.1rem;
        padding-left: 2rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.625;
        letter-spacing: 0em;
        text-align: left;
    }
    @include breakpoint($sm-bp) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        width: calc(100% + 5rem);
        margin-left: -2.5rem;
        margin-top: 0;
        padding-top: 1.8rem;
        font-size: 2.05rem;
    }
}

.filters__mobile_img {
    width: 2.4rem;
    @include breakpoint($sm-bp) {
        width: 3.1rem;
    }
}

.catalog__terms_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    @include breakpoint($sm-bp) {
        gap: 1.7rem;
    }
}

.search-term {
    border: 1px solid $red;
    border-radius: 2.2rem;
    padding: 0.35rem 1.1rem 0.35rem 1.4rem;
    display: flex;
    align-items: center;
    @include breakpoint($sm-bp) {
        padding: 0.35rem 1.3rem 0.35rem 1.6rem;
        border-radius: 22px;
    }
}

.search-term__text {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    @include breakpoint($sm-bp) {
        font-size: 2.05rem;
    }
}

.search-term__close {
    width: 1.4rem;
    height: 1.4rem;
    margin-left: 1.4rem;
    display: block;
    background: url("../images/close-black.svg") no-repeat;
    background-size: contain;
    cursor: pointer;
    @include breakpoint($sm-bp) {
        width: 2rem;
        height: 2rem;
        margin-left: 1.7rem;
    }
}

.catalog__terms_del {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    color: $red;
    text-decoration: none;
    display: inline-block;
    margin-left: 1rem;
    cursor: pointer;
    transition: .4s;
    box-shadow: 0 1px 0 0 transparent;
    @include breakpoint($sm-bp) {
        margin-bottom: 1.7rem;
        font-size: 1.9rem;
        margin-left: 0;
    }

    &:hover {
        box-shadow: 0 1px 0 0 $red;
    }
}

.catalog__top-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5.5rem;
    @include breakpoint($xl-bp) {
        margin-top: 5rem;
    }
    @include breakpoint($mid-bp) {
        margin-top: 3rem;
    }
    @include breakpoint($sm-bp) {
        margin-top: 6.5rem;
    }
}

.catalog__top_btns {
    display: flex;
    align-items: center;
    @include breakpoint($sm-bp) {
        display: none;
    }
}

.catalog__btn-grid,
.catalog__btn-list {
    margin-left: 2rem;
    
    svg {
        width: 2.1rem;
    }
}

.catalog__results {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    color: #AAB8C3;
    @include breakpoint($sm-bp) {
        font-size: 1.82rem;
    }
}

.catalog__services {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    @include breakpoint($mid-bp) {
        margin-top: 1.2rem;
    }

    .service {
        // width: calc(calc(100% - 20rem) / 6);
        border-right: unset;
        // min-height: 29.8rem;
        margin-right: 4rem;
        margin-left: 0;
        padding-left: 0;
        // padding-top: 3.5rem;
        padding-bottom: 2.9rem;
        position: relative;
        margin-top: -0.1rem;
        // @include breakpoint($xxl-bp) {
            width: calc(calc(100% - 12rem) / 4);
            padding-top: 2.5rem;
        // }
        @include breakpoint($xl-bp) {
            width: calc(calc(100% - 8rem) / 3);
        }
        @include breakpoint($mid-bp) {
            width: calc(calc(100% - 2rem) / 2);
            margin-right: 2rem;
            min-height: 23.8rem;
            padding-bottom: 2.4rem;
            padding-right: 1rem;
        }
        @include breakpoint($sm-bp) {
            width: 100%;
            margin-right: 0;
            padding-top: 3.5rem;
            height: unset;
            min-height: 28.5rem;
        }

        &:hover {
            z-index: 1;
            box-shadow: unset;
            border-top: 1px solid $red;
            border-bottom: 1px solid $red;
            .subtitle {
                color: $red;
            }
        }

        .subtitle {
            transition: color .4s;
        }

        .service__top_img {
            height: 4.5rem;
            @include breakpoint($xxl-bp) {
                height: 5.5rem;
            }
            @include breakpoint($sm-bp) {
                height: 7rem;
            }

            img {
                margin-bottom: 0;
            }
        }

        .service__text {
            color: #697279;
            font-size: 1.6rem;
            max-height: 10rem;
            overflow: hidden;
            position: relative;
            @include breakpoint($sm-bp) {
                font-size: 1.92rem;
                line-height: 1.6;
            }
        }

        .dark {
            .service__text--gradient {
                &::before {
                    opacity: 0; 
                }
            }
        }
        .service__text--gradient {
            &::before {
                content: '';
                width: 100%;
                height: 2rem;
                background: -webkit-linear-gradient(0deg, #EFF1F6 5%, transparent);
                background: linear-gradient(0deg,#EFF1F6 5%, transparent); 
                transition:  .2s;
                position: absolute;
                bottom: 0;
                left: 0;
                opacity: 1;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: -2rem;
            height: calc(100% + 0.1rem);
            width: 1px;
            background: #D2DCE5;
            @include breakpoint($mid-bp) {
                right: -1rem;
            }
            @include breakpoint($sm-bp) {
                content: none;
            }
        }

        &:nth-child(6n) {
            // margin-right: 0;
            // @include breakpoint($xxl-bp) {
                margin-right: 4rem;
            // }
            @include breakpoint($mid-bp) {
                margin-right: 2rem;
            }
            @include breakpoint($sm-bp) {
                margin-right: 0;
            }

            &::after {
                // content: none;
                // @include breakpoint($xxl-bp) {
                    content: "";
                // }
                @include breakpoint($sm-bp) {
                    content: none;
                }
            }
        }

        &:nth-child(4n) {
            // @include breakpoint($xxl-bp) {
                margin-right: 0;
            // }
            @include breakpoint($xl-bp) {
                margin-right: 4rem;
            }
            @include breakpoint($mid-bp) {
                margin-right: 2rem;
            }
            @include breakpoint($sm-bp) {
                margin-right: 0;
            }

            &::after {
                // @include breakpoint($xxl-bp) {
                    content: none;
                // }
                @include breakpoint($xl-bp) {
                    content: "";
                }
                @include breakpoint($sm-bp) {
                    content: none;
                }
            }
        }

        &:nth-child(3n) {
            @include breakpoint($xl-bp) {
                margin-right: 0;
            }
            @include breakpoint($mid-bp) {
                margin-right: 2rem;
            }
            @include breakpoint($sm-bp) {
                margin-right: 0;
            }

            &::after {
                @include breakpoint($xl-bp) {
                    content: none;
                }
                @include breakpoint($mid-bp) {
                    content: "";
                }
                @include breakpoint($sm-bp) {
                    content: none;
                }
            }
        }

        &:nth-child(2n) {
            @include breakpoint($mid-bp) {
                margin-right: 0;
            }

            &::after {
                @include breakpoint($mid-bp) {
                    content: none;
                }
            }
        }
    }
}

.catalog__btn-grid.active {
    rect {
        stroke: #40454E;
    }
}

.catalog__btn-list.active {
    rect {
        fill: #40454E;
    }
}

.catalog__services[data-type="list"] {
    .service {
        width: calc(50% - 6.4rem);
        margin-right: 12.8rem;
        min-height: 9.1rem;
        height: unset;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-top: unset;
        padding-bottom: unset;
        padding-right: 4rem;
        @include breakpoint($xxl-bp) {
            display: grid;
            grid-template-columns: 46.5rem 1fr;
            gap: 1rem;
            width: 100%;
            margin-right: 0;    
            min-height: 8.9rem;   
            height: unset;     
        }
        @include breakpoint($xl-bp) {
            min-height: 9rem; 
            height: unset;       
        }
        @include breakpoint($mid-bp) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            min-height: 20rem;
            height: unset;
            justify-content: space-between;
            padding-top: 3.7rem;
            padding-bottom: 2.5rem;
        }

        &::after {
            @include breakpoint($xxl-bp) {
                content: none;
            }
        }


        &:nth-child(2n) {
            margin-right: 0;

            &::after {
                content: none;
            }
        }
    }

    .service__text {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .service__top {
        margin-bottom: 0;
    }

    .service__top_img {
        height: unset;
        margin-right: 4rem;
        @include breakpoint($mid-bp) {
            height: 5rem;
            margin-right: 0;
        }
    }

    .service__top {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 36.5rem;
        @include breakpoint($xxl-bp) {
            min-width: 46.5rem;
        }
        @include breakpoint($mid-bp) {
            min-width: unset;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .subtitle {
        font-size: 2rem;
    }
    .service__text {
        @include breakpoint($mid-bp) {
            font-size: 1.5rem;
        }
    }
}

.catalog__show-more.show-more {
    @include breakpoint($xxl-bp) {
        margin-top: 4rem;
    }
}