.employee {
    .pagination-block {
        margin-top: 2.8rem;
    }
}

.employee__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    margin-top: 15rem;
    padding-bottom: 4.7rem;
    border-bottom: 1px solid #D2DCE5;
    grid-auto-flow: dense;
    @include breakpoint($xxl-bp) {
        margin-top: 12rem;
    }
    @include breakpoint($xl-bp) {
        margin-top: 5.2rem;
    }
    @include breakpoint($mid-bp) {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 6rem;
        gap: 2rem;
    }
    @include breakpoint($sm-bp) {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 5rem;
    }
}

.employee-block {
    grid-column: span 1;
    height: 60.7rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-bottom: 3.3rem;
    @include breakpoint($xxl-bp) {
        height: 50.5rem;
    }
    @include breakpoint($xl-bp) {
        min-height: 44rem;
        height: auto;
    }
    @include breakpoint($mid-bp) {
        margin-bottom: 4rem;
    }
    @include breakpoint($sm-bp) {
        min-height: 41rem;
        margin-bottom: 3rem;
    }

    .employee-block__bg {
        height: 29rem;
        width: 100%;
        position: relative;
        @include breakpoint($xxl-bp) {
            height: 21.5rem;
        }
        @include breakpoint($xl-bp) {
            height: 15.5rem;
        }
        @include breakpoint($sm-bp) {
            height: 19.5rem;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(33, 36, 36, .3);
            display: block;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .employee-block__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 2rem;
        padding-right: 4rem;
        @include breakpoint($xl-bp) {
            padding-right: 0rem;
            padding-top: 1rem;
        }
        @include breakpoint($mid-bp) {
            padding-top: 2.8rem;
        }
        @include breakpoint($sm-bp) {
            padding: 2.7rem 0 .5rem;
        }
    }

    .employee-block__bottom {
        display: flex;
        align-items: center;
        @include breakpoint($xl-bp) {
            margin-top: 1rem;
        }
        @include breakpoint($sm-bp) {
            margin-top: 3.5rem;
        }

        span {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0em;
            text-align: left;
            color: $black;
            @include breakpoint($xl-bp) {
                line-height: 1.3;
            }
            @include breakpoint($sm-bp) {
                font-size: 1.95rem;
                line-height: 1.5;
            }
        }

        img {
            width: 7.2rem;
            min-width: 7.2rem;
            height: 7.2rem;
            border-radius: 100%;
            margin-right: 2.4rem;
            @include breakpoint($sm-bp) {
                width: 9.2rem;
                min-width: 9.2rem;
                height: 9.2rem;    
            }
        }
    }
}

.employee-block__text {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    color: $black;
    text-decoration: none;
    @include breakpoint($xl-bp) {
        line-height: 1.4;
    }
    @include breakpoint($sm-bp) {
        font-size: 2.55rem;
        line-height: 1.44;
    }
}

.employee-block.big {
    grid-column: span 2;
    display: grid;
    @include breakpoint($sm-bp) {
        grid-column: span 1;
    }

    .employee-block__bg {
        grid-row: 1/1;
        grid-column: 1/1;
        height: 100%;
        z-index: 1;
        &::before {
            content: none;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .employee-block__content {
        grid-row: 1/1;
        grid-column: 1/1;
        background: rgba(33, 36, 36, .3);
        z-index: 2;
        padding: 3.2rem 4rem 4rem;
        @include breakpoint($sm-bp) {
            padding: 4.2rem 2.5rem 5rem;
        }
    }

    .employee-block__text {
        color: #eff1f6;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.44;
        letter-spacing: -0.01em;
        text-align: left;
        @include breakpoint($sm-bp) {
            font-size: 3.15rem;
        }
    }

    .employee-block__bottom {
        span {
            color: #eff1f6;
        }
    }
}

.news-page.story-employee {
    
    .story-p__img-wrap {
        max-width: 119rem;
        margin: 0 auto;
        @include breakpoint($xxl-bp) {
            max-width: 90rem;
        }
        
        img {
            width: 100%;
        }
    }

    .avatar-block .img-wrapper {
        width: 15rem;
        height: 15rem;
        @include breakpoint($mid-bp) {
            width: 14.7rem;
            height: 14.7rem;
        }
        @include breakpoint($sm-bp) {
            width: 8rem;
            height: 8rem;
        }
    }

    .story-p__img  {
        .news-page__contest {
            max-width: 119rem;
            margin: 0 auto;   
            @include breakpoint($xxl-bp) {
                max-width: 90rem;
            } 
            @include breakpoint($sm-bp) {
                font-size: 1.95rem;
                line-height: 1.6;
            }
        }
    }

    .unite-block {
        max-width: 119rem;
        margin: 8rem auto 0;   
        @include breakpoint($xxl-bp) {
            max-width: 90rem;
        }
        @include breakpoint($mid-bp) {
            padding-left: 2rem;
            padding-right: 2rem;
            margin-top: 3.5rem;
        } 
        @include breakpoint($sm-bp) {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            margin-top: 7rem;
        }

        .man36 {
            @include breakpoint($mid-bp) {
                font-size: 3.6rem;  
                line-height: 1.44;              
            }
        }
    }

    .center-block {
        @include breakpoint($mid-bp) {
            order: 4;
            width: 100%;
        }
        @include breakpoint($sm-bp) {
            margin-top: 6rem;
        }

        .man36 {
            font-size: 3.15rem;
            line-height: 1.5;
        }

        .text-wrapper {
            max-width: 123rem;
            @include breakpoint($xxl-bp) {
                max-width: 94rem;
            }
            @include breakpoint($sm-bp) {
                padding-left: 2.5rem;
                padding-right: 2.5rem;
            }
        }
    
        .text-wrapper__first {
            @include breakpoint($mid-bp) {
                padding-bottom: 6rem;   
                padding-top: 0;         
            }
        }
    }

    .sticky-wrapper {
        // padding-left: 20.5rem;
        // padding-right: 20.5rem;
        padding-top: 7rem;
        @include breakpoint($xxl-bp) {
            padding-left: 0;
            padding-right: 0;
        }
        @include breakpoint($mid-bp) {
            display: flex;
            flex-wrap: wrap;
            padding-top: 4.5rem;
        }

        & > .line {
            @include breakpoint($mid-bp) {
                order: 3;
                margin-bottom: 1rem;
            }
            @include breakpoint($sm-bp) {
                margin-bottom: 3rem;
            }
        }
    }

    .pb10 {
        padding-bottom: 0;
        @include breakpoint($xxl-bp) {
            padding-bottom: 0;
        }
        @include breakpoint($mid-bp) {
            padding-bottom: 0;
        }
    }

    .text-wrapper.bottom {
        margin-top: 10rem;
        @include breakpoint($xxl-bp) {
            margin-top: 8rem;
        }
        @include breakpoint($mid-bp) {
            margin-top: 6rem;
        }
    }

    .stories {
        margin-top: 15rem; 
        @include breakpoint($xxl-bp) {
            margin-top: 12rem; 
        }
        @include breakpoint($mid-bp) {
            margin-top: 7.5rem; 
        }
    }

    .press-contacts {
        justify-content: flex-start;
        padding-top: 1rem;
        @include breakpoint($mid-bp) {
            padding-top: 3rem;
        }

        .links {
            justify-content: flex-start;
        }
    }

    .block-line {
        margin-top: 0;
        margin-bottom: 7rem;
        @include breakpoint($mid-bp) {
            margin-bottom: 5.5rem;
        }
        @include breakpoint($sm-bp) {
            margin-bottom: 6.5rem;
        }
    }

    .story-p__img {
        margin-top: 8rem;
        @include breakpoint($mid-bp) {
            margin-top: 6rem;
        }
        @include breakpoint($sm-bp) {
            margin-top: 5rem;
        }

        .story-p__img-wrap {
            width: 100%;
            height: 43rem;
            @include breakpoint($sm-bp) {
                height: 33rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    // .insights-title {
    //     margin-top: 7rem;
    //     font-size: 5.1rem;
    //     line-height: 1.2;
    //     color: $black;
    //     @include breakpoint($mid-bp) {
    //         margin-top: 4rem;
    //         font-size: 5.2rem;
    //         line-height: 1.12;
    //     }
    //     @include breakpoint($sm-bp) {
    //         margin-top: 6rem;
    //         font-size: 4.35rem;
    //         line-height: 1.22;
    //     }
    // }

    .story-employee__data {
        display: flex;
        align-items: center;
        margin-top: 3.2rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 0em;
        text-align: left;
        color: $red;
        @include breakpoint($sm-bp) {
            margin-top: 2.2rem;
        }

        span {
            color: #697279;
            margin-left: 2rem;
            @include breakpoint($sm-bp) {
                margin-left: 3rem;
            }
        }

    }

    .sticky-wrapper__block {
        @include breakpoint($mid-bp) {
            order: 2;
            width: 100%;
        }
    }

    .sticky-wrappper__block.right-block{
        @include breakpoint($mid-bp) {
            order: 1;
            width: 100%;
        }
         .links {
            align-items: flex-start;
            @include breakpoint($xxl-bp) {
                align-items: flex-end;
            }
            @include breakpoint($mid-bp) {
                align-items: flex-start;
                padding-left: 0;
                flex-direction: row;
                justify-content: flex-start;
            }
            @include breakpoint($sm-bp) {
                align-items: flex-end;
                padding-left: 2rem;
                padding-top: 1rem;
            }
        }
    }

    .avatar-block {
        @include breakpoint($mid-bp) {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 9rem;
            gap: 2rem;
        }
        @include breakpoint($sm-bp) {
            padding-top: 1rem;
            display: none;
        }

        .img-wrapper {
            @include breakpoint($mid-bp) {
                width: 10rem;
                height: 10rem;
            }
        }

        .avatar-name {
            @include breakpoint($mid-bp) {
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: 0em;
                max-width: 18rem;
            }
        }
    }

    .line {
        @include breakpoint($mid-bp) {
            display: none;
        }
    }
}

.employee-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.4);
    z-index: 200;
    display: none;
    opacity: 0;
    transition: opacity .4s;

    .close-employee {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        display: flex;
        align-items: center;
        gap: 2.4rem;
        color: #212424;
        padding: 1.2rem 1.2rem 1.2rem 2.4rem;
        border: 0.1rem solid #D2DCE5;
        border-radius: 10rem;
        height: min-content;
        position: relative;
        top: -2rem;
        transition: background-color 0.3s;
        z-index: 5;
        position: absolute;
        right: 3rem;
        top: 3rem;
        z-index: 5;
        background: white;
        @include breakpoint($mid-bp) {
            border: unset;
            padding: unset;
            right: 0.5rem;
            top: 1.5rem;
            background: unset;
        }

    
        span {
            @include breakpoint($mid-bp) {
                display: none;
            }
        }
    
        &:hover {
            border-color: #40454E;
    
            .close-employee__cross {
                background-color: #40454E;
    
                &::after,
                &::before {
                    background-color: #FFFFFF;
                }
            }
        }
    
        .close-employee__cross {
            position: relative;
            display: block;
            width: 2.8rem;
            height: 2.8rem;
            background: rgba(210, 220, 229, 0.3);
            border-radius: 50%;
            @include breakpoint($mid-bp) {
                display: block;
                background: unset;
                width: 5.8rem;
                height: 5.8rem;   
            }
            @include breakpoint($mid-bp) {
                width: 7.8rem;
                height: 7.8rem;   
            }
    
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 50%;
                height: 0.2rem;
                background-color: #AAB8C3;
                transition: color 0.3s;
                transform: translate(-50%, -50%) rotate(-45deg);
                @include breakpoint($mid-bp) {
                    background: #D2DCE5;
                }
            }
    
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 50%;
                height: 0.2rem;
                background-color: #AAB8C3;
                transform: translate(-50%, -50%) rotate(45deg);
                transition: color 0.3s;
                @include breakpoint($mid-bp) {
                    background: #D2DCE5;
                }
            }
        }
    }

    .employee__block {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        @include breakpoint($mid-bp) {
            align-items: flex-end;
        }
    }
    
    .employee__wrapper-modal {
        display: flex;
        flex-direction: column;
        width: 70.8rem;
        height: 100%;
        background: #F0F2F6;;
        @include breakpoint($mid-bp) {
            width: 100%;
            border-radius: 12px 12px 0 0;
            overflow: auto;
            flex-direction: column;
            position: relative;
            height: auto;
            max-height: 94%;
        }
    }
        
    .employee__text-block {
        padding: 4.8rem;
        height: 100%;
        overflow-y: auto;
        @include breakpoint($mid-bp) {
            height: unset;
            overflow: unset;
            padding: 4.2rem 2rem;
        }
        @include breakpoint($sm-bp) {
            padding: 6.2rem 2.5rem;
            display: flex;
            flex-direction: column;
        }
    }

    .employee__top-wrap {
        display: flex;
        align-items: center;
        @include breakpoint($sm-bp) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .employee__avatar_text {
        display: flex;
        flex-direction: column;
        margin-left: 3.2rem;
        @include breakpoint($sm-bp) {
            margin-left: 0;
            margin-top: 2.55rem;
        }
    }

    .employee__avatar_name {
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.44;
        letter-spacing: -0.01em;
        text-align: left;
        color: $black;
    }

    .employee__avatar {
        width: 12rem;
        min-width: 12rem;
        height: 12rem;
        border-radius: 100%;
    }

    .employee__avatar_position {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;
        color: #697279;
    }

    .employee__descr {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 3.2rem;
        @include breakpoint($sm-bp) {
            order: 5;
            font-size: 2.55rem;
            font-weight: 500;
            line-height: 1.4;
        }
    }

    .employee__text {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 3rem;
        color: #697279;
        @include breakpoint($sm-bp) {
            order: 6;
            font-size: 2.05;
        }
    }
}


.employee-modal.show {
    opacity: 1;
}

.employee__success {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    margin: 15rem 0 0;
    width: 100%;
    overflow: hidden;
    @include breakpoint($xxl-bp) {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 12rem;
    }
    @include breakpoint($xl-bp) {
        grid-template-columns: 1fr 1fr;
        margin-top: 10rem;
    }
    @include breakpoint($mid-bp) {
        margin-top: 7rem;
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .story-success {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        height: 36rem;
        min-height: 36rem;
        text-decoration: none;
        @include breakpoint($mid-bp) {
            height: auto;
            margin-bottom: 2rem;
            position: relative;
            padding: 1.5rem;
            height: auto;
            min-height: 33rem;
            position: relative;
            max-width: calc(50% - 1rem);
        }
        @include breakpoint($sm-bp) {
            max-width: 100%;
        }

        &:hover {
            .story__img  {
                transform: scale(1.01);
            }
            .story__title {
                text-decoration: underline;
            }
        }

        .story__img {
            height: 28rem;
            border-radius: unset;
            min-width: 22rem;
            width: 22rem;
            transition: transform .3s;
            @include breakpoint($mid-bp) {
                height: 21rem;
                border-radius: unset;
                min-width: 17rem;
                width: 17rem;
                position: absolute;
                left: 1.5rem;
                top: 1.5rem;
            }
            
            img {
                width: 100%;
                height: 100%;
                border-radius: unset;
                object-fit: cover;
                object-position: center;
            }
        }

        .story__texts {
            margin-left: 4rem;
            @include breakpoint($mid-bp) {
                margin-left: 0;
                width: 100%;
            }
        }

        .story__title {
            font-size: 2.2rem;
            line-height: 1.5;
            color: $black;
            @include breakpoint($mid-bp) {
                padding-left: 18.5rem;
                min-height: 22.5rem;
                padding-bottom: 1.5rem;
            }
        }

        .story__desc {
            font-size: 1.8rem;
            line-height: 1.5;
            color:  #697279;
            margin-top: 2rem;
            @include breakpoint($mid-bp) {
                margin-top: 0;
            }
        }
    }
}

.employee__offers {
    p {
        margin-top: 7rem;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left; 
        @include breakpoint($sm-bp) {
            margin-top: 5rem;
            font-size: 2.6rem;
        }
    }
}

.employee__text-normal {
    margin-top: 15rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 2rem;
    position: relative;
    @include breakpoint($xxl-bp) {
        margin-top: 12rem;
    }
    @include breakpoint($xl-bp) {
        margin-top: 10rem;
    }
    @include breakpoint($mid-bp) {
        margin-top: 7rem;
    }
    @include breakpoint($sm-bp) {
        line-height: 1.6;
        font-size: 2.05rem;
    }
}

