.footer {
    background: $bg-dark;
    padding: 7rem 4rem 5rem;
    @include breakpoint($mid-bp) {
        padding: 6rem 2rem 5rem;
    }
    @include breakpoint($sm-bp) {
        padding: 4.5rem 2.5rem 5rem;
    }
}

.footer__top {
    display: flex;
    align-items: center;
    padding-bottom: 5rem;
    border-bottom: 1px solid #40454E;
    @include breakpoint($mid-bp) {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 5.5rem;
    }
    @include breakpoint($sm-bp) {
        padding-bottom: 3.5rem;
    }
}

.footer__top_text {
    font-size: 3.45rem;
    font-weight: 400;
    line-height: 1.12;
    letter-spacing: -0.02em;
    text-align: left;
    color: white;
    display: inline-block;
    width: 89rem;
    @include breakpoint($xxl-bp) {
        width: 78rem;
    }
    @include breakpoint($xl-bp) {
        width: 70.6rem;
    }
    @include breakpoint($mid-bp) {
        width: unset;
    }
    @include breakpoint($sm-bp) {
        font-size: 4.15rem;
    }
}

.footer__top_btns {
    display: flex;
    flex-direction: column;
    @include breakpoint($mid-bp) {
        margin-top: 4rem;
    }
    @include breakpoint($sm-bp) {
        margin-top: 10rem;
    }
}

.footer__btn {
    text-decoration: none;
    color: white;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.65;
    text-align: left;
    display: flex;
    align-items: center;
    border: 0;
    background-color: unset;
    @include breakpoint($sm-bp) {
        font-size: 3.15rem;
    }

    svg {
        width: 3.2rem;
        height: 3.2rem;
        margin-left: 1.6rem;
        transition: transform .4s;
        @include breakpoint($sm-bp) {
            width: 4.1rem;
            height: 4.1rem;
            margin-left: 1.6rem;
        }
    }

    h3 {
        font-weight: inherit;
        font-size: inherit;
        transition: .4s;
        box-shadow: 0 1px 0 0 transparent;
    }

    &:hover {
        h3 {
            box-shadow: 0 1px 0 0 $red;
        }
        svg {
            transform: translateX(.4rem);
        }
    }

}

.footer__bottom {
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    @include breakpoint($xxl-bp) {
        padding-top: 5.5rem;
    }
    @include breakpoint($mid-bp) {
        padding-top: 6rem;
    }
}

.footer__nav {
    display: flex;
    @include breakpoint($mid-bp) {
        width: 100%;
        justify-content: space-between;
        order: 1;
    }
    @include breakpoint($sm-bp) {
        flex-wrap: wrap;
    }
}

.footer__list {
    width: 44.5rem;
    padding-right: 3rem;
    @include breakpoint($xxl-bp) {
        width: 39rem;
    }
    @include breakpoint($xl-bp) {
        width: 35.3rem;
    }
    @include breakpoint($mid-bp) {
        width: unset;
        padding-right: 0;
    }
    @include breakpoint($sm-bp) {
        width: 47%;
    }

    &:nth-child(3) {
        @include breakpoint($sm-bp) {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

            .footer__item {
                width: 47%;
            }
        }
    }
}

.footer__selects {
    width: calc(100% - 133.5rem);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include breakpoint($xxl-bp) {
        width: calc(100% - 117rem);
        margin-top: 1.1rem;
    }
    @include breakpoint($xl-bp) {
        width: calc(100% - 105.9rem);
    }
    @include breakpoint($mid-bp) {
        width: 35%;
        order: 3;
        margin-top: 5rem;
    }
    @include breakpoint($sm-bp) {
        order: 2;
        width: 100%;
        margin-top: 7rem;
    }
}

.footer__link {
    color: $footer-color;
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3.6rem;
    letter-spacing: 0em;
    text-align: left;
    transition: color .4s;
    @include breakpoint($mid-bp) {
        font-size: 1.8rem;
    }
    @include breakpoint($sm-bp) {
        font-size: 2.05rem;
    }

    &:hover {
        color: white;
    }
}

.footer__item {
    margin-bottom: 1.8rem;
    @include breakpoint($xxl-bp) {
        margin-bottom: 2.3rem;
    }
}

.footer__info {
    width: 100%;
    margin-top: 12rem;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 44.5rem) 1fr;
    @include breakpoint($xxl-bp) {
        margin-top: 11rem;
        grid-template-columns: repeat(3,39rem) 1fr;
    }
    @include breakpoint($xl-bp) {
        grid-template-columns: repeat(2, 35.3rem) 35rem 1fr;
    }
    @include breakpoint($mid-bp) {
        display: flex;
        width: 65%;
        order: 2;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    @include breakpoint($sm-bp) {
        order: 3;
        width: 100%;
        margin-top: 1rem;
        justify-content: space-between;
    }

    & > * {
        font-size:  1.6rem;
        font-weight: 500;
        line-height: 2.4rem;
        letter-spacing: 0em;
        text-align: left;
        color: $footer-color;
        text-decoration: none;
        @include breakpoint($mid-bp) {
            width: 44%;
            margin-right: 1%;
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
        @include breakpoint($sm-bp) {
            width: 43%;
            margin-right: 0;
            font-size: 1.8rem;
            margin-top: 1rem;
        }
        &:nth-child(1) {
            order: 1;
        }
        &:nth-child(2) {
            order: 3;
        }
        &:nth-child(3) {
            order: 2;
        }
        &:nth-child(4) {
            order: 3;
        }
    }


    a {
        transition: color .4s;

        &:hover {
            color: $red;
        }
    }
}

.footer__info-link {
    display: flex;
    justify-content: flex-end;
    @include breakpoint($mid-bp) {
        justify-content: flex-start;
    }
    a {

        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.4rem;
        letter-spacing: 0em;
        text-align: left;
        color: $footer-color;
        text-decoration: none;

        width: 44.5rem;
        @include breakpoint($xxl-bp) {
            width: 31rem;
        }
        @include breakpoint($mid-bp) {
            width: auto;
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
    }
}

.footer__selects {

    .__select {
        padding: 0;
        text-transform: unset;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;
        color: $footer-color;
        width: 44.5rem;
        margin-bottom: 4rem;
        @include breakpoint($xxl-bp) {
            width: 31rem;
        }
        @include breakpoint($sm-bp) {
            width: 100%;
            font-size: 2.05rem;
        }
    }

    .__select__title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;
        color: $footer-color;

        padding: 0 0 2rem;
        border-bottom: 1px solid $footer-color;
        @include breakpoint($sm-bp) {
            font-size: 2.05rem;
        }
    }

    .__select__title::after {
        background: url(../images/arr-footer.svg) no-repeat;
        width: 12px;
        height: 6px;
    }
}