
.swiper-container-wrapper--timeline .swiper-slide {
    display: flex;
    background: #fff;
    min-height: 300px;
    align-items: center;
    justify-content: center;
}

.swiper-container-wrapper--timeline .swiper-slide .container {
    padding: 0;
    width: 100%;
}

.swiper-container-wrapper--timeline .swiper-pagination-progressbar {
    position: relative;
    margin-bottom: 8rem;
    margin-top: 2.7rem;
    background-color: #D2DCE5;
    height: 0.1rem;
    width: 100%;
}

.swiper-container-wrapper--timeline .swiper-pagination-progressbar-fill {
    background-color: #A50F2D;
    height: 0.1rem;
    top: 0;
}
.progressbar__custom {
    width: 100%;
    height: 0.1rem;
    position: relative;
    margin-bottom: 8rem;
    margin-top: 2.7rem;
    background-color: #D2DCE5;
    @include breakpoint($mid-bp) {
        margin-bottom: 6rem;
    }
    @include breakpoint($sm-bp) {
        margin-bottom: 5rem;
    }
    .progressbar__inner {
        background-color: #A50F2D;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scaleX(0);
        transform-origin: left top;
        transition: transform .2s;
    }
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar:after {
    position: absolute;
    top: 3px;
    right: -100%;
    width: 100%;
    height: 1px;
    // background-color: #A50F2D;
    content: "";
}

.timeline {
    // overflow: hidden;
    position: relative;
    @include breakpoint($sm-bp) {
        margin-top: 5rem;
    }
    .container {
        overflow: hidden;
    }
    .swiper-button-prev {
        position: static;
    }
    .swiper-button-next {
        position: static;
    }
    .swiper-button-next,
    .swiper-button-prev {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background: white;
        box-shadow: 0 0 4px transparent;
        transition: .4s;

        &:hover {
            box-shadow: 0 0 5px $grey;
        }
    
    }

    .swiper-button-next {
        right: 0;
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next:after, .swiper-button-prev:after {
        content: "";
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        background: url("../images/btn-slider.svg") no-repeat;
        background-size: contain;
    }

    .swiper-button-prev:after {
        transform: scale(-1, 1);
    }
    .swiper-button__container {
        position: absolute;
        bottom: -4rem;
        right: 4rem;
        display: flex;
        gap: 1.2rem;
        @include breakpoint($mid-bp) {
            display: none;
        }
    }
    .swiper-pagination {
        // display: none;
    }
    .date {
        font-weight: 400;
        font-size: 3.6rem;
        line-height: 5.2rem;
        /* identical to box height, or 144% */
        
        letter-spacing: -0.01em;
        
        /* UI / Accent */
        
        color: #A50F2D;
        padding-bottom: 1.6rem;
    }
    .timeline__title {
        padding-bottom: 2.4rem;
    }
    .timeline__swiper {
        padding-left: 4rem;
        padding-right: 4rem;
        @include breakpoint($mid-bp) {
            padding-right: 2rem;
            padding-left: 2rem;
        }
        .swiper-slide {
            display: grid;
            grid-template-columns: min-content 1fr;
            gap: 6rem;
            align-items: flex-start;
            width: auto;
            background-color: unset;
            margin-right: 8rem;
            transition: opacity .3;
            @include breakpoint($xxl-bp) {
                margin-right: 9rem;
            }
            @include breakpoint($xl-bp) {
                margin-right: 10rem;
                gap: 5.6rem;
                opacity: 0.4;
            }
            @include breakpoint($mid-bp) {
                align-items: center;
            }
            @include breakpoint($sm-bp) {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 38rem;
                margin-right: 3.2rem;
                gap: 1.6rem;
            }
            .img-wrapper {
                width: 57.5rem;
                height: 57.5rem;
                transition: opacity .3s;
                filter: grayscale(1);
                @include breakpoint($xxl-bp) {
                    width: 43.4rem;
                    height: 43.4rem;
                }
                @include breakpoint($xl-bp) {
                    width: 19.3rem;
                    height: 19.3rem;
                }
                @include breakpoint($mid-bp) {
                    width: 20rem;
                    height: 20rem;
                }
                @include breakpoint($sm-bp) {
                    width: 29rem;
                    height: 29rem;
                }
            }
        }
        .swiper-slide-active {
            @include breakpoint($xl-bp) {
                opacity: 1;
            }
            .img-wrapper {
                filter: grayscale(0);
                @include breakpoint($xl-bp) {
                    width: 46.7rem;
                    height: 46.7rem;
                }
                @include breakpoint($mid-bp) {
                    width: 20rem;
                    height: 20rem;
                }
                @include breakpoint($sm-bp) {
                    width: 29rem;
                    height: 29rem;
                }
            }
        }
    }
    .timeline__swiper-2 {
        display: none;
        padding-right: 4rem;
        padding-left: 4rem;
        @include breakpoint($mid-bp) {
            display: block;
            height: min-content;
            padding-right: 2rem;
            padding-left: 2rem;
        }
        .swiper-wrapper {
            height: min-content;
        }
        .swiper-slide {
            width: min-content;
            height: min-content;
            min-height: unset;
            background-color: transparent;
            opacity: 0.4;
            .title {
                font-weight: 500;
                font-size: 2.4rem;
                line-height: 3.6rem;
                /* identical to box height, or 150% */
                
                
                /* UI/Black/High */
                
                color: #212424;
                
            }
        }
        .swiper-slide-active {
            opacity: 1;
        }
    }
    .timeline__container {
        width: 51.5rem;
        @include breakpoint($xxl-bp) {
            width: 36rem;
        }
        @include breakpoint($xl-bp) {
            width: 46rem;
        }
        @include breakpoint($mid-bp) {
            width: 44.6rem;
        }
        @include breakpoint($sm-bp) {
            width: 100%;
        }
    }
    .desc {
        font-weight: 500;
        font-size: 2rem;
        line-height: 3.2rem;
        /* or 160% */
        
        
        /* UI/Black/Medium */
        
        color: #40454E;
    }
}

.progressbar {
    .info {
        width: 3.2rem;
        height: 3.2rem;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='32' height='32' rx='16' fill='%23A50F2D'/%3E%3Cpath d='M16 13V24' stroke='white' stroke-width='2.5'/%3E%3Cpath d='M16 7L16 10' stroke='white' stroke-width='2.5'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: 3.2rem 3.2rem;
    }
    .progressbar__container {
        align-items: center;
        @include breakpoint($mid-bp) {
            display: none;
        }
    }
}

.wepromote__title {
    border-bottom: 0.1rem solid #D2DCE5;
    padding-bottom: 2.6rem;
    margin-bottom: 4rem;
}
