// html {
//   ::-webkit-scrollbar {
//     width: 0;
//   }
// }

.insights-main-bg {
  position: relative;
  min-height: calc(100vh - 14rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include breakpoint($sm-bp) {
    min-height: calc(100vh - 8rem);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .breadcrumbs {
    padding-top: 3.2rem;
    margin-top: unset;
    .breadcrumbs__link {
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 500;
      line-height: 2rem;
      
      color: #FFFFFF;
      
      opacity: 0.7;
    }
    .breadcrumbs__item {
      &::after {
        width: 1rem;
        height: 0.8rem;
        margin-left: 1.2rem;
        transform: rotate(0);
        background: url("../images/arrow.svg") no-repeat;
        background-size: contain;
    }
    }
  }

  h1 {
    padding-top: 13.8rem;
    padding-bottom: 13.8rem;
    @include breakpoint($mid-bp) {
      padding-bottom: 5rem;
    }
    @include breakpoint($sm-bp) {
      padding-bottom: 4rem;
    }
  }
}

.insights-title {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 6.4rem;
  line-height: 7.6rem;
  /* identical to box height, or 119% */
  letter-spacing: -0.01em;
  
  color: #FFFFFF;
  @include breakpoint($sm-bp) {
    font-weight: 400;
    font-size: 4.4rem;
    line-height: 4.6rem;
  }
}

.insights {
  .insights__bottom-block {
    
    background-image: url('../images/insights/insight-bottom-bg.jpg');

    .section-top {
      padding-top: 11rem;
      padding-bottom: 11rem;
      @include breakpoint($mid-bp) {
        padding-left: 5rem;
        padding-top: 14rem;
        padding-bottom: 8rem;
      }
    }
  }
}

.wrapper-left {
  padding-left: 2rem;
  padding-right: 4rem;
  @include breakpoint($mid-bp) {
    padding-right: 2rem;
  }
  @include breakpoint($sm-bp) {
    padding-left: 0;
    padding-right: 0;
  }
}

.insights-navigation {
  border-bottom: 1px solid #D2DCE5;
  display: flex;
  justify-content: space-between;
  @include breakpoint($xl-bp) {
    position: relative;
  }
  @include breakpoint($mid-bp) {
    display: grid;
    grid-template-columns: 49% 1fr;
  }
  @include breakpoint($sm-bp) {
    grid-template-columns: 1fr;
  }
  nav {
    @include breakpoint($mid-bp) {
      overflow: scroll;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
      
      /* Track */
      &::-webkit-scrollbar-track {
       background-color: transparent;
      }
      
      /* Handle */
      &::-webkit-scrollbar-thumb {
         background: #AAB8C3; 
      }
      
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
      background: #A50F2D; 
      }
    }
    @include breakpoint($sm-bp) {
      border-bottom: 1px solid #D2DCE5;
    }
    ul {
      display: flex;
      @include breakpoint($sm-bp) {
        gap: 1rem;
      }
      li {
        @include breakpoint($mid-bp) {
          &:nth-child(1) {
            a {
              padding-left: 0;
            }
          }
        }
        @include breakpoint($sm-bp) {
          &:nth-child(1) {
            a {
              padding-left: 2.4rem;
            }
          }
        }
        a {
          width: 10.8rem;
          padding: 3.2rem 2.15rem;
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 500;
          font-size: 2rem;
          line-height: 3.2rem;
          /* identical to box height, or 160% */
          
          text-align: center;
          
          /* UI/Black/High */
          
          color: #212424;
          display: block;
          text-decoration: none;
          @include breakpoint($mid-bp) {
            padding: 3.2rem 0.85rem;
            width: auto;
          }
          @include breakpoint($sm-bp) {
            padding: 2.4rem 1.8rem
          }
        }
        .active {
          position: relative;
          color: #A50F2D;
          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 64%;
            height: 0.3rem;
            background-color: #A50F2D;
            transform: translateX(-50%);
            @include breakpoint($mid-bp) {
              width: 100%;
            }
            @include breakpoint($sm-bp) {
              width: 80%;
            }
          }
        }
      }
    }
  }
}
.filters {
  display: flex;
  position: relative;
  @include breakpoint($xl-bp) {
    position: static;
  }
  @include breakpoint($mid-bp) {
    border-left: 1px solid #D2DCE5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  @include breakpoint($sm-bp) {
    border-left: 0;
    & > div:not(:last-child) {
      border-right: 1px solid #D2DCE5;
    }
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: none;
    @include breakpoint($sm-bp) {
      z-index: 100;
      background-color: #212424;
      opacity: 0.3;
    }
  }
}
.filter-wrapper {
  width: 13rem;
  @include breakpoint($mid-bp) {
    width: auto;
  }
  @include breakpoint($sm-bp) {
    width: 100%;
  }
}
.filter-button {
  border: 0;
  background-color: unset;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  width: 100%;
  /* identical to box height, or 150% */
  
  
  /* UI/Black/Medium */
  
  color: #40454E;
  height: calc(100% + 1px);
  padding-right: 1.5rem;
  transition: background-color .5s;
  @include breakpoint($sm-bp) {
    font-size: 2rem;
  }
  span {
    display: block;
    position: relative;
    padding-right: 1.5rem;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background-image: url('data:image/svg+xml,%3Csvg%20width%3D%228%22%20height%3D%224%22%20viewBox%3D%220%200%208%204%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M0.853552%200.853552C0.53857%200.53857%200.761654%200%201.20711%200H6.79289C7.23835%200%207.46143%200.538571%207.14645%200.853553L4.35355%203.64645C4.15829%203.84171%203.84171%203.84171%203.64645%203.64645L0.853552%200.853552Z%22%20fill%3D%22%2340454E%22%2F%3E%0A%3C%2Fsvg%3E%0A');
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
      width: 1.4rem;
      height: 100%;
    }
  }
}
.filter-button--active {
  background-color: #FFFFFF;
}

.panel {
  background-color: #FFFFFF;
  z-index: 2;
  padding: 4rem 14rem 5rem 6rem;
  box-shadow: 0px 1rem 2rem rgba(159, 174, 191, 0.25);
  @include breakpoint($mid-bp) {
    padding: 4rem 8rem 5rem 6rem;
  }
  @include breakpoint($sm-bp) {
    padding: 2rem;
    padding-top: 4rem;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      height: 2px;
      width: 5rem;
      background-color: #AAB8C3;
      transform: translateX(-50%);
      margin-top: 0.6rem;
    }
  }
  .panel__title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3.2rem;
    /* identical to box height, or 160% */
    
    
    /* UI/Black/High */
    
    color: #212424;

    padding-bottom: 2.4rem;
    @include breakpoint($sm-bp) {
      font-weight: 400;
      font-size: 3.2rem;
      line-height: 4rem;
    }
  }
}

.filters-panel {
  position: relative;
  .close-button {
    position: absolute;
    top: 3.2rem;
    right: 3.5rem;
    width: 3rem;
    height: 3rem;
    @include breakpoint($mid-bp) {
      right: 2rem;
    }
  }
}

.close-button {
  position: relative;
  border: 0;
  background-color: unset;
  padding: 0;
  cursor: pointer;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    height: 0.1rem;
    background-color: #212424;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}


.filter-button + .panel {
  position: absolute;
  top: 90%;
  right: -4rem;
  margin-top: -1px;
  opacity: 0;
  pointer-events: none;
  transition: all .5s;
  @include breakpoint($xl-bp) {
    width: 100%;
    left: 0;
    right: unset;
  }
  @include breakpoint($mid-bp) {
    width: auto;
    right: 0;
    left: unset;
  }
  @include breakpoint($sm-bp) {
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    z-index: 10000;
    position: fixed;
    left: 0;
    height: calc(100% - 4rem);
  }
}
.filter-button--active + .panel {
  top: 100%;
  opacity: 1;
  pointer-events: all;
  @include breakpoint($sm-bp) {
    top: 0;
    left: 0;
    margin-top: 4rem;
  }
}
.filter-button--active ~ .overlay {
  display: block;
}

.news__main-container {
  padding-top:  4.85rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 4rem;
  padding-bottom: 8rem;
  @include breakpoint($xl-bp) {
    grid-template-columns: repeat(4, 1fr);
  }
  @include breakpoint($mid-bp) {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 6rem;
    padding-bottom: 6rem;
    row-gap: 5rem;
    column-gap: 3rem;
  }
  @include breakpoint($sm-bp) {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4rem;
  }
  .news__item {
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    min-height: 40rem;
    @include breakpoint($sm-bp) {
      min-height: 20rem;
      &:nth-last-child(2) {
        .news__date {
          padding-bottom: 1rem;
        }
        &::before {
          display: none;
        }
      }
    }
    &:focus {
      outline: none;
    }
    &::before {
      content: '';
      width: 100%;
      height: 1px;

      position: absolute;
      top: 0;
      left: 0;

      background-color: #D2DCE5;
      z-index: -3;
      @include breakpoint($sm-bp) {
        top: unset;
        bottom: 0;
      }
    }
    span {
      display: block;
    }
  }
  .news__img {
    width: 100%;
    height: 15.5rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .news__title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.6rem;
    /* or 150% */
    
    
    /* UI/Black/High */
    
    color: #212424;

    padding-top: 1.6rem;
  }
  .news__date {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    
    color: #697279;
    margin-top: auto;
    padding-top: 1rem;
    @include breakpoint($sm-bp) {
      font-size: 1.9rem;
      padding-bottom: 4rem;
    }
  }
  .news__item--wider {
    padding: 4rem;
    grid-column: 3 span;
    @include breakpoint($xl-bp) {
      grid-column: 2 span;
    }
    @include breakpoint($mid-bp) {
      padding-top: 3rem;
    }
    @include breakpoint($sm-bp) {
      grid-column: 1 span;
      padding: 0;
    }
    .news__img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -2;
      @include breakpoint($sm-bp) {
        position: static;
      }
    }
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      background: #212424;
      opacity: 0.3;
      @include breakpoint($sm-bp) {
        display: none;
      }
    }
    .news__title {
      padding-top: 0;
      font-weight: 400;
      font-size: 3.6rem;
      line-height: 5.2rem;
      max-width: 53rem;
      /* or 144% */
      
      letter-spacing: -0.01em;
      
      /* UI / White */
      
      color: #FFFFFF;
      @include breakpoint($sm-bp) {
        color: #212424;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 3.6rem;
      }
    }
    .news__date {
      color: #FFFFFF;
      @include breakpoint($sm-bp) {
        color: #40454E;
      }
    }
  }
  .news__button {
    display: none;
    background: #E5E9F1;
    border-radius: 0.4rem;
    border: 0;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size:  2.4rem;
    line-height: 2.5rem;
    padding: 1.8rem;
    @include breakpoint($sm-bp) {
      display: block;
      width: 100%;

    }
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: #D2DCE5;
  margin-bottom: 2.8rem;
  @include breakpoint($mid-bp) {
    margin-bottom: 3rem;
  }
  @include breakpoint($sm-bp) {
    display: none;
  }
}

.pagination-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-pagination {
  display: flex;
  @include breakpoint($sm-bp) {
    display: none;
  }
  span {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .main-pagination__right {
    border-left: 1px solid #AAB8C3;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .num-page {
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%228%22%20height%3D%224%22%20viewBox%3D%220%200%208%204%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M0.853552%200.853552C0.53857%200.53857%200.761654%200%201.20711%200H6.79289C7.23835%200%207.46143%200.538571%207.14645%200.853553L4.35355%203.64645C4.15829%203.84171%203.84171%203.84171%203.64645%203.64645L0.853552%200.853552Z%22%20fill%3D%22%2340454E%22%2F%3E%0A%3C%2Fsvg%3E%0A');
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-right: 1.8rem;
  }
  .numb-container {
    position: relative;
    transition: all .5s;
    cursor: pointer;
  }
  .select-button {
    position: relative;
    z-index: 2;
  }
  .numb-container:focus {
    background-color: #FFFFFF;
  }
  .numb-container:focus > .select-numb {
    visibility: visible;
    opacity: 1;
    top: 2.4rem;
  }
  .select-numb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
    a {
      padding: 1rem;
      color: #212424;
      text-decoration: none;
      position: relative;
      &:hover {
        color: #A50F2D;
      }
    }
  }
  .select-numb:focus{
    top:2.4rem;
    visibility:visible;
    opacity:1;
  }
}

.pagination {
  display: flex;
  gap: 2rem;
  padding: 0 0.5rem;
  @include breakpoint($mid-bp) {
    gap: 1.8rem;
  }
  @include breakpoint($sm-bp) {
    justify-content: space-between;
    width: 100%;
  }
  .arrow {
    width: 1.5rem;
    height: 1.5rem;
    stroke: #AAB8C3;
    transition: transform .4s;
    @include breakpoint($sm-bp) {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
  .arrow--right {
    transform: rotate(180deg);
  }
  .arrow--active {
    stroke: #212424;
  }
}
.pagination a {
  position: relative;
  display: block;
  height: 2.4rem;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #40454E;
  text-decoration: none;
  @include breakpoint($sm-bp) {
    font-size: 2.6rem;
    line-height: 2.6rem;
  }
  &:hover {
    .arrow--active {
      transform: rotate(0) translateX(-0.5rem);
    }
    .arrow--right {
      transform: rotate(180deg) translateX(-0.5rem);
    }
  }
  &:not(:last-child) {
    margin-right: 1.2rem;
  }
  &:nth-last-child(3) {
    margin-right: 0;
  }
}
.pagination a.active {
  color: #A50F2D;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -0.3rem;
    width: 1.4rem;
    transform: translateX(-50%);
    height: 0.1rem;
    background-color: #A50F2D;
  }
}

.pagination a:hover:not(.active) {color: #697279;}

.checkbox-container {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  column-gap: 4rem;
  @include breakpoint($mid-bp) {
    grid-template-columns: repeat(2, max-content);
  }
  @include breakpoint($sm-bp) {
    grid-template-columns: repeat(1, max-content);
  }
  .checkbox-container__item {
    @include breakpoint($mid-bp) {
      padding-bottom: 6rem;
      &:last-child {
        padding-bottom: 0;
      }
      &:nth-last-child(2) {
        padding-bottom: 0;
      }
    }
    @include breakpoint($sm-bp) {
      padding-bottom: 0;
    }
  }
}

.form-group {
  display: block;
  margin-bottom: 2.5rem;
  // @include breakpoint($mid-bp) {
  //   &:nth-child(8n+7) {
  //     background-color: red;
  //     padding-bottom: 4rem;
  //   }
  //   &:nth-child(8n+8) {
  //     background-color: red;
  //     padding-bottom: 4rem;
  //   }
  // }
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  /* identical to box height, or 150% */
  
  /* UI / Accent */
  
  color: #212424;
}

.form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #40454E;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  height: 2rem;
  width: 2rem;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 1.2rem;
  transition: all .5s;
}

.form-group input:checked + label {
  color: #A50F2D;
}

.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 0.5rem;
  left: 0.7rem;
  width: 0.6rem;
  height: 1.1rem;
  border: solid #FFFFFF;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.form-group input:checked + label:before{
  background-color: #A50F2D;
  border: 1px solid #A50F2D;
}


.custom-select {
  position: relative;
  width: 13rem;
  @include breakpoint($mid-bp) {
    width: auto;
  }
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
  content: '';
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%228%22%20height%3D%224%22%20viewBox%3D%220%200%208%204%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M0.853552%200.853552C0.53857%200.53857%200.761654%200%201.20711%200H6.79289C7.23835%200%207.46143%200.538571%207.14645%200.853553L4.35355%203.64645C4.15829%203.84171%203.84171%203.84171%203.64645%203.64645L0.853552%200.853552Z%22%20fill%3D%22%2340454E%22%2F%3E%0A%3C%2Fsvg%3E%0A');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  width: 1.4rem;
  height: 100%;
  margin-left: 1rem;
  transition: background-color .5s;
  @include breakpoint($sm-bp) {
    height: 1rem;
  }
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.filter-button--active {
  background-color: #FFFFFF;
}
/* style the items (options), including the selected item: */
.select-selected {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  /* identical to box height, or 150% */
  
  display: flex;
  align-items: center;
  justify-content: center;
  /* 2022/Dark Electric Blue */
  
  
  // padding: 1.2rem 1.6rem;
  cursor: pointer;
  height: 100%;
  @include breakpoint($sm-bp) {
    font-size: 2rem;
    padding: 2rem 0;
  }
}

/* Style items (options): */
.select-items {
  position: absolute;
  background: #FFFFFF;
  top:  100%;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 0.8rem 2rem;
  max-height: 25.6rem;
  overflow-y: auto;
  width: 23.5rem;
  transition: all .5s;
  box-shadow: 0px 1rem 2rem rgba(159, 174, 191, 0.25);
  @include breakpoint($sm-bp) {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin-top: 4rem;
    border-top-right-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
  }
  @include breakpoint($sm-bp) {
    height: calc(100% - 4rem);
    max-height: unset;
  }
  /* width */
  .close-button {
    display: none;
    @include breakpoint($sm-bp) {
      display: block;
      position: absolute;
      top: 2rem;
      right: 2rem;
      width: 4rem;
      height: 4rem;
    }
  }
&::-webkit-scrollbar {
  width: 2px;
}

/* Track */
&::-webkit-scrollbar-track {
 background-color: transparent;
}

/* Handle */
&::-webkit-scrollbar-thumb {
   background: #AAB8C3; 
}

/* Handle on hover */
&::-webkit-scrollbar-thumb:hover {
background: #A50F2D; 
}
  div {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3.2rem;
    /* identical to box height, or 160% */
    
    
    /* UI/Footer */
    
    color: #697279;
    cursor: pointer;
    &:not(:last-child) {
      padding-bottom: 1.6rem;
    }
  }
}

.filters {
  .custom-select {
    &:last-child {
      .select-items {
        right: 0;
        left: unset;
      }
    }
  }
}

/* Hide the items when the select box is closed: */
.select-hide {
  top: 90%;
  opacity: 0;
  pointer-events: none;
}

.select-items div:hover, .select-items .same-as-selected {
  color: #A50F2D;
}
