.intro__pages {
    // max-height: 700px;
    // height: calc(100vh - var(--headerH) - 80px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 13.8rem;
    padding-left: 4rem;
    padding-right: 4rem;

    @include breakpoint($xxl-bp) {
        padding-bottom: 8.8rem;
    }

    @include breakpoint($xl-bp) {
        padding-bottom: 4rem;
    }

    @include breakpoint($sm-bp) {
        padding-bottom: 4rem;
        // max-height: 440px;
    }

    .breadcrumbs__link {
        color: #eff1f6;
    }

    .breadcrumbs__item {
        &::after {
            width: 9px;
            height: 8px;
            transform: unset;
            background: url("../images/arrow.svg") no-repeat;
        }
    }
}

.dark {
    background: $bg-dark;

    .section-top {
        margin-top: 0;
        padding-top: 15rem;

        @include breakpoint($xxl-bp) {
            padding-top: 12rem;
        }

        @include breakpoint($mid-bp) {
            padding-top: 10rem;
        }

        @include breakpoint($sm-bp) {
            padding-top: 5rem;
        }
    }

    .title-num {
        color: #eff1f6;
    }

    .title {
        color: #eff1f6;
    }

    .section-top__aside {
        color: #eff1f6;
    }

    p,
    .text-normal {
        color: #eff1f6;
    }
}

.pb15 {
        padding-bottom: 15rem;
        @include breakpoint($xxl-bp) {
            padding-bottom: 12rem;
        }
        @include breakpoint($xl-bp) {
            padding-bottom: 10rem;
        }
}

.cybersecurity-list {
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/5)), 1fr));
    margin-top: 15rem;
    // padding-bottom: 15rem;
    gap: 4rem;

    @include breakpoint($xxl-bp) {
        margin-top: 11.5rem;
        // padding-bottom: 12rem;
    }

    @include breakpoint($xl-bp) {
        margin-top: 9rem;
        // padding-bottom: 10rem;
    }

    @include breakpoint($mid-bp) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        row-gap: 3rem;
        margin-top: 10rem;
    }

    @include breakpoint($sm-bp) {
        display: flex;
        flex-direction: column;
        margin-top: 7rem;
        gap: 0;
    }

    .lined-card {
        width: 100%;
    }
}

.dark {
    .prof-item {
        border-color: #40454E;
    }
}

.dark {
    .lined-card {
        border-color: #40454E;

        @include breakpoint($sm-bp) {
            &:nth-child(1) {
                border-color: #40454E;
            }
        }
    }
}

.lined-card {
    border-top: 1px solid #D2DCE5;
    border-bottom: 1px solid #D2DCE5;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-right: 4rem;
    width: calc(calc(100% - 12rem) / 4);
    min-height: 23.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;

    @include breakpoint($mid-bp) {
        gap: 5.5rem;
    }

    @include breakpoint($xl-bp) {
        min-height: 27rem;
    }

    @include breakpoint($mid-bp) {
        width: 100%;
        height: auto;
    }

    @include breakpoint($sm-bp) {
        border-top: unset;

        &:nth-child(1) {
            border-top: 1px solid #D2DCE5;
        }
    }

    &:nth-child(4n) {
        margin-right: 0;
    }

    img {
        height: 3rem;

        @include breakpoint($sm-bp) {
            height: 4rem;
        }
    }

    p {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 0em;
        text-align: left;
    }

    // & > p {
    //     display: -webkit-box;
    //     max-width: 100%;
    //     -webkit-line-clamp: 3;
    //     -webkit-box-orient: vertical;
    //     overflow: hidden;
    // }
}

.dark {
    .lined-card {
        p {
            color: $grey3;
        }
    }
}

.services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 14.4rem;

    @include breakpoint($xxl-bp) {
        margin-top: 11.4rem;
    }

    @include breakpoint($xl-bp) {
        margin-top: 7.4rem;
        grid-template-columns: repeat(4, 1fr);
    }

    @include breakpoint($mid-bp) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint($sm-bp) {
        grid-template-columns: repeat(1, 1fr);
    }

    .service {
        width: 100%;
        min-height: 29.5rem;
        margin-right: 0;
        margin-left: 0;
        border-right: unset;
        position: relative;
        padding: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        border: unset;
        border-left: 0.1rem solid #D2DCE5;

        &::after {
            display: none;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            .service__inner {
                border-top: 0.1rem solid #D2DCE5;
            }
        }

        &:nth-child(4n + 1) {
            border-left: 0;
        }

        &:hover {
            background-color: #dedfe1;

            @include breakpoint($mid-bp) {
                &::before {
                    content: '';
                    height: 100%;
                    width: 0.1rem;
                    top: 0;
                    left: -0.1rem;
                    position: absolute;
                    background-color: #dedfe1;
                }
            }

            .service__text--gradient {
                &::before {
                    opacity: 0;
                }
            }

            .service__inner {
                border-color: transparent;
            }
        }

        @include breakpoint($xl-bp) {
            min-height: 27.5rem;
        }

        @include breakpoint($mid-bp) {
            border: 0;
            padding: 0;
            position: relative;
            min-height: 25rem;

            &:nth-child(2n + 1) {
                padding-right: 1rem;

                &::before {
                    content: unset;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0.1rem;
                    height: calc(100% - 1rem);
                    background-color: #D2DCE5;
                }
            }

            &:nth-child(2n + 2) {
                padding-left: 1rem;
            }

            &:nth-child(3),
            &:nth-child(4) {
                .service__inner {
                    border-top: 0;
                }
            }
        }

        @include breakpoint($sm-bp) {
            min-height: 28rem;

            &:nth-child(2n + 1) {
                padding-right: 0;

                &::before {
                    content: unset;
                }
            }

            &:nth-child(2n + 2) {
                padding-left: 0;
            }

            &:nth-child(2) {
                .service__inner {
                    border-top: 0;
                }
            }
        }
    }

    .service__inner {
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        border-bottom: 0.1rem solid #D2DCE5;
        transform: translateY(1px);

        @include breakpoint($mid-bp) {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        @include breakpoint($sm-bp) {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
    }

    .service__top {
        @include breakpoint($sm-bp) {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }

    .service__top_img {
        height: 5rem;
    }

    .service__text {
        max-width: none;

        @include breakpoint($xl-bp) {
            max-width: 100%;
        }
    }
}

.cybersecurity-nums {

    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 4rem;
    margin-right: 4rem;
    padding-bottom: 10rem;
    margin-top: 14.5rem;
    padding-top: 10rem;

    @include breakpoint($xl-bp) {
        margin-top: 12rem;
        padding-bottom: 6rem;
        // background-image: url("../images/main-cybersecurity/nums-1440.jpg");
    }

    @include breakpoint($mid-bp) {
        margin-right: 2rem;
        margin-left: 2rem;
        padding: 5rem 3rem;
    }

    @include breakpoint($sm-bp) {
        margin-right: 0;
        margin-left: 0;
        margin-top: 8rem;
    }

    .section-top {
        margin-top: 0;
        gap: 1rem;

        @include breakpoint($mid-bp) {
            max-width: 53rem;
            flex-wrap: wrap;
        }
    }

    .section-top__aside {
        color: #eff1f6;
    }

    .title {
        color: #eff1f6;
    }

    p,
    .text-normal {
        color: #eff1f6;

        @include breakpoint($sm-bp) {
            font-size: 1.9rem;
            line-height: 2.9rem;
        }
    }
}

.cybersecurity-nums__block {
    color: #eff1f6;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    row-gap: 4rem;
    margin-top: 13rem;

    @include breakpoint($xxl-bp) {
        // margin-left: 1rem;
    }

    @include breakpoint($xl-bp) {
        margin-top: 10rem;
    }

    @include breakpoint($mid-bp) {
        flex-direction: column;
        margin-left: 0;
    }

    @include breakpoint($sm-bp) {
        margin-top: 6.5rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 5rem;
        column-gap: 4.2rem;
    }
}

.rising-num {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 11.5rem;
    min-width: 22rem;
    max-width: 40rem;

    @include breakpoint($xl-bp) {
        margin-right: 12.5rem;
    }

    @include breakpoint($mid-bp) {
        flex-direction: row;
        margin-right: 0;
        align-items: center;
        gap: 4rem;
        max-width: 100%;
    }

    @include breakpoint($sm-bp) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-width: unset;
        gap: 1rem;
    }
}

.rising-num__num {
    font-size: 7.2rem;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: -0.03em;
    text-align: left;

    @include breakpoint($sm-bp) {
        display: block;
        font-size: 6rem;
    }
}

.rising-num__text {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;

    br {
        @include breakpoint($mid-bp) {
            content: ' ';
            display: none;
        }
    }

    @include breakpoint($sm-bp) {
        font-size: 1.9rem;
    }
}

.solve.cybersecurity {
    .solve__intro {
        background-image: url("../images/main-cybersecurity/Image-solve.jpg");

        @include breakpoint($xl-bp) {
            background-image: url("../images/main-cybersecurity/solve-1440.jpg");
        }
    }

    .section-top {
        @include breakpoint($xl-bp) {
            margin-top: 12rem;
        }

        @include breakpoint($sm-bp) {
            margin-top: 8rem;
        }

        br {
            @include breakpoint($sm-bp) {
                content: ' ';
                display: none;
            }
        }
    }
}

.cybersecurity.wrapper {
    .service__inner {
        justify-content: flex-start;
        gap: 4rem;
    }
    @include breakpoint($sm-bp) {
        padding-left: 0;
        padding-right: 0;

        .service {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
        .section-top {
            padding-right: 2.5rem;
            padding-left: 2.5rem;
        }
    }
}

.cybersecurity {
    padding-bottom: 15rem;

    @include breakpoint($xxl-bp) {
        padding-bottom: 12rem;
    }

    @include breakpoint($xl-bp) {
        padding-bottom: 10rem;
    }

    .services {
        grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/4)), 1fr)); 
        @include breakpoint($xl-bp) {
            // grid-template-columns: repeat(auto-fit, minmax(min(100%/2, max(64px, 100%/3)), 1fr));  
        }
        @include breakpoint($mid-bp) {
            grid-template-columns: repeat(auto-fit, minmax(min(100%/1, max(64px, 100%/2)), 1fr)); 
        }
        @include breakpoint($sm-bp) {
            grid-template-columns: repeat(auto-fit, minmax(min(100%/1, max(64px, 100%/1)), 1fr)); 
        }
    }
    .partner {
        // margin-right: 21.5rem;
        margin-right: 13.5rem;
        // width: calc((100% - 133rem) / 7);
        width: calc((100% - 81rem) / 7);

        @include breakpoint($xxl-bp) {
            width: calc((100% - 81rem) / 7);
            margin-right: 13.5rem;
        }

        @include breakpoint($xl-bp) {
            width: calc((100% - 39rem) / 7);
            margin-right: 6.5rem;
        }

        @include breakpoint($sm-bp) {
            width: 20rem;
        }
    }

    .section-top {
        margin-top: 0;
        padding-top: 21.5rem;

        @include breakpoint($xxl-bp) {
            padding-top: 14rem;
        }

        @include breakpoint($xl-bp) {
            padding-top: 8.5rem;
        }

        @include breakpoint($mid-bp) {
            padding-top: 9.5rem;
        }

        @include breakpoint($sm-bp) {
            padding-top: 5.5rem;
        }
    }

    .service-text {
        max-height: auto;
    }

    &.dark {
        .subtitle {
            color: #eff1f6;
        }

        .service-text {
            color: #eff1f6;
        }

        .service__text--gradient {
            &::before {
                background: -webkit-linear-gradient(0deg, #212424 5%, transparent);
                background: linear-gradient(0deg, #212424 5%, transparent);
                opacity: 0;
                content: unset;
            }
        }
        .services .service:hover {
            background-color: #40454E;
            position: relative;

            .service__text {
                color: #eff1f6;
            }

            &::before {
                content: '';
                height: 100%;
                width: 0.1rem;
                top: 0;
                left: -0.1rem;
                position: absolute;
                background-color: #40454E;
            }

            .service__text--gradient {
                &::before {
                    content: '';
                    opacity: 0;
                }
            }
        }

        .services .service:hover {
            .subtitle {
                color: #eff1f6;
            }

            .service__inner {
                border-color: transparent;
            }
        }

        .services .service:nth-child(2n+1)::before {
            background-color: #40454E;
        }

        .services .service:nth-child(2n+1)::before {
            background-color: #40454E;
        }

        .services .service {
            border-color: #40454E;
        }

        .services .service__inner {
            border-color: #40454E;
        }
    }
}

.cols-3 {
    .help-blocks {
        grid-template-columns: repeat(3, 1fr);
        @include breakpoint($mid-bp) {
            grid-template-columns: repeat(2, 1fr);
        }
    
        @include breakpoint($sm-bp) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .grid-cols-3 {
        grid-template-columns: repeat(3, 1fr);
        @include breakpoint($mid-bp) {
            grid-template-columns: repeat(2, 1fr);
        }
    
        @include breakpoint($sm-bp) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .informationTechnology__content {
        grid-template-columns: repeat(3, 1fr);
        @include breakpoint($mid-bp) {
            grid-template-columns: repeat(2, 1fr);
        }
    
        @include breakpoint($sm-bp) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .cybersecurity-list {
        grid-template-columns: repeat(3, 1fr);
        @include breakpoint($mid-bp) {
            grid-template-columns: repeat(2, 1fr);
        }
    
        @include breakpoint($sm-bp) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .BCG__rules_list { 
        grid-template-columns: repeat(3, 1fr);
        @include breakpoint($mid-bp) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.cybersecurity {
    .service__text {
        max-height: none;
        max-width: none;
    }

    .service__text--gradient {
        &::before {
            content: unset;
        }
    }
    &.cols-3 {
        &.dark {
            .services {
                .service:nth-child(4n+1) {
                    border-left: 0.1rem solid #40454E;
                    @include breakpoint($mid-bp) {
                        border-left: 0;
                    }
                }
                .service:nth-child(1) {
                    border-left: 0;
                }
            }
        }
        .services {
            grid-template-columns: repeat(auto-fit, minmax(min(100%/2, max(64px, 100%/3)), 1fr));
            
            .service:nth-child(4) .service__inner {
                border-top: 0;
            }
            .service:nth-child(4n+1) {
                border-left: 0.1rem solid #D2DCE5;
                @include breakpoint($mid-bp) {
                    border-left: 0;
                }
            }
            .service:nth-child(1) {
                border-left: 0;
            }
            .service:nth-child(3n + 1) {
                border-left: 0;
            }
            @include breakpoint($mid-bp) {
                grid-template-columns: repeat(auto-fit, minmax(min(100%/1, max(64px, 100%/2)), 1fr));
            }
        
            @include breakpoint($sm-bp) {
                grid-template-columns: repeat(auto-fit, minmax(min(100%/1, max(64px, 100%/1)), 1fr));
            }
        }
    }
}

.solution__services.wrapper {
    @include breakpoint($sm-bp) {
        padding-left: 0;
        padding-right: 0;

        .service {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }

        .solution__services-title {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
    }
}