.map {
    position: relative;

    h2 {
        font-family: "Manrope";
        font-size: 5.2rem;
        font-weight: 400;
        line-height: 1.12;
        letter-spacing: -0.02em;
        text-align: left;
        color: $bg-dark;
        margin-top: 15rem;
        margin-bottom: 10rem;
    }
}

#map {
    height: 116.2rem;
}

.map__panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 81rem;
    height: 100%;
    background: white;
    padding: 4.5rem 5.5rem;
    z-index: 1000;
    display: none;
    transition: transform .4s;
    transform: translateX(103%);
    overflow-y: auto;
    @include breakpoint($xxl-bp) {     
        width: 70rem;
    }
    @include breakpoint($mid-bp) {
        width: 100%;
        height: 45%;
        top: unset;
        bottom: 0;
        border-radius: 20px 20px 0 0;
        transform: translateY(103%);
        padding: 9.5rem 2rem;
    }
    @include breakpoint($sm-bp) {
        height: 67.5%;
        padding: 6rem 2.5rem;
    }

    /*&::before {
        @include breakpoint($mid-bp) {
            content: "";
            width: 12.6rem;
            height: .5rem;
            display: block;
            position: absolute;
            top: 3rem;
            left: 50%;
            transform: translateX(-50%);
            border-radius: .2rem;
            background: #AAB8C3;
        }
        @include breakpoint($sm-bp) {
            width: 5.6rem;
            height: 3px;
            top: 1.5rem;
        }
    }*/
}

.map__panel.open {
    transform: translateX(0);
    @include breakpoint($mid-bp) {
        transform: translateY(0);
    }
}

.panel-body {
    .baloon {
        display: none;
    }

    .baloon.open {
        display: block;
    }
}

.close__baloon {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    display: flex;
    align-items: center;
    gap: 2.4rem;
    color: #212424;
    padding: 1.2rem 1.2rem 1.2rem 2.4rem;
    border: 0.1rem solid #D2DCE5;
    border-radius: 10rem;
    height: min-content;
    position: relative;
    top: -2rem;
    transition: background-color 0.3s;
    z-index: 5;
    position: absolute;
    right: 3rem;
    top: 3rem;
    z-index: 5;
    background: white;
    @include breakpoint($mid-bp) {
        border: unset;
        padding: unset;
        background: white;
        right: 0.5rem;
        top: 2rem;
    }
    @include breakpoint($sm-bp) {
        top: .5rem;
    }

    span {
        @include breakpoint($mid-bp) {
            display: none;
        }
    }

    &:hover {
        border-color: #40454E;

        .close-button__cross {
            background-color: #40454E;

            &::after,
            &::before {
                background-color: #FFFFFF;
            }
        }
    }

    .close-button__cross {
        position: relative;
        display: block;
        width: 2.8rem;
        height: 2.8rem;
        background: rgba(210, 220, 229, 0.3);
        border-radius: 50%;
        @include breakpoint($mid-bp) {
            display: block;
            background: unset;
            width: 5.8rem;
            height: 5.8rem;   
        }
        @include breakpoint($mid-bp) {
            width: 7.8rem;
            height: 7.8rem;   
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50%;
            height: 0.2rem;
            background-color: #AAB8C3;
            transition: color 0.3s;
            transform: translate(-50%, -50%) rotate(-45deg);

        }

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50%;
            height: 0.2rem;
            background-color: #AAB8C3;
            transform: translate(-50%, -50%) rotate(45deg);
            transition: color 0.3s;
        }
    }
}

.baloon__body {
    @include breakpoint($mid-bp) {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    & > div {
        @include breakpoint($mid-bp) {
            width: 50%;
        }
        @include breakpoint($sm-bp) {
            width: 100%;
        }
    }
}

.baloon__country {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "Manrope";
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    color: #AAB8C3;
    @include breakpoint($sm-bp) {
        font-size: 2.6rem;
    }
}

.baloon__flag {
    width: 5rem;
    margin-right: 3rem;
    @include breakpoint($sm-bp) {
        width: 6rem;
        margin-right: 4.1rem;        
    }
}

.baloon__city {
    font-family: "Manrope";
    font-size: 5.2rem;
    font-weight: 400;
    line-height: 1.12;
    letter-spacing: -0.02em;
    text-align: left;
    color: $black;
    margin-top: 3.2rem;
    @include breakpoint($xxl-bp) {
        margin-top: 3.9rem;
    }
    @include breakpoint($mid-bp) {
        width: 100%;
    }
    @include breakpoint($sm-bp) {
        font-size: 4.1rem;
        margin-top: 4.9rem;
    }
}

.baloon__info {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    color: $red;
    margin-top: 4rem;
    margin-bottom: 1rem;
    @include breakpoint($mid-bp) {
        margin-top: 3.3rem;
    }
    @include breakpoint($sm-bp) {
        margin-top: 5.3rem;
        font-size: 1.9rem;
        margin-bottom: 2rem;
    }
}

.baloon__link {
    display: block;
    color: $black;
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: 0em;
    text-align: left;
    @include breakpoint($sm-bp) {
        font-size: 2.55rem;
    }
}

.baloon__address {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: 0em;
    text-align: left;
    color: $black;
    max-width: 38rem;
    @include breakpoint($sm-bp) {
        font-size: 2.55rem;
    }
}

.baloon__btn {
    background: unset;
    box-shadow: unset;
    border: unset;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: max-content;
    padding: 0;
    margin-top: 3.5rem;
    @include breakpoint($sm-bp) {
        margin-top: 4.5rem;
    }

    span {
        font-family: "Manrope";
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.3;
        letter-spacing: 0em;
        text-align: right;
        color: $red;
        display: inline-block;
        min-width: max-content;
        @include breakpoint($sm-bp) {
            font-size: 2rem;
        }
    }

    svg {
        width: 3rem;
        min-width: 3rem;
        margin-right: 1.6rem;
        @include breakpoint($sm-bp) {
            width: 4rem;
            min-width: 4rem;
            margin-right: 2.6rem;
        }
    }
}