.informationTechnology {
    h2 {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 5.2rem;
        line-height: 5.8rem;
        letter-spacing: -0.02em;
        color: #212424;
        width: 51%;
        @include breakpoint($xl-bp) {
            width: 80%;
        }
        @include breakpoint($mid-bp) {
            width: auto;
        }
        @include breakpoint($sm-bp) {
            font-size: 4.15rem;
            line-height: 5rem;
        }
    }
}

.informationTechnology__content_position {
    padding-top: 7.2rem;
    @include breakpoint($mid-bp) {
        padding-top: 4.2rem;
    }
    @include breakpoint($sm-bp) {
        padding-top: 5.2rem;
    }
}

.pt10 {
    padding-top: 10rem;
    @include breakpoint($mid-bp) {
        padding-top: 7rem;
    }
    @include breakpoint($sm-bp) {
        padding-top: 5rem;
    }
}


.informationTechnology__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/5)), 1fr));
    gap: 4rem;
    @include breakpoint($mid-bp) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    @include breakpoint($sm-bp) {
        grid-template-columns: repeat(1, 1fr);
    }

    .informationTechnology__block {
        // width: 24%;
        padding-bottom: 2rem;
        padding-top: 1.2rem;
        border-bottom: 0.1rem solid #D2DCE5;
        border-top: 0.1rem solid #D2DCE5;
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        justify-content: space-between;
        @include breakpoint($mid-bp) {
            width: 100%;
            // border-bottom: 0.1rem solid transparent;
            &:nth-last-child(1), &:nth-last-child(2) {
                border-bottom: 0.1rem solid #D2DCE5;
            }
        }
        @include breakpoint($sm-bp) {
            gap: 5rem;
            border-top: 0.1rem solid transparent;
            &:first-child {
                border-top: 0.1rem solid #D2DCE5;
            }
        }

        // & > div {
        //     display: -webkit-box;
        //     max-width: 100%;
        //     -webkit-line-clamp: 3;
        //     -webkit-box-orient: vertical;
        //     overflow: hidden;
        // }

        div:last-child {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 2.4rem;
            width: 78%;
            color: #697279;
            @include breakpoint($mid-bp) {
                width: 100%;
            }
            @include breakpoint($sm-bp) {
                font-size: 1.95rem;
                line-height: 2.6rem;
            }
        }
    

        .informationTechnology__helper {
            div:first-child {
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 400; 
                font-size: 5.2rem; 
                line-height: 5.2rem; 
                letter-spacing: -0.02em;
                color: #A50F2D;
                @include breakpoint($sm-bp) {
                    font-size: 7rem;
                    line-height: 7rem;
                    padding-bottom: 0.4rem;
                }
            }
    
            div:last-child {
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 500;
                font-size: 2rem;
                line-height: 3.2rem;
                color: #212424;
            }
        }
    }
}


.corporate-position {
    margin-top: 15rem;
    @include breakpoint($xxl-bp) {
        margin-top: 12rem;
    }
    @include breakpoint($mid-bp) {
        margin-top: 10rem;
    }
    @include breakpoint($sm-bp) {
        margin-top: 8rem;
    }
}

.corporate {

    .corporate__content {
        display: flex;
        justify-content: space-between;
        margin-top: 4rem;
        gap: 4rem;
        @include breakpoint($mid-bp) {
            margin-top: 2rem;
            flex-direction: column;
            gap: 4rem;
        }
        @include breakpoint($sm-bp) {
            margin-top: 4rem;
            gap: 2rem;
        }
        .corporate__block {
            width: 33%;
            text-decoration: none;
            position: relative;
            display: flex;
            flex-direction: column;
            padding-top: 2rem;
            padding-bottom: 2rem;
            padding-left: 2.8rem;
            overflow: hidden;
            justify-content: space-between;
            height: 40rem;
            @include breakpoint($xxl-bp) {
                height: 35rem;
            }
            @include breakpoint($xl-bp) {
                height: 30rem;
            }
            @include breakpoint($mid-bp) {
                width: auto;
                height: 35rem;
            }
            @include breakpoint($sm-bp) {
                gap: 7.2rem;
                height: auto;
            }
            div {
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 500;
                font-size: 2.4rem;
                line-height: 3.6rem;
                color: #FFFFFF;
                z-index: 1;
            }

            img {
                position: absolute;
                object-fit: cover;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 0;
                @include breakpoint($sm-bp) {
                    height: 100%;
                    object-fit: cover;
                }
            }

            .corporate__helper {
                display: flex;
                align-items: center;
                gap: 1.2rem;
                a {
                    color: #eff1f6;
                    text-decoration: none;
                }

                .dott {
                    width: 0.4rem;
                    height: 0.4rem;
                    background: #FFFFFF;
                    border-radius: 50%;
                }
            }
        }

        .corporate__block_color {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 2.4rem;
            line-height: 3.6rem;
            color: #212424;
            a {
                color: #212424!important; 
            }
            div {
                color: #212424;
            }

            .dott {
                background: #212424 !important;
            }
        }
    }
}

.ourNews__position {
    margin-top: 15rem;
    @include breakpoint($xxl-bp) {
        margin-top: 12rem;
    }
}

.ourNews {
    .ourNews__helper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 2.6rem;
        border-bottom: solid 0.1rem #D2DCE5;

        h2 {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 2.4rem;
            line-height: 3.6rem;
            color: #212424;
        }
    }

    .ourNews__content {
        display: flex;
        justify-content: space-between;

        .ourNews__block {
            position: relative;
            width: 45%;

            .ourNews__title {
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 400;
                font-size: 2.4rem;
                line-height: 3.6rem;
                letter-spacing: -0.01em;
                color: #212424;
            }

            .ourNews__date {
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 2.4rem;
                color: #697279;
            }

            img {
                position: absolute;
                object-fit: contain;
                width: 100%;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .ourNews__block_different {
            width: 180%;
        }
    }
}
