.menu-wrapper {
    // display: none;
    position: fixed;
    width: 100%;
    max-height: 73.4rem;
    overflow-y: auto;
    overflow: hidden;
    background: white;
    top: var(--headerH);
    transform: translateY(-100%);
    transition: transform .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
    @include breakpoint($xxl-bp) {
        max-height: 76vh;
    }
    @include breakpoint($xl-bp) {
        max-height: 67rem;
    }
    @include breakpoint($mid-bp) {
        border-top: 0.1rem solid #D2DCE5;
        left: 0;
        height: calc(100% - var(--headerH));
        overflow: auto;
        transform: translateX(100%);
        &::-webkit-scrollbar {
            width: 0;
        }
    }
    @include breakpoint($sm-bp) {
        grid-template-columns: repeat(1, 1fr);

        &::before {
            content: none;
        }
    }
    .corporate {
        padding: 1rem 2rem 5rem;
        border-left: 0.1rem solid #E5E9F1;
        transition: opacity .3s;
        .corporate__content {
            .corporate__block {
                @include breakpoint($mid-bp) {
                    height: 24rem;
                }
            }
        }
    }
}

.back-panel {
    display: none;
    background-color: #F0F2F6;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    height: min-content;
    overflow: hidden;
    transition: max-height .3s;
    @include breakpoint($mid-bp) {
        display: block;
    }
    div {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.6rem;
        /* identical to box height, or 162% */
        
        
        /* UI/Footer */
        
        color: #697279;
        padding: 2rem;
        box-sizing: content-box;
        display: flex;
        gap: 2rem;
        align-items: center;
        padding-left: 2.5rem;
        &::before {
            content: ' ';
            position: relative;
            display: inline-block;
            width: 1rem;
            height: 1rem;
            background-image: url('../images/arrow.svg');
            background-repeat: no-repeat;
            background-size: contain;
            filter: brightness(0.2);
            transform: rotate(180deg);
            @include breakpoint($sm-bp) {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
    @include breakpoint($mid-bp) {
        display: block;
        grid-column: 2 span;
    }
    @include breakpoint($sm-bp) {
        grid-column: 1 span;
    }
}

.back-panel--active {
    max-height: 100vh; 
}

.back-panel--active + .main-nav {
    padding-right: 3rem;
}

  .main-nav {
    padding: 3rem 5.7rem 3rem 2rem;
    display: none;
    transition: padding .3s;
    @include breakpoint($mid-bp) {
        display: block;
    }
    @include breakpoint($sm-bp) {
        padding: 4rem 2.5rem;
    }
    .main-nav__list {
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 3.6rem;
        /* identical to box height, or 150% */
        
        
        /* UI/Black/High */
        
        color: #212424;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        @include breakpoint($sm-bp) {
            font-size: 2.7rem;
            gap: 3.5rem;
        }
      li {
        a {

        }
        button,a, label {
            display: block;
            width: 100%;
            text-align: start;
            text-decoration: none;
            color: inherit;
            border: 0;
            background-color: unset;
            padding: 0;
        }
        .tab-label--hidden {
            @include breakpoint($sm-bp) {
                display: none;
            }
          }
        .main-nav__list-link {

        }
        .main-nav__list-button {
            position: relative;
            padding-right: 2rem;
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                width: 1rem;
                height: 1rem;
                background-image: url('../images/arrow.svg');
                background-repeat: no-repeat;
                background-size: contain;
                filter: brightness(0.2);
                transform: translateY(-50%);
                @include breakpoint($sm-bp) {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
        .main-nav__list-button + .main-nav__submenu {
            display: none;
        }
        .tab-label--active {
            padding-bottom: 1.5rem;
            transition: padding .3s;
            &::after {
                opacity: 0;
                transition: opacity .2s;
            }
        }
      }
    }
  }

.menu-second {
    padding-top: 3rem;
    padding-left: 5.7rem;
    padding-right: 2rem;
    display: none;
    flex-direction: column;
    gap: 2rem;
    transition: opacity .2s;
    @include breakpoint($mid-bp) {
        display: flex;
        border-left: 0.1rem solid #E5E9F1;
    }
    @include breakpoint($sm-bp) {
        padding: 0;
        padding-bottom: 4rem;
        gap: 3rem;
        border-top: 0.1rem solid #E5E9F1;
        border-left: 0;
    }
    .geolocation {
        @include breakpoint($sm-bp) {
            border-bottom: 0.1rem solid #E5E9F1;
        }
    }
    .languages {
        padding: 0;
        justify-content: flex-start;
            .__select__title {
                @include breakpoint($sm-bp) {
                    padding: 0;
                    padding-left: 2.5rem;
                    padding-right: 2.5rem;
                    font-size: 1.8rem;
                }
            }
    }
    .btn__search-show {
        span {
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 2.2rem;
            /* identical to box height, or 143% */
            display: block;
            
            /* UI/Footer */
            
            color: #697279;
            @include breakpoint($sm-bp) {
                font-size: 1.8rem;
            }
        }
        svg {
            width: 1.6rem;
            height: 1.6rem;
        }
    }
}

.mob-title {
    display: none;
    @include breakpoint($mid-bp) {
        display: block;
        font-size: 2.6rem;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: 0em;
        text-align: left;
    }
}

.show.menu-wrapper {
    transform: translateY(0);
    @include breakpoint($mid-bp) {
        z-index: 2;
        width: 100%;
        left: 0;
        height: calc(100% - 7rem);
    }
}

.menu {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 4rem;
    padding-top: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
    display: none;
    @include breakpoint($mid-bp) {
        padding: 0;
    }
}

.insights__inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-height: 49rem;
    padding-bottom: 5rem;
    overflow-y: auto;
    @include breakpoint($xxl-bp) {
        max-height: 64vh;
    }
    @include breakpoint($xl-bp) {
        max-height: 35rem;
    }
    @include breakpoint($mid-bp) {
        max-height: unset;
        display: grid;
        grid-template-columns: 42% 1fr;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 0;
    }
    @include breakpoint($sm-bp) {
        grid-template-columns: repeat(1, 1fr);
    }
    
    &::-webkit-scrollbar {
        width: 5px;
    }
    
    &::-webkit-scrollbar-track {
        background-color: rgba(236, 230, 230, 0.663);
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }
    scrollbar-color: rgba(0, 0, 0, 0.3) rgb(236, 230, 230);
    scrollbar-width: thin;
    .main-nav__list-link {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 0em;
        text-align: left;
        color: $black;
    }
    .tab-accord {
        @include breakpoint($mid-bp) {
            padding-top: 4rem;
        }
        @include breakpoint($sm-bp) {
            padding-bottom: 2rem;
        }
    }
    .tab-accord__list li {
        padding: 0;
        margin-bottom: 1.6rem;
        a {
            text-decoration: none;
            color:$black;
        }
    }

    .insights-menu {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-right: 0;
        padding-top: 0;
        width: calc(100% - 57rem);
        padding-bottom: 0;
        @include breakpoint($xxl-bp) {
            width: calc(100% - 39rem);
        }
        @include breakpoint($xl-bp) {
            width: calc(100% - 45rem);
        }
        @include breakpoint($mid-bp) {
            display: flex;
            flex-direction: column;
            width: 100%;
            border-left: 0.1rem solid #E5E9F1;
            padding-top: 1.5rem;
            padding-bottom: 3rem;
        }
        @include breakpoint($sm-bp) {
            border: 0;
            border-top: 0.1rem solid #d2d2d2;
        }

        & > div {
            width: calc(calc(100% - 20rem) / 5);
            margin-right: 5rem;
            height: 40rem;
            margin-bottom: 5rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @include breakpoint($xxl-bp) {
                width: calc(calc(100% - 12rem) / 4);
                margin-right: 4rem;
            }
            @include breakpoint($xl-bp) {
                width: calc(calc(65% - 14rem) / 2);
                height: 32rem;
            }
            @include breakpoint($mid-bp) {
                width: 100%;
                height: auto;
                margin-bottom: 0;
                padding-top: 2rem;
            }
            .insights-menu__item {
                height: 20rem;
                @include breakpoint($xl-bp) {
                    height: 17rem;
                }
                @include breakpoint($mid-bp) {
                    height: auto;
                    border-bottom: 0.1rem solid #D2DCE5;
                }
                @include breakpoint($sm-bp) {
                    width: 100%;
                }
                .insights-menu__data {
                    @include breakpoint($mid-bp) {
                        padding-bottom: 2rem;
                    }
                }
                &:nth-child(1) {
                    .insights-menu__data {
                        padding-bottom: 2rem;
                    }
                }
                &:nth-child(2) {
                    .insights-menu__name {
                        padding-top: 2rem;
                    }
                }
            }

            &:nth-child(5n) {
                margin-right: 0;
                @include breakpoint($xxl-bp) {
                    margin-right: 4rem;
                }
            }
            &:nth-child(4n) {
                @include breakpoint($xxl-bp) {
                    margin-right: 0;
                }
                @include breakpoint($xl-bp) {
                    margin-right: 4rem;
                }
            }
            &:nth-child(3n) {
                @include breakpoint($xl-bp) {
                    margin-right: 0;
                }
            }

            .insights-menu__title {
                @include breakpoint($xl-bp) {
                    font-size: 1.6rem;
                }
            }
            &:last-child > .insights-menu__item:last-child {
                border: 0;
            }
        }

        .big {
            @include breakpoint($xl-bp) {
                width: 35%;
            }
            @include breakpoint($mid-bp) {
                display: none;
            }

            .insights-menu__item {
                height: 100%;
                &:nth-child(1) {
                    .insights-menu__data {
                        padding-bottom: 0rem;
                    }
                    .insights-menu__name {
                        padding-top: 0rem;
                    }
                }
            }
            .insights-menu__title {
                @include breakpoint($xl-bp) {
                    font-size: 2.4rem;
                }
            }
        }
    }

    .insights-menu__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
        height: 100%;
        flex-grow: 1;
        div {
            flex-grow: 1;
            display: flex;
            align-items: flex-end;
            @include breakpoint($mid-bp) {
                display: block;
            }
        }
        img {
            margin-bottom: 2rem;
            width: 100%;
            height: 16rem;
            object-fit: cover;
            @include breakpoint($xl-bp) {
                height: 11rem;
            }
        }
    }

    .insights-menu__title {
        font-size: 2.4rem;
        line-height: 1.4;
        margin-top: 1.8rem;
        @include breakpoint($xl-bp) {
            margin-top: 1.1rem;
        }
        @include breakpoint($mid-bp) {
            margin-top: 0.5rem;
            padding-bottom: 2rem;
        }
    }
}

.active {
    .menu__link {
        color: $black;
    }
    .submenu {
        display: flex;
        @include breakpoint($mid-bp) {
            display: flex;
            width: 47%;
            left: 51%;
        }
        @include breakpoint($sm-bp) {
            width: 100%;
            max-height: 200vh;
        }
    }

    .submenu__list {
        @include breakpoint($sm-bp) {
            width: 100%;
            max-height: 200vh;
        }    
    }
}

.menu__item.hide {
    @include breakpoint($sm-bp) {
        max-height: 0;
        visibility: hidden;
        overflow: hidden;
    }
}

.menu__item.hide.active {
    @include breakpoint($sm-bp) {
        max-height: unset;
        visibility: visible;
        overflow: unset;
    }
}

.submenu {
    position: absolute;
    max-height: calc(100% - 4rem);
    overflow-y: auto;
    left: 43rem;
    top: 0;
    display: none;
    width: calc(100% - 47rem);
    padding-right: 0;
    justify-content: space-between;
    padding-bottom: 4rem;
    @include breakpoint($sm-bp) {
        position: static;
    }
    &::-webkit-scrollbar {
        width: 5px;
    }
    
    &::-webkit-scrollbar-track {
        background-color: rgba(236, 230, 230, 0.663);
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }
    scrollbar-color: rgba(0, 0, 0, 0.3) rgb(236, 230, 230);
    scrollbar-width: thin;

    @include breakpoint($mid-bp) {
        display: none;
    }
}

.menu__link {
    font-size: 2rem;
    text-decoration: none;
    color: #AAB8C3;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0em;
    text-align: left;
    display: block;
    margin-bottom: 1.6rem;
    padding-right: 10rem;
    width: 45rem;
    transition: color .4s;
    &:hover {
        color: $black;
        outline: none;
    }
    &:active,
    &:focus  {
        outline: none;
    }
}

.submenu__aside {
    width: 37rem;
    position: relative;
    padding-top: 4.5rem;
    @include breakpoint($xxl-bp) {
        width: 23.5rem;
    }
    @include breakpoint($mid-bp) {
        display: none;
    }

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: $black;
        position: absolute;
        left: 0;
        top: 10.6rem;
    }
}

.submenu__nav {
    width: calc(100% - 44rem);
    padding-top: 2.2rem;
    position: relative;
    @include breakpoint($xxl-bp) {
        width: calc(100% - 24.5rem);
    }
    @include breakpoint($mid-bp) {
        width: 100%;
    }
    @include breakpoint($sm-bp) {
        padding-top: 0;
    }

    &::before {
        content: "";
        display: block;
        width: calc(100% - 4rem);
        height: 1px;
        background: $black;
        position: absolute;
        left: 0;
        top: 10.6rem;
        @include breakpoint($mid-bp) {
            content: none;
        }
    }
}

.submenu__title {
    display: flex;
    align-items: center;
    text-decoration: none;
    @include breakpoint($mid-bp) {
        display: none;
    }

    h3 {
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.44;
        letter-spacing: -0.01em;
        text-align: left;
        color: $black;
    }

    svg {
        width: 3.2rem;
        margin-left: 1.5rem;
    }
}

.submenu__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 6.5rem;
    @include breakpoint($xl-bp) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6.8rem;
    }
    @include breakpoint($mid-bp) {
        display: flex;
        flex-direction: column;
    }
    @include breakpoint($sm-bp) {
        margin-top: 1rem;
        width: 100%;
        max-height: 0;
        transition: max-height .6s;
        overflow: hidden;
    }
}

.submenu__item {
    width: calc(calc(100% - 15rem) / 4);
    margin-right: 5rem;
    margin-bottom: 3.2rem;
    @include breakpoint($xxl-bp) {
        width: calc(calc(100% - 13.5rem) / 3);
        margin-right: 4.5rem;
    }
    @include breakpoint($xl-bp) {
        width: 100%;
    }

    &:nth-child(4n) {
        margin-right: 0;
        padding-right: 4rem;
        @include breakpoint($xxl-bp) {
            margin-right: 4.5rem;
            padding-right: 0;
        }
    }

    &:nth-child(3n) {
        @include breakpoint($xxl-bp) {
            margin-right: 0;
            padding-right: 4rem;
        }
    }
}

.submenu__link {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0em;
    text-align: left;
    color: #212424;
    text-decoration: none;

    img {
        width: 2.2rem;
        margin-right: 1.3rem;
        @include breakpoint($mid-bp) {
            display: none;
        }
    }
}

.submenu__text {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0.5rem;
    @include breakpoint($mid-bp) {
        display: none;
    }
}

.submenu__aside_title {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: $black;
}

.submenu__aside_list {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    padding-right: 12rem;
    margin-top: 6rem;
    @include breakpoint($xxl-bp) {
        padding-right: 0;
    }

    li {
        margin-bottom: 2.4rem;
        &:nth-last-child(1) {
            margin-bottom: 0;
        }
    }

    a {
        color: $black;
        text-decoration: none;
    }
}

.menu-button {
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0;
  
    z-index: 4;
    display: none;
    position: relative;
    &:focus {
        outline: none;
    }
    .burger-button-close {
      #first-line-burger,
      #second-line-burger,
      #third-line-burger {
          width: 100%;
          height: 2px;
          border-radius: 0.1rem;
          background-color: #697279;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%);
          transform-origin: center center;
          transition: transform 0.4s ease, opacity 0.4s ease;
        
      }
  
      #first-line-burger {
          top: 0%;
      }
      #third-line-burger {
          top: unset;
          bottom: 0%;
      }
    }
    @include breakpoint($mid-bp) {
      display: block;
      margin-left: 3rem;
    }
    @include breakpoint($sm-bp) {
      margin-left: 0;
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem;
    }
  }
  
  .menu-button--active {
    .burger-button-close {
      #first-line-burger,
      #second-line-burger,
      #third-line-burger {
        background-color: #AAB8C3;
        @include breakpoint($sm-bp) {
            background-color: #40454E;
        }
      }
      #first-line-burger {
        top: 50%;
        transform: translateX(-50%) rotate(45deg);
      }
      #second-line-burger {
        transform: translateX(-100%);
        opacity: 0;
      }
      #third-line-burger {
        top: 50%;
        bottom: 0;
        transform: translateX(-50%) rotate(-45deg);
      }
    }
  }

  .tab-label + .tab-accord {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s;
  }

  .tab-label--active + .tab-accord {
    max-height: 120vh;
  }

  .tab-accord__list {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.6rem;
    /* identical to box height, or 162% */
    
    
    /* UI/Black/Medium */
    
    color: #40454E;
    li {
        padding-top: 1.1rem;
        padding-bottom: 1.1rem;
        transition: padding .3s;
    }
    li.active {
        color: #A50F2D;
        padding-left: 2rem;
        @include breakpoint($sm-bp) {
            color: #212424;
            font-size: 2.6rem;
            padding-left: 0;
            padding-top: 0;
        }
        .main-nav__list-button {
            &::after {
                @include breakpoint($sm-bp) {
                    display: none;
                }
            }
        }
        .main-nav__list-button + .main-nav__submenu {
            @include breakpoint($sm-bp) {
                display: block;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 2.6rem;
            }
        }
    }
    li.not-active {
        padding-right: 2rem;
    }
  }

  .not-active {
    @include breakpoint($sm-bp) {
        display: none;
    }
  }

  .insights-menu {
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
    transition: opacity .3s;
    @include breakpoint($sm-bp) {
        padding: 0;
    }
    .insights-menu__item {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-decoration: none;
        /* identical to box height, or 150% */
        // border-bottom: 0.1rem solid #D2DCE5;
        &:first-child {
            padding-top: 0;
        }
      .insights-menu__name {
        color: #A50F2D;
      }
      .insights-menu__title {
        color: #212424;
      }
      .insights-menu__data {
        color: #40454E;
      }
    }
  }

  .inner-menu {
    display: none;
    padding-bottom: 3rem;
    padding-top: 10rem;
    transition: opacity .3s;
    @include breakpoint($sm-bp) {
        padding-top: 0rem;
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
    }
    ul {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.6rem;
        /* identical to box height, or 162% */
        
        
        /* UI/Black/Medium */
        
        color: #40454E;
        li {
            padding: 1.1rem 2rem;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
    }
  }

  .about-us {
    .tab-accord {
        @include breakpoint($mid-bp) {
            padding-top: 3rem;
        }

    }
    .about-us__wrapper {
        display: grid;
        grid-template-columns: min-content 1fr;
        column-gap: 20rem;
        padding-bottom: 8rem;
        padding-right: 6rem;
        @include breakpoint($xl-bp) {
            column-gap: 29rem;
            padding-right: 4rem;
        }
        @include breakpoint($mid-bp) {
            grid-template-columns: 42% 1fr;
            padding-right: 2rem;
            padding-left: 2rem;
            column-gap: 0;
            height: calc(100% - 6rem);
        }
        @include breakpoint($sm-bp) {
            grid-template-columns: repeat(1, 1fr);
        }
        .corporate {
            border-left: 0;
            padding: 0;
            @include breakpoint($mid-bp) {
                display: flex;
                border-left: 0.1rem solid #D2DCE5;
            }
            @include breakpoint($sm-bp) {
                border-left: 0;
            }
            .corporate__content {
                margin-top: 0;
                @include breakpoint($mid-bp) {
                    gap: 3rem;
                    justify-content: flex-start;
                    width: 100%;
                    padding-left: 2rem;
                    padding-top: 4rem;
                    padding-bottom: 4rem;
                }
                @include breakpoint($sm-bp) {
                    padding-left: 0;
                    border-left: 0;
                    border-top: 0.1rem solid #D2DCE5;
                    padding-top: 4rem;
                }
                .corporate__block {
                    height: 24rem;
                    @include breakpoint($xxl-bp) {
                        width: 50%;
                        &:nth-child(3) {
                            display: none;
                        }
                    }
                    @include breakpoint($xl-bp) {
                        width: 100%;
                        &:nth-child(1) {
                            display: none;
                            @include breakpoint($mid-bp) {
                                display: flex;
                            }
                        }
                    }
                    @include breakpoint($mid-bp) {
                        div {
                            position: relative;
                        }
                    }
                }
            }
        }
    }
    .left-wrapper {
        .tab-accord__list {
            display: grid;
            grid-template-columns: repeat(2, max-content);
            column-gap: 13.5rem;
            font-weight: 500;
            font-size: 2rem;
            line-height: 3.2rem;
            row-gap: 1.5rem;
            @include breakpoint($mid-bp) {
                display: flex;
                flex-direction: column;
                font-size: 1.8rem;
            }
            @include breakpoint($sm-bp) {
                padding-bottom: 4rem;
            }
            li {
                &:first-child {
                    display: none;
                    @include breakpoint($mid-bp) {
                        display: block;
                    }
                }
                padding: 0;
            }
            a {
                color: #212424;
                text-decoration: none;
            }
        }
    }
  }

  .menu.solutions-and-services {
    @include breakpoint($mid-bp) {
        padding-top: 3rem;
        padding-left: 2rem;
    }
    .mob-title {
        @include breakpoint($mid-bp) {
            padding-bottom: 2rem;
        }
    }
    .menu__item {
        .menu__link {
            position: relative;
            @include breakpoint($mid-bp) {
                width: 30rem;
                @include breakpoint($sm-bp) {
                    width: calc(100% - 5rem);
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 1rem;
                    height: 1rem;
                    background-image: url('../images/arrow.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    filter: brightness(0.2);
                    transform: translateY(-50%);
                    @include breakpoint($sm-bp) {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
            }
        }
    }
    .menu__item.active {
        .menu__link {
            &::after {
                @include breakpoint($sm-bp) {
                    display: none;
                }
            }
            @include breakpoint($mid-bp) {
                color: $red;
                width: 32rem;
            }
            @include breakpoint($sm-bp) {
                width: 100%;
                color: #212424;
            }
        }
    }

    .menu__item.empty .menu__link {
        @include breakpoint($mid-bp) {
            &::after {
                content: none;
            }
        }
    }
  }