.menu-wrapper {
    position: fixed;
    width: 100%;
    max-height: 81.4rem;
    overflow-y: auto;
    background: white;
    padding-left: 4rem;
    // padding-top: 5.5rem;
    padding-bottom: 4rem;
    padding-right: 3rem;
    top: var(--headerH);
    transform: translateY(-100%);
    transition: transform .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar:horizontal {
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(236, 230, 230, 0.663);
    }

    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    @include breakpoint($xxl-bp) {
        // max-height: var(--h);
        max-height: calc(100% - var(--headerH));
        padding-left: 4rem;
    }

    @include breakpoint($xl-bp) {
        max-height: calc(100% - var(--headerH));
    }

    @include breakpoint($mid-bp) {
        border-top: 0.1rem solid #D2DCE5;
        left: 0;
        max-height: unset;
        height: calc(100% - var(--headerH));
        overflow: auto;
        transform: translateX(100%);
        padding: 0;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    @include breakpoint($sm-bp) {
        grid-template-columns: repeat(1, 1fr);

        &::before {
            content: none;
        }
    }

    .corporate {
        padding: 1rem 2rem 5rem;
        border-left: 0.1rem solid #E5E9F1;
        transition: opacity .3s;

        .corporate__content {
            .corporate__block {
                @include breakpoint($mid-bp) {
                    height: 24rem;
                }
            }
        }
    }
}

.menu__title {
    margin-top: 5.6rem;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #212424;
    text-decoration: none;

    &:hover {
        color: #A50F2D;
    }

    &::after {
        content: '';
        width: 1.6rem;
        height: 1.6rem;
        display: inline-block;
        margin-left: 0.8rem;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 2L11 8L5 14' stroke='%23212424' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
    }

    @include breakpoint($mid-bp) {
        display: block;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;
        color: $black;
        text-decoration: dashed;
        margin-top: 0;

        &::after {
            content: unset;
        }
    }

    @include breakpoint($sm-bp) {
        font-size: 2.55rem;
    }
}

.back-panel {
    display: none;
    background-color: #F0F2F6;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    height: min-content;
    overflow: hidden;
    transition: max-height .3s;

    @include breakpoint($mid-bp) {
        display: block;
    }

    div {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.6rem;
        color: #697279;
        padding: 1.2rem;
        box-sizing: content-box;
        display: flex;
        gap: 2rem;
        align-items: center;
        padding-left: 2.5rem;

        @include breakpoint($sm-bp) {
            padding: 2.5rem;
            padding-left: 3rem;
            font-size: 2rem;
            gap: 2.6rem;
        }

        &::before {
            content: ' ';
            position: relative;
            display: inline-block;
            width: 1rem;
            height: 1rem;
            background-image: url('../images/arrow.svg');
            background-repeat: no-repeat;
            background-size: contain;
            filter: brightness(0.2);
            transform: rotate(180deg);

            @include breakpoint($sm-bp) {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }

    @include breakpoint($mid-bp) {
        display: block;
        grid-column: 2 span;
    }

    @include breakpoint($sm-bp) {
        grid-column: 1 span;
    }
}

.back-panel--active {
    max-height: 100vh;
}

.back-panel--active+.main-nav {
    padding-right: 3rem;
}

.main-nav {
    padding: 3rem 5.7rem 3rem 2rem;
    display: none;
    transition: padding .3s;

    @include breakpoint($mid-bp) {
        display: block;
    }

    @include breakpoint($sm-bp) {
        padding: 4rem 2.5rem;
    }

    .main-nav__list {
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 3.6rem;
        /* identical to box height, or 150% */


        /* UI/Black/High */

        color: #212424;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        @include breakpoint($sm-bp) {
            font-size: 2.7rem;
            gap: 3.5rem;
        }

        li {
            a {}

            button,
            a,
            label {
                display: block;
                width: 100%;
                text-align: start;
                text-decoration: none;
                color: inherit;
                border: 0;
                background-color: unset;
                padding: 0;
            }

            .tab-label--hidden {
                @include breakpoint($sm-bp) {
                    display: none;
                }
            }

            .main-nav__list-link {}

            .main-nav__list-button {
                position: relative;
                padding-right: 2rem;

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 1rem;
                    height: 1rem;
                    background-image: url('../images/arrow.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    filter: brightness(0.2);
                    transform: translateY(-50%);

                    @include breakpoint($sm-bp) {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
            }

            .main-nav__list-button+.main-nav__submenu {
                display: none;
            }

            .tab-label--active {
                padding-bottom: 1.5rem;
                transition: padding .3s;

                &::after {
                    opacity: 0;
                    transition: opacity .2s;
                }
            }
        }
    }
}

.menu-second {
    padding-top: 3rem;
    padding-left: 5.7rem;
    padding-right: 2rem;
    display: none;
    flex-direction: column;
    gap: 2rem;
    transition: opacity .2s;

    @include breakpoint($mid-bp) {
        display: flex;
        width: 100%;
        gap: 0;
        flex-wrap: wrap;
        padding-top: 1rem;
        border-left: 0.1rem solid #E5E9F1;
        padding-right: 0;
        height: 100%;
    }

    @include breakpoint($sm-bp) {
        padding: 0;
        width: 100%;
        padding-bottom: 4rem;
        border-top: 1px solid #E5E9F1;
        border-left: 0;
        padding-top: 2.5rem;
    }

    .geolocation {
        @include breakpoint($mid-bp) {
            margin-top: 1rem;
        }

        @include breakpoint($sm-bp) {
            margin-top: 3rem;
        }
    }

    .menu-second__top {
        @include breakpoint($mid-bp) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 2rem;
        }

        @include breakpoint($sm-bp) {
            padding-right: 7rem;
            padding-left: 2.5rem;
            padding-bottom: 2.5rem;
            row-gap: 2.4rem;
        }

        .header__search {
            @include breakpoint($mid-bp) {
                grid-row: 2 span;
                margin-right: 0;
                justify-content: center;
                height: min-content;
                align-items: flex-start;
                margin-top: 2rem;
                padding-right: 2.5rem;
            }

            @include breakpoint($sm-bp) {
                margin-top: 0;
                justify-content: flex-end;
            }
        }
    }

    .menu-second__mid {
        @include breakpoint($mid-bp) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint($sm-bp) {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            border-bottom: 0.1rem solid #D2DCE5;
            padding-bottom: 3.5rem;
        }

        .header__top-button {
            @include breakpoint($mid-bp) {
                display: flex;
                padding: 0;
            }
        }
    }

    .menu-second__flex-col {
        @include breakpoint($mid-bp) {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: flex-start;
            margin-top: 2rem;
        }

        @include breakpoint($sm-bp) {
            gap: 2.4rem;
            margin-top: 0;
        }
    }

    .city.__select {
        @include breakpoint($mid-bp) {
            display: block;
            padding-left: 0;
            margin-top: 2.5rem;
        }

        @include breakpoint($sm-bp) {
            margin-top: 0;
        }
    }

    .menu-second__helpers {
        @include breakpoint($mid-bp) {
            width: 50%;
        }
    }

    .header__contact-mob {
        @include breakpoint($mid-bp) {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            gap: 0.5rem;

            a {
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.43;
                letter-spacing: 0em;
                text-align: left;
                color: $black;
                text-decoration: none;
                margin-bottom: .5rem;

                @include breakpoint($mid-bp) {
                    margin-bottom: 0;
                }
            }
        }

        @include breakpoint($sm-bp) {
            gap: 2.4rem;

            a {
                font-size: 1.8rem;
                line-height: 2rem;
            }
        }
    }

    nav {
        @include breakpoint($mid-bp) {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 10rem;
        }

        @include breakpoint($sm-bp) {
            margin-top: 3rem;
            padding: 0 2.5rem;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    .header__nav_link {
        @include breakpoint($mid-bp) {
            margin-left: 0;
            font-size: 1.4rem;
            color: $black;
            text-decoration: none;
            font-weight: 500;
            line-height: 2rem;
            letter-spacing: 0em;
            text-align: left;
            margin-top: 2.5rem;

            &:nth-child(1) {
                margin-top: 0;
            }
        }

        @include breakpoint($sm-bp) {
            width: 50%;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 2rem;
            letter-spacing: 0em;
            text-align: left;
            color: #697279;

            &:nth-child(2) {
                margin-top: 0;
            }

            &:nth-child(2n) {
                padding-left: 6rem;
            }
        }
    }

    .languages {
        padding: 0;
        margin-top: 2rem;
        justify-content: flex-start;

        @include breakpoint($sm-bp) {
            margin-top: 3rem;
        }

        .__select__title {
            @include breakpoint($sm-bp) {
                padding: 0;
                font-size: 1.8rem;
            }
        }

        .geolocation__flag {
            margin-right: 1rem;
            width: 2.4rem;

            @include breakpoint($sm-bp) {
                margin-right: 1.8rem;
            }
        }
    }

    .btn__search-show {
        span {
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 2.2rem;
            /* identical to box height, or 143% */
            display: block;

            /* UI/Footer */

            color: #697279;

            @include breakpoint($sm-bp) {
                font-size: 1.8rem;
            }
        }

        svg {
            width: 1.6rem;
            height: 1.6rem;

            @include breakpoint($sm-bp) {
                width: 1.8rem;
                height: 1.8rem;
                margin-left: 1.3rem;
            }
        }
    }
}

.mob-title {
    display: none;

    @include breakpoint($mid-bp) {
        display: block;
        font-size: 2.6rem;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: 0em;
        text-align: left;
    }
}

.show.menu-wrapper {
    transform: translateY(0);

    @include breakpoint($mid-bp) {
        z-index: 2;
        width: 100%;
        left: 0;
        height: calc(100% - var(--headerH));
    }
}

.menu {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-start;

    @include breakpoint($mid-bp) {
        padding: 3rem 2rem;
    }

    @include breakpoint($sm-bp) {
        padding: 4rem 2.5rem;
        height: auto;
    }

    .menu__title {
        @include breakpoint($mid-bp) {
            order: 0;
        }
    }

    nav {
        padding-top: 4rem;
        columns: 4;
        column-gap: 1rem;

        @include breakpoint($mid-bp) {
            padding-top: 0;
            order: 2;
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 2rem;
        }

        @include breakpoint($sm-bp) {
            margin-top: 2.4rem;
            padding-bottom: 4rem;
        }
    }

    .menu__link {
        @include breakpoint($mid-bp) {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.625;
            letter-spacing: 0em;
            text-align: left;
            color: $black;
            padding-right: 3rem;
        }

        @include breakpoint($sm-bp) {
            font-size: 2rem;
            line-height: 2.8rem;
        }
    }

    .link-red {
        margin-left: 0;
        margin-top: 7.6rem;

        @include breakpoint($mid-bp) {
            margin-top: 2.5rem;
            order: 1;
            margin-left: 0;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.625;
            letter-spacing: 0em;
            text-align: left;
            color: $black;

            &:hover span {
                box-shadow: unset;
            }

            svg {
                display: none;
            }
        }

        @include breakpoint($sm-bp) {
            font-size: 2rem;
            line-height: 2.8rem;
            margin-top: 2.4rem;
        }
    }
}

.insights__inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-height: 49rem;
    padding-bottom: 5rem;
    overflow-y: auto;

    @include breakpoint($xxl-bp) {
        max-height: 64vh;
    }

    @include breakpoint($xl-bp) {
        max-height: 35rem;
    }

    @include breakpoint($mid-bp) {
        max-height: unset;
        display: grid;
        grid-template-columns: 42% 1fr;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 0;
    }

    @include breakpoint($sm-bp) {
        grid-template-columns: repeat(1, 1fr);
    }

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(236, 230, 230, 0.663);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    scrollbar-color: rgba(0, 0, 0, 0.3) rgb(236, 230, 230);
    scrollbar-width: thin;

    .main-nav__list-link {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 0em;
        text-align: left;
        color: $black;
    }

    .tab-accord {
        @include breakpoint($mid-bp) {
            padding-top: 4rem;
        }

        @include breakpoint($sm-bp) {
            padding-bottom: 2rem;
        }
    }

    .tab-accord__list li {
        padding: 0;
        margin-bottom: 1.6rem;

        a {
            text-decoration: none;
            color: $black;
        }
    }

    .insights-menu {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-right: 0;
        padding-top: 0;
        width: calc(100% - 57rem);
        padding-bottom: 0;

        @include breakpoint($xxl-bp) {
            width: calc(100% - 39rem);
        }

        @include breakpoint($xl-bp) {
            width: calc(100% - 45rem);
        }

        @include breakpoint($mid-bp) {
            display: flex;
            flex-direction: column;
            width: 100%;
            border-left: 0.1rem solid #E5E9F1;
            padding-top: 1.5rem;
            padding-bottom: 3rem;
        }

        @include breakpoint($sm-bp) {
            border: 0;
            border-top: 0.1rem solid #d2d2d2;
        }

        &>div {
            width: calc(calc(100% - 20rem) / 5);
            margin-right: 5rem;
            height: 40rem;
            margin-bottom: 5rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @include breakpoint($xxl-bp) {
                width: calc(calc(100% - 12rem) / 4);
                margin-right: 4rem;
            }

            @include breakpoint($xl-bp) {
                width: calc(calc(65% - 14rem) / 2);
                height: 32rem;
            }

            @include breakpoint($mid-bp) {
                width: 100%;
                height: auto;
                margin-bottom: 0;
                padding-top: 2rem;
            }

            .insights-menu__item {
                height: 20rem;

                @include breakpoint($xl-bp) {
                    height: 17rem;
                }

                @include breakpoint($mid-bp) {
                    height: auto;
                    border-bottom: 0.1rem solid #D2DCE5;
                }

                @include breakpoint($sm-bp) {
                    width: 100%;
                }

                .insights-menu__data {
                    @include breakpoint($mid-bp) {
                        padding-bottom: 2rem;
                    }
                }

                &:nth-child(1) {
                    .insights-menu__data {
                        padding-bottom: 2rem;
                    }
                }

                &:nth-child(2) {
                    .insights-menu__name {
                        padding-top: 2rem;
                    }
                }
            }

            &:nth-child(5n) {
                margin-right: 0;

                @include breakpoint($xxl-bp) {
                    margin-right: 4rem;
                }
            }

            &:nth-child(4n) {
                @include breakpoint($xxl-bp) {
                    margin-right: 0;
                }

                @include breakpoint($xl-bp) {
                    margin-right: 4rem;
                }
            }

            &:nth-child(3n) {
                @include breakpoint($xl-bp) {
                    margin-right: 0;
                }
            }

            .insights-menu__title {
                @include breakpoint($xl-bp) {
                    font-size: 1.6rem;
                }
            }

            &:last-child>.insights-menu__item:last-child {
                border: 0;
            }
        }

        .big {
            @include breakpoint($xl-bp) {
                width: 35%;
            }

            @include breakpoint($mid-bp) {
                display: none;
            }

            .insights-menu__item {
                height: 100%;

                &:nth-child(1) {
                    .insights-menu__data {
                        padding-bottom: 0rem;
                    }

                    .insights-menu__name {
                        padding-top: 0rem;
                    }
                }
            }

            .insights-menu__title {
                @include breakpoint($xl-bp) {
                    font-size: 2.4rem;
                }
            }
        }
    }

    .insights-menu__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
        height: 100%;
        flex-grow: 1;

        div {
            flex-grow: 1;
            display: flex;
            align-items: flex-end;

            @include breakpoint($mid-bp) {
                display: block;
            }
        }

        img {
            margin-bottom: 2rem;
            width: 100%;
            height: 16rem;
            object-fit: cover;

            @include breakpoint($xl-bp) {
                height: 11rem;
            }
        }
    }

    .insights-menu__title {
        font-size: 2.4rem;
        line-height: 1.4;
        margin-top: 1.8rem;

        @include breakpoint($xl-bp) {
            margin-top: 1.1rem;
        }

        @include breakpoint($mid-bp) {
            margin-top: 0.5rem;
            padding-bottom: 2rem;
        }
    }
}

.menu__item.hide {
    @include breakpoint($sm-bp) {
        max-height: 0;
        visibility: hidden;
        overflow: hidden;
    }
}

.menu__item.hide.active {
    @include breakpoint($sm-bp) {
        max-height: unset;
        visibility: visible;
        overflow: unset;
    }
}

.submenu {
    padding-right: 0;
    justify-content: space-between;

    @include breakpoint($sm-bp) {
        position: static;
        padding: 4rem 2.5rem;
    }

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(236, 230, 230, 0.663);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    scrollbar-color: rgba(0, 0, 0, 0.3) rgb(236, 230, 230);
    scrollbar-width: thin;

    @include breakpoint($mid-bp) {
        display: none;
    }
}

.menu__link {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    margin-bottom: .4rem;
    text-align: left;
    text-decoration: none;
    color: $black;
    display: flex;
    transition: .4s;
    gap: 1.6rem;
    align-items: center;

    @include breakpoint($sm-bp) {
        margin-bottom: 0;
    }

    img {
        align-self: flex-start;
        width: 2.4rem;
        height: 2.4rem;

        @include breakpoint($mid-bp) {
            display: none;
        }
    }

    @include breakpoint($mid-bp) {
        position: relative;
    }

    &:hover {
        outline: none;
        text-decoration: none;
        color: $red;
    }

    &:active,
    &:focus {
        outline: none;
    }
}

.menu__link+.submenu {
    margin-top: 1rem;

    @include breakpoint($sm-bp) {
        margin-top: 0;
    }
}

.submenu__aside {
    width: 37rem;
    position: relative;
    padding-top: 4.5rem;

    @include breakpoint($xxl-bp) {
        width: 23.5rem;
    }

    @include breakpoint($mid-bp) {
        display: none;
    }

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: $black;
        position: absolute;
        left: 0;
        top: 10.6rem;
    }
}

.submenu__nav {
    position: relative;

    @include breakpoint($mid-bp) {
        width: 100%;
    }

    @include breakpoint($sm-bp) {
        padding-top: 0;
    }
}

.submenu__title {
    display: none;
    align-items: center;
    text-decoration: none;

    @include breakpoint($mid-bp) {
        display: none;
    }

    @include breakpoint($sm-bp) {
        display: block;
        font-size: 2.55rem;
        font-weight: 500;
        line-height: 1.4;
        color: $black;
        letter-spacing: 0em;
        text-align: left;
    }

    .submenu__text,
    h3 {
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.44;
        letter-spacing: -0.01em;
        text-align: left;
        color: $black;
    }

    svg {
        width: 3.2rem;
        margin-left: 1.5rem;
    }
}

.submenu__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1.5rem;
    padding-left: 4rem;

    @include breakpoint($mid-bp) {
        display: flex;
        flex-direction: column;
    }

    @include breakpoint($sm-bp) {
        margin-top: 3rem;
        width: 100%;
        max-height: 0;
        transition: max-height .6s;
        overflow: hidden;
        padding-left: 0;
    }
}

.submenu__item {
    margin-bottom: .4rem;

    @include breakpoint($mid-bp) {
        margin-bottom: 2.2rem;
    }

    @include breakpoint($sm-bp) {
        margin-bottom: 2.4rem;
    }
}

.submenu__link {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    color: $footer-color;
    text-decoration: none;

    &:hover {
        color: $red;
    }

    @include breakpoint($xxl-bp) {
        font-size: 14px;
    }

    @include breakpoint($mid-bp) {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.625;
        letter-spacing: 0em;
        text-align: left;
        color: $black;
    }

    @include breakpoint($sm-bp) {
        font-size: 2.05rem;
    }

    img {
        width: 2.2rem;
        margin-right: 1.3rem;

        @include breakpoint($mid-bp) {
            display: none;
        }
    }
}

.submenu__text {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0.5rem;

    @include breakpoint($mid-bp) {
        display: none;
    }
}

.submenu__aside_title {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: $black;
}

.submenu__aside_list {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    padding-right: 12rem;
    margin-top: 6rem;

    @include breakpoint($xxl-bp) {
        padding-right: 0;
    }

    li {
        margin-bottom: 2.4rem;

        &:nth-last-child(1) {
            margin-bottom: 0;
        }
    }

    a {
        color: $black;
        text-decoration: none;
    }
}

.menu-button {
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0;

    z-index: 4;
    display: none;
    position: relative;


    &:focus {
        outline: none;
    }

    .burger-button-close {

        #first-line-burger,
        #second-line-burger,
        #third-line-burger {
            width: 100%;
            height: 2px;
            border-radius: 0.1rem;
            background-color: #697279;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3D(-50%, 50%, 0);
            transform-origin: center center;
            transition: all .3s;

            @include breakpoint($sm-bp) {
                top: 9px;
            }

        }

        #first-line-burger {
            top: 0%;

            @include breakpoint($sm-bp) {
                top: 0px;
            }
        }

        #third-line-burger {
            top: unset;
            bottom: 0%;

            @include breakpoint($sm-bp) {
                bottom: unset;
                top: 17px;
            }

        }
    }

    @include breakpoint($mid-bp) {
        display: block;
        margin-left: 3rem;
    }

    @include breakpoint($sm-bp) {
        margin-left: 0;
        width: 20px;
        height: 20px;
        margin-right: 0.5rem;
    }
}

.menu-button--active {
    .burger-button-close {

        #first-line-burger,
        #second-line-burger,
        #third-line-burger {
            background-color: #AAB8C3;

            @include breakpoint($sm-bp) {
                background-color: #40454E;
            }
        }

        #first-line-burger {
            top: 50%;
            transform: translate3D(-50%, -50%, 0) rotate(45deg);
        }

        #second-line-burger {
            // transform: translate3D(-50%,-100%,0);
            opacity: 0;
        }

        #third-line-burger {
            top: 50%;
            bottom: 0;
            transform: translate3D(-50%, -50%, 0) rotate(-45deg);
        }
    }
}

.tab-label+.tab-accord {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s;
}

.tab-label--active+.tab-accord {
    max-height: 120vh;
}

.tab-accord__list {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.6rem;
    /* identical to box height, or 162% */


    /* UI/Black/Medium */

    color: #40454E;

    li {
        padding-top: 1.1rem;
        padding-bottom: 1.1rem;
        transition: padding .3s;
    }

    li.active {
        color: #A50F2D;
        padding-left: 2rem;

        @include breakpoint($sm-bp) {
            color: #212424;
            font-size: 2.6rem;
            padding-left: 0;
            padding-top: 0;
        }

        .main-nav__list-button {
            &::after {
                @include breakpoint($sm-bp) {
                    display: none;
                }
            }
        }

        .main-nav__list-button+.main-nav__submenu {
            @include breakpoint($sm-bp) {
                display: block;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 2.6rem;
            }
        }
    }

    li.not-active {
        padding-right: 2rem;
    }
}

.not-active {
    @include breakpoint($sm-bp) {
        display: none;
    }
}

.insights-menu {
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
    transition: opacity .3s;

    @include breakpoint($sm-bp) {
        padding: 0;
    }

    .insights-menu__item {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-decoration: none;

        /* identical to box height, or 150% */
        // border-bottom: 0.1rem solid #D2DCE5;
        &:first-child {
            padding-top: 0;
        }

        .insights-menu__name {
            color: #A50F2D;
        }

        .insights-menu__title {
            color: #212424;
        }

        .insights-menu__data {
            color: #40454E;
        }
    }
}

.inner-menu {
    display: none;
    padding-bottom: 3rem;
    padding-top: 10rem;
    transition: opacity .3s;

    @include breakpoint($sm-bp) {
        padding-top: 0rem;
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
    }

    ul {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.6rem;
        /* identical to box height, or 162% */


        /* UI/Black/Medium */

        color: #40454E;

        li {
            padding: 1.1rem 2rem;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

.about-us {
    .tab-accord {
        @include breakpoint($mid-bp) {
            padding-top: 3rem;
        }

    }

    .about-us__wrapper {
        display: grid;
        grid-template-columns: min-content 1fr;
        column-gap: 20rem;
        padding-bottom: 8rem;
        padding-right: 6rem;

        @include breakpoint($xl-bp) {
            column-gap: 29rem;
            padding-right: 4rem;
        }

        @include breakpoint($mid-bp) {
            grid-template-columns: 42% 1fr;
            padding-right: 2rem;
            padding-left: 2rem;
            column-gap: 0;
            height: calc(100% - 6rem);
        }

        @include breakpoint($sm-bp) {
            grid-template-columns: repeat(1, 1fr);
        }

        .corporate {
            border-left: 0;
            padding: 0;

            @include breakpoint($mid-bp) {
                display: flex;
                border-left: 0.1rem solid #D2DCE5;
            }

            @include breakpoint($sm-bp) {
                border-left: 0;
            }

            .corporate__content {
                margin-top: 0;

                @include breakpoint($mid-bp) {
                    gap: 3rem;
                    justify-content: flex-start;
                    width: 100%;
                    padding-left: 2rem;
                    padding-top: 4rem;
                    padding-bottom: 4rem;
                }

                @include breakpoint($sm-bp) {
                    padding-left: 0;
                    border-left: 0;
                    border-top: 0.1rem solid #D2DCE5;
                    padding-top: 4rem;
                }

                .corporate__block {
                    height: 24rem;

                    @include breakpoint($xxl-bp) {
                        width: 50%;

                        &:nth-child(3) {
                            display: none;
                        }
                    }

                    @include breakpoint($xl-bp) {
                        width: 100%;

                        &:nth-child(1) {
                            display: none;

                            @include breakpoint($mid-bp) {
                                display: flex;
                            }
                        }
                    }

                    @include breakpoint($mid-bp) {
                        div {
                            position: relative;
                        }
                    }
                }
            }
        }
    }

    .left-wrapper {
        .tab-accord__list {
            display: grid;
            grid-template-columns: repeat(2, max-content);
            column-gap: 13.5rem;
            font-weight: 500;
            font-size: 2rem;
            line-height: 3.2rem;
            row-gap: 1.5rem;

            @include breakpoint($mid-bp) {
                display: flex;
                flex-direction: column;
                font-size: 1.8rem;
            }

            @include breakpoint($sm-bp) {
                padding-bottom: 4rem;
            }

            li {
                &:first-child {
                    display: none;

                    @include breakpoint($mid-bp) {
                        display: block;
                    }
                }

                padding: 0;
            }

            a {
                color: #212424;
                text-decoration: none;
            }
        }
    }
}

.menu__item {
    margin-bottom: 1.7rem;
    padding-right: 6rem;
    overflow: hidden;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    break-inside: avoid-column;

    @include breakpoint($xl-bp) {
        padding-right: 2.5rem;
    }

    @include breakpoint($mid-bp) {
        width: 50%;
        margin-bottom: .4rem;
    }

    @include breakpoint($sm-bp) {
        width: 100%;
        padding-right: 0;
        margin-bottom: 2.4rem;
    }
}

.menu__item.list {
    .menu__link {
        @include breakpoint($mid-bp) {
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 1rem;
                width: 1rem;
                height: 1rem;
                background-image: url('../images/arrow.svg');
                background-repeat: no-repeat;
                background-size: contain;
                filter: brightness(0.2);
                transform: translateY(-50%);
                transition: .4s;
            }
        }

        @include breakpoint($sm-bp) {
            &::after {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}

.menu__item.active {
    @include breakpoint($mid-bp) {
        width: 100%;
        position: relative;
        overflow: unset;
    }

    @include breakpoint($sm-bp) {
        position: unset;
    }

    .menu__link {
        color: $black;

        @include breakpoint($mid-bp) {
            width: 50%;
            color: $black;
            text-decoration: none;
            padding-left: 3rem;
        }

        @include breakpoint($sm-bp) {
            width: 100%;
            padding-left: 0;
        }

        &::after {
            @include breakpoint($mid-bp) {
                right: 0;
            }
        }
    }

    .submenu {
        display: flex;

        @include breakpoint($mid-bp) {
            display: flex;
            width: 50%;
            position: absolute;
            right: -1rem;
            top: -1rem;
            padding-right: 3rem;
        }

        @include breakpoint($sm-bp) {
            width: 100%;
            height: 100%;
            max-height: none;
            background: white;
            right: 0;
            top: 0;
        }
    }

    .submenu__list {
        @include breakpoint($sm-bp) {
            width: 100%;
            max-height: 200vh;
        }
    }
}