.developing {
  position: relative;
  @include breakpoint($sm-bp) {
    margin-top: 5rem;
  }

  .developing__title {}
  .developing__desc {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #40454E;
    @include breakpoint($mid-bp) {
      margin-top: 4rem;
    }
    @include breakpoint($sm-bp) {
      margin-top: 3rem;
    }
  }
  .developing__container {
    display: grid;
    grid-template-columns: max-content 58.7rem;
    column-gap: 47rem;
    padding-bottom: 15.4rem;
    @include breakpoint($xl-bp) {
      gap: 28.2rem;
      grid-template-columns: max-content 61rem;
      padding-bottom: 12.4rem;
    }
    @include breakpoint($mid-bp) {
      display: flex;
      flex-direction: column;
      grid-template-columns: unset;
      gap: unset;
      padding-bottom: 10rem;
    }
    @include breakpoint($sm-bp) {
      padding-bottom: 7rem;
    }
  }

  .developing__top {
    position: sticky;
    top: 0;
    background-color: #eff1f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid #D2DCE5;
    padding-bottom: 2.7rem;
    z-index: 1;
    .developing__top-title {
      font-weight: 500;
      font-size: 2.4rem;
      line-height: 3.6rem;
      color: #212424;
    }
    .developing__top-numbers {
      font-weight: 500;
      font-size: 2.4rem;
      line-height: 3.6rem;
      color: #212424;
      @include breakpoint($mid-bp) {
        display: none;
      }
    }
  }
  .developing__wrapper {
    position: relative;
    @include breakpoint($mid-bp) {
      margin-top: 0;
    }
    .developing__item {
      display: grid;
      grid-template-columns: max-content 1fr;
      column-gap: 15.6rem;
      padding-top: 8rem;
      @include breakpoint($mid-bp) {
        column-gap: 0rem;
        grid-template-columns: 0 1fr;
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
        padding-top: 11rem;
      }
      @include breakpoint($sm-bp) {
        padding-top: 4rem;
      }
      .img-wrapper {
        // width: 78rem;
        // height: 78rem;
        grid-row: 2 span;
        // margin-left: 45rem;
        visibility: hidden;
        // @include breakpoint($xxl-bp) {
          width: 62.7rem;
          height: 62.7rem;
          margin-left: 15.7rem;
        // }
        @include breakpoint($xl-bp) {
          width: 46.7rem;
          height: 46.7rem;
        }
        @include breakpoint($mid-bp) {
          width: 26.3rem;
          height: 26.3rem;
          visibility: visible;
          margin-left: 0;
        }
        @include breakpoint($sm-bp) {
          width: 28.3rem;
          height: 28.3rem;
        }
      }
    }
  }
  .developing__block {
    padding-top: 5rem;
    padding-right: 45rem;
    // @include breakpoint($xxl-bp) {
      padding-right: 15.7rem;
    // }
    @include breakpoint($mid-bp) {
      padding-right: 0rem;
      width: calc(100% - 26.3rem);
      padding-left: 4rem;
      padding-top: 0;
    }
    @include breakpoint($sm-bp) {
      width: 100%;
      padding-left: 0rem;
      padding-top: 3rem;
    }
  }
  .developing__block-title {
    padding-bottom: 3rem;
    @include breakpoint($sm-bp) {
      padding-bottom: 2rem;
    }
  }
  .developing__block-desc {
    font-weight: 500;
    font-size: 2rem;
    line-height: 3.2rem;
    /* or 160% */
    
    
    /* UI/Black/Medium */
    
    color: #40454E;
  }
  .developing__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    // padding-right: 45rem;
    padding-top: 4.8rem;
    // @include breakpoint($xxl-bp) {
      padding-right: 15.7rem;
    // }
    @include breakpoint($mid-bp) {
      padding-right: 0;
      padding-left: 0rem;
      padding-top: 3.8rem;
    }
    @include breakpoint($sm-bp) {
      padding-top: 4.5rem;
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    li {
      border-top: 0.1rem solid #D2DCE5;
      border-bottom: 0.1rem solid #D2DCE5;
      padding-top: 3rem;
      padding-bottom: 3rem;
      @include breakpoint($sm-bp) {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;  
      }
      img {
        display: block;
        width: 3.2rem;
        height: 3.2rem;
        @include breakpoint($sm-bp) {
          width: 4.2rem;
          height: 4.2rem;  
        }
      }
      .list-text {
        padding-top: 11rem;
        font-weight: 500;
        font-size: 2rem;
        line-height: 3.2rem;
        color: #212424;
        @include breakpoint($mid-bp) {
          padding-top: 4rem;
        }
        @include breakpoint($sm-bp) {
          padding-top: 5.5rem;
          font-size: 2.05rem;
        }
      }
    }
  }
  .developing__list--col {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    li {
      display: grid;
      grid-template-columns: min-content 1fr;
      gap: 3.2rem;
      border-top: 0;
      &:first-child {
        border-top: 0.1rem solid #D2DCE5;
      }
      .list-text {
        padding-top: 0;
      }
    } 
  }
  .developing-images {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @include breakpoint($mid-bp) {
      display: none;
    }
    .developing-images__inner {
      position: sticky;
      top: 10rem;
      // height: 78rem;
      // @include breakpoint($xxl-bp) {
        height: 62.7rem;
      // }
      @include breakpoint($xl-bp) {
        height: 46.7rem;
      }

    }
    .img-wrapper {
      // width: 78rem;
      // height: 78rem;
      position: absolute;
      // top: 10rem;
      // margin-left: 45rem;
      transition: opacity .3s;
      // @include breakpoint($xxl-bp) {
        margin-left: 15.7rem; 
        width: 62.7rem;
        height: 62.7rem;
      // }
      @include breakpoint($xl-bp) {
        width: 46.7rem;
        height: 46.7rem;
      }
      @include breakpoint($mid-bp) {
        width: 26.3rem;
        height: 26.3rem;
        margin-left: 0;
        position: relative;
        opacity: 1 !important;
      }
    }
  }
}

.mission {
  
}