.features {
    width: 100%;
    overflow: hidden;
    margin-top: 15rem;
    @include breakpoint($xxl-bp) {
        margin-top: 12rem;
    }
    @include breakpoint($mid-bp) {
        margin-top: 10rem;
    }
    @include breakpoint($sm-bp) {
        margin-top: 5.5rem;
    }

    .features__slider  {
        margin-top: 8rem;
        position: relative;
        @include breakpoint($xxl-bp) {
            margin-top: 4rem;
        }
    
        .features-next,
        .features-prev {
            top: -12rem;
            @include breakpoint($xl-bp) {
                top: -8rem;
            }
            @include breakpoint($sm-bp) {
                display: none;
            }
        }

        .features-prev {
            left: unset;
            right: 5rem;
        }
    
        .swiper-button-prev.swiper-button-disabled,
        .swiper-button-next.swiper-button-disabled{
            opacity: .5;
        }
    }
}

.features-card__img {
    display: block;
    width: 100%;
    height: 63rem;
    @include breakpoint($xxl-bp) {
        height: 56rem;
    }
    @include breakpoint($xl-bp) {
        height: 36rem;
    }
    @include breakpoint($mid-bp) {
        height: 27rem;
    }
    @include breakpoint($sm-bp) {
        height: 31rem;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.features-card__title {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 1.8rem;
    @include breakpoint($sm-bp) {
        margin-top: 2.8rem;
        font-size: 2.6rem;
    }
}

.features-card__text {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 1rem;
    @include breakpoint($sm-bp) {
        font-size: 2.05rem;
    }
}

.program.wrapper {
    background: $bg-dark;
    margin-top: 15rem;
    padding-top: 15rem;
    padding-bottom: 15rem;
    @include breakpoint($xxl-bp) {
        margin-top: 12rem;
        padding-top: 10rem;
        padding-bottom: 11rem;
    }
    @include breakpoint($mid-bp) {
        margin-top: 16rem;
        padding-left: 6rem;
        padding-right: 6rem;
    }
    @include breakpoint($sm-bp) {
        margin-top: 9rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 5.5rem;
        padding-bottom: 7rem;
    }

    .section-top {
        margin-top: 0;
        padding-top: 0;
    }

    .title-wrapper {
        width: unset;
        max-width: 78rem;

        .title {
            color: white;
            margin-left: 0;
        }
    }

    .link-red {
        margin-top: 3.2rem;
    }

    .section-top__aside {
        width: 78rem;
        @include breakpoint($xl-bp) {
            width: 100rem;
        }
        @include breakpoint($mid-bp) {
            width: 100%;
        }

        .text-normal {
            color: white;
            padding-right: 0;
        }
    }
}

.program__list {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 10rem;
    @include breakpoint($xxl-bp) {
        margin-top: 8rem;
    }
    @include breakpoint($mid-bp) {
        margin-top: 6rem;
        flex-direction: column;
    }
    @include breakpoint($sm-bp) {
        margin-top: 5.5rem;
    }
}

.program__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: #282B2B;
    min-height: 40rem;
    padding: 2rem 2.8rem;
    width: calc(calc(100% - 8rem) / 3);
    margin-right: 4rem;
    @include breakpoint($xxl-bp) {
        min-height: 45rem;
        padding: 2rem 2.8rem 3rem;
    }
    @include breakpoint($xl-bp) {
        min-height: 31rem;
    }
    @include breakpoint($mid-bp) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 4rem;
        min-height: 33rem;
    }
    @include breakpoint($sm-bp) {
        padding-left: 3.6rem;
        padding-right: 3.6rem;
        padding-bottom: 3.6rem;
        margin-bottom: 2.2rem;
    }
    &:nth-child(3n) {
        margin-right: 0;
    }
    &:nth-last-child(1){
        @include breakpoint($mid-bp) {
            margin-bottom: 0;
        }
    }
}

.program__name {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.44;
    letter-spacing: -0.01em;
    text-align: left;
    color:  #9C9EA2;
    @include breakpoint($sm-bp) {
        font-size: 3.1rem;
    }
}

.silver {
    color: #A4BBCB;
}

.gold {
    color: #CAAF45;
}

.program__condititons {
    max-width: 35rem;
    margin-top: 5rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    @include breakpoint($xl-bp) {
        margin-top: 4.5rem;
    }

    li {
        display: flex;
        align-items: flex-start;
        margin-top: .8rem;
        @include breakpoint($sm-bp) {
            margin-top: 1.2rem;
        }


        &::before {
            content: "";
            width: .6rem;
            min-width: .6rem;
            height: .6rem;
            background: $red;
            border-radius: 100%;
            display: block;
            margin-right: 2rem;
            transform: translateY(1.4rem);
            @include breakpoint($sm-bp) {
                width: 0.8rem;
                min-width: 0.8rem;
                height: 0.8rem;
                margin-left: -1rem;
            }
        }
    }
}

.wrapper.partners-faq {
    margin-top: 15rem;
    @include breakpoint($xxl-bp) {
        margin-top: 12rem;
    }
    @include breakpoint($mid-bp) {
        margin-top: 10rem;
    }
    @include breakpoint($sm-bp) {
        padding-left: 0;
        padding-right: 0;
    }

    & > ul {
        margin-top: 8rem;
    }

    .accordion__title {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 400;
        font-size: 5.2rem;
        line-height: 5.8rem;
        letter-spacing: -0.02em;
        color: #40454E;
        padding-bottom: 5.2rem;
        @include breakpoint($sm-bp) {
            font-size: 4.1rem;
            line-height: 4.8rem;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
    }

    ul .accordion__list-title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border: 0;
        background-color: unset;
        text-align: start;
        padding: 0;
        transition: all .2s;
        padding-top: 4.8rem;
        padding-bottom: 4.8rem;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.44;
        letter-spacing: -0.01em;
        text-align: left;
        color: $black;
        @include breakpoint($sm-bp) {
            font-size: 2.7rem;
            padding-left: 2.8rem;
            padding-top: 3.5rem;
            padding-bottom: 3.5rem;    
        }

        .accordion__list-text {
            flex-grow: 1;
        }
    }

    .accordion ul .accordion__plus {
        display: block;
        width: 3.2rem;
        height: 3.2rem;
        min-width: 3.2rem;
        min-height: 3.2rem;
        border: .1rem solid #aab8c3;
        border-radius: 50%;
        position: relative;
        margin-right: 0;
        transition: all .2s;
        @include breakpoint($mid-bp) {
            margin-right: 3rem;
            margin-top: auto;
            margin-bottom: auto;
        }
        @include breakpoint($sm-bp) {
            width: 4.2rem;
            height: 4.2rem;
            min-width: 4.2rem;
            min-height: 4.2rem;
            margin: 0;
            margin-right: 2rem;
        }
    }

    .accordion {
        list-style-type: none;
        counter-reset: my-counter;
        .accordion__list-title  {
            &::before {
                content: counter(my-counter); 
                counter-increment: my-counter; 
                list-style: decimal;
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.44;
                letter-spacing: -0.01em;
                text-align: left;
                color: $red;
                width:20rem;
                min-width: 20rem;
                @include breakpoint($xxl-bp) {
                    width: 16rem;
                    min-width: 16rem;
                }
                @include breakpoint($xl-bp) {
                    width: 11rem;
                    min-width: 11rem;
                }
                @include breakpoint($mid-bp) {
                    width: 8rem;
                    min-width: 8rem;
                }
                @include breakpoint($sm-bp) {
                    width: 3.5rem;
                    min-width: 3.5rem;
                    font-size: 3rem;
                }
            }
        }
    }

    .accordion li.active {
        background-color: #fff;
        padding-bottom: 3.3rem;
        border-color: #fff;
    }

    li.active .accordion__list-title {
        padding-left: 2.8rem;
    }

    .accordion li.active .accordion__plus {
        background-color: #a50f2d;
        border-color: #a50f2d;
        margin-right: 6rem;
        @include breakpoint($mid-bp) {
            margin: 0;
            margin-right: 6rem;
        }
        @include breakpoint($sm-bp) {
            margin-right: 2rem;
        }
    }

    li.active .accordion__plus:after, .faq .faq__block .faq__right .accordion li.active .accordion__plus:before {
        background-color: #fff;
    }

    .accordion li.active .accordion__plus:after {
        transform: translateX(-50%);
    }

    .accordion li .accordion__list-desc {
        display: block;
        color: #697279;
        padding-left: 24rem;
        padding-right: 24rem;
        padding-top: 0;
        transition: padding-top .2s;
        box-sizing: content-box;
        @include breakpoint($xxl-bp) {
            padding-left: 19rem;
        }
        @include breakpoint($xl-bp) {
            padding-left: 15rem;
        }
        @include breakpoint($mid-bp) {
            padding-right: 2rem;
            padding-left: 11rem;
        }
        @include breakpoint($sm-bp) {
            padding-left: 6rem;
            padding-top: 0;
            padding-right: 3rem;
            font-size: 1.95rem;
        }
    }

    .accordion li.active .accordion__list-desc {
        padding-top: 2rem;
        @include breakpoint($sm-bp) {
            padding-top: 0;
        }
    }
}

.corporate.partners {
    margin-top: 15rem;
    flex-direction: column; 
    border-top: unset;   
    @include breakpoint($xxl-bp) {
        margin-top: 12rem;
    }
    @include breakpoint($mid-bp) {
        margin-top: 7rem;
        flex-direction: column;
        display: flex;
        flex-wrap: nowrap;
        height: unset;
    }
    @include breakpoint($sm-bp) {
        margin-top: 5rem;
    }

    .corporate__content {
        margin-top: 8rem;
        @include breakpoint($xxl-bp) {
            margin-top: 4rem;
        }
        @include breakpoint($mid-bp) {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;
            gap: 2rem;
        }
        @include breakpoint($sm-bp) {
            flex-direction: column;
            flex-wrap: nowrap;
        }

        .corporate__block_color {
            @include breakpoint($sm-bp) {
                div {
                    font-size: 2.2rem;
                }
            }
        }

        .corporate__block {
            height: unset;
            min-height: 55rem;
            @include breakpoint($xxl-bp) {
                min-height: 41rem;
            }
            @include breakpoint($xl-bp) {
                min-height: 30rem;
            }
            @include breakpoint($mid-bp) {
                width: calc(50% - 1rem);
            }
            @include breakpoint($sm-bp) {
                width: 100%;
                min-height: 22rem;
                padding: 1rem 1.8rem;
            }

            picture {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
        }

        .corporate__helper.dark {
            background: unset;

            a {
                color: $black;
            }
        }
    }
}

.wrapper.customers-faq  {
    .accordion {
        .accordion__top {
            display: flex;
            width: 100%;
            justify-content: space-between;     
            align-items: flex-end;  
            padding-bottom: 5.2rem;
            gap: 2rem;
            @include breakpoint($mid-bp) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }
        
            .accordion__title {
                padding-bottom: 0;
            }

            .link-red {
                @include breakpoint($sm-bp) {
                    padding-left: 2.5rem;
                }
            }
        }
    }
    
}

.top-partners {
    margin-top: 15rem;
    @include breakpoint($xxl-bp) {
        margin-top: 11.5rem;
    }
    @include breakpoint($mid-bp) {
        margin-top: 10rem;
    }
    @include breakpoint($sm-bp) {
        margin-top: 5.5rem;
    }

    .pagination-block {
        margin-top: 8rem;
        border-top: 1px solid #D2DCE5;
        padding-top: 2.8rem;
        @include breakpoint($mid-bp) {
            margin-top: 1.6rem;
        }
    }
}

.top-partner {
    @include breakpoint($mid-bp) {
        margin-bottom: 4.4rem;
    }
    @include breakpoint($sm-bp) {
        width: 100%;
        margin-bottom: 5.5rem;
    }
}

.top-partners_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    @include breakpoint($mid-bp) {
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint($sm-bp) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: unset;
    }
}

.top-partner__img {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D2DCE54D;
    width: 100%;
    height: 37rem;
    @include breakpoint($xxl-bp) {
        height: 27.5rem;
    }
    @include breakpoint($xl-bp) {
        height: 20rem;
    }

    img {
        width: 24rem;
        @include breakpoint($sm-bp) {
            width: unset;
            height: 85%;
        }
    }
}

.top-partner_name {
    margin-top: 2rem;
    display: block;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    color: $black;
    text-decoration: none;
    @include breakpoint($sm-bp) {
        font-size: 2.6rem;
    }
}

.top-partner_text {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    color: #697279;
    margin-top: 1.2rem;
    max-width: 32rem;
    @include breakpoint($sm-bp) {
        font-size: 2rem;
    }
}


.program-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.4);
    z-index: 200;
    display: none;
    opacity: 0;
    transition: opacity .4s;

    .close-program {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        display: flex;
        align-items: center;
        gap: 2.4rem;
        color: #212424;
        padding: 1.2rem 1.2rem 1.2rem 2.4rem;
        border: 0.1rem solid #D2DCE5;
        border-radius: 10rem;
        height: min-content;
        position: relative;
        top: -2rem;
        transition: background-color 0.3s;
        z-index: 5;
        position: absolute;
        right: 3rem;
        top: 3rem;
        z-index: 5;
        background: white;
        @include breakpoint($mid-bp) {
            border: unset;
            padding: unset;
            right: 0.5rem;
            top: 5.5rem;
            background: unset;
        }

    
        span {
            @include breakpoint($mid-bp) {
                display: none;
            }
        }
    
        &:hover {
            border-color: #40454E;
    
            .close-program__cross {
                background-color: #40454E;
    
                &::after,
                &::before {
                    background-color: #FFFFFF;
                }
            }
        }
    
        .close-program__cross {
            position: relative;
            display: block;
            width: 2.8rem;
            height: 2.8rem;
            background: rgba(210, 220, 229, 0.3);
            border-radius: 50%;
            @include breakpoint($mid-bp) {
                display: block;
                background: unset;
                width: 5.8rem;
                height: 5.8rem;   
            }
            @include breakpoint($mid-bp) {
                width: 7.8rem;
                height: 7.8rem;   
            }
    
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 50%;
                height: 0.2rem;
                background-color: #AAB8C3;
                transition: color 0.3s;
                transform: translate(-50%, -50%) rotate(-45deg);
                @include breakpoint($mid-bp) {
                    background: #D2DCE5;
                }
            }
    
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 50%;
                height: 0.2rem;
                background-color: #AAB8C3;
                transform: translate(-50%, -50%) rotate(45deg);
                transition: color 0.3s;
                @include breakpoint($mid-bp) {
                    background: #D2DCE5;
                }
            }
        }
    }

    .program__block {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        @include breakpoint($mid-bp) {
            align-items: flex-end;
        }
    }
    
    .program__wrapper {
        display: flex;
        width: 70.8rem;
        height: 100%;
        @include breakpoint($mid-bp) {
            width: 100%;
            height: 94%;
            border-radius: 12px 12px 0 0;
            overflow: auto;
            flex-direction: column;
        }
    }
        
    .program__text-block {
        background: white;
        padding: 4.8rem;
        height: 100%;
        overflow-y: auto;
        @include breakpoint($mid-bp) {
            height: unset;
            overflow: unset;
            padding: 4.2rem 2rem;
        }
        @include breakpoint($sm-bp) {
            padding: 6.2rem 2.5rem;
        }
    }
    
    .program__text-block_title {
        font-size: 5.2rem;
        font-weight: 400;
        line-height: 1.12;
        letter-spacing: -0.02em;
        text-align: left;
        margin-bottom: 2rem;
        @include breakpoint($mid-bp) {
            margin-bottom: .8rem;
        }
        @include breakpoint($sm-bp) {
            font-size: 4.2rem;
            line-height: 1.2;
            margin-bottom: 1.8rem;
        }
    }

    .program-modal__item {
        width: 100%;
        padding-bottom: 2.4rem;
        padding-top: 3.2rem;
        border-bottom: 1px  solid #D2DCE5;
        @include breakpoint($sm-bp) {
            border-bottom: unset;
            padding-bottom: 1.3rem;
        }
        &:nth-last-child(1) {
            border-bottom: unset;
            padding-bottom: unset;
        }
    }

    .program-modal__item_name {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;
        color:  #9D9FA2;
        display: flex;
        align-items: center;
        @include breakpoint($sm-bp) {
            font-size: 3.1rem;
        }
        &::before {
            content: "";
            width: 2rem;
            height: 2rem;
            display: block;
            margin-right: .8rem;
            border-radius: 100%;
            background: #9D9FA2;
            @include breakpoint($sm-bp) {
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }

    .silver {
        color: #A4BBCB;
        &::before {
            background:  #A4BBCB;
        }
    }

    .gold {
        color:  #CCAE47;
        &::before {
            background:  #CCAE47;
        }
    }

    .program-modal__item_desc {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 0.4rem;
        color: #697279;
        @include breakpoint($sm-bp) {
            font-size: 2.05rem;
        }
    }
    .program-modal__item_list-name {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 3.2rem;
        color: $black;
        margin-bottom: 0.4rem;
        @include breakpoint($sm-bp) {
            font-size: 2.55rem;
            margin-top: 3rem;
            margin-bottom: 1.3rem;
        }
    }
    li {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 0em;
        text-align: left;
        color: #697279;
        margin-bottom: 0.8rem;
        position: relative;
        padding-left: 1.6rem;
        @include breakpoint($sm-bp) {
            padding-left: 2.8rem;
            font-size: 2.05rem;
            margin-bottom: 1rem;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: .65em;
            width: .6rem;
            min-width: .6rem;
            height: .6rem;
            display: block;
            border-radius: 100%;
            background: $red;
            margin-right: 1.6rem;
            @include breakpoint($sm-bp) {
                width: 0.8rem;
                min-width: 0.8rem;
                height: 0.8rem;
            }
        }

        .red {
            color: $red;
        }
    }
}


.program-modal.show {
    opacity: 1;
}

.partner-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.4);
    z-index: 200;
    display: none;
    opacity: 0;
    transition: opacity .4s;

    .close-partner {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        display: flex;
        align-items: center;
        gap: 2.4rem;
        color: #212424;
        padding: 1.2rem 1.2rem 1.2rem 2.4rem;
        border: 0.1rem solid #D2DCE5;
        border-radius: 10rem;
        height: min-content;
        position: relative;
        top: -2rem;
        transition: background-color 0.3s;
        z-index: 5;
        position: absolute;
        right: 3rem;
        top: 3rem;
        z-index: 5;
        background: white;
        @include breakpoint($mid-bp) {
            border: unset;
            padding: unset;
            right: 0.5rem;
            top: 1.5rem;
            background: unset;
        }

    
        span {
            @include breakpoint($mid-bp) {
                display: none;
            }
        }
    
        &:hover {
            border-color: #40454E;
    
            .close-partner__cross {
                background-color: #40454E;
    
                &::after,
                &::before {
                    background-color: #FFFFFF;
                }
            }
        }
    
        .close-partner__cross {
            position: relative;
            display: block;
            width: 2.8rem;
            height: 2.8rem;
            background: rgba(210, 220, 229, 0.3);
            border-radius: 50%;
            @include breakpoint($mid-bp) {
                display: block;
                background: unset;
                width: 5.8rem;
                height: 5.8rem;   
            }
            @include breakpoint($mid-bp) {
                width: 7.8rem;
                height: 7.8rem;   
            }
    
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 50%;
                height: 0.2rem;
                background-color: #AAB8C3;
                transition: color 0.3s;
                transform: translate(-50%, -50%) rotate(-45deg);
                @include breakpoint($mid-bp) {
                    background: #D2DCE5;
                }
            }
    
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 50%;
                height: 0.2rem;
                background-color: #AAB8C3;
                transform: translate(-50%, -50%) rotate(45deg);
                transition: color 0.3s;
                @include breakpoint($mid-bp) {
                    background: #D2DCE5;
                }
            }
        }
    }

    .partner__block {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        @include breakpoint($mid-bp) {
            align-items: flex-end;
        }
    }
    
    .partner__wrapper {
        display: flex;
        flex-direction: column;
        width: 70.8rem;
        height: 100%;
        background: #F0F2F6;;
        @include breakpoint($mid-bp) {
            width: 100%;
            max-height: 94%;
            height: auto;
            border-radius: 12px 12px 0 0;
            overflow: auto;
            flex-direction: column;
            position: relative;
        }
    }
        
    .partner__text-block {
        padding: 4.8rem;
        height: 100%;
        overflow-y: auto;
        @include breakpoint($mid-bp) {
            height: unset;
            overflow: unset;
            padding: 4.2rem 2rem;
        }
        @include breakpoint($sm-bp) {
            padding: 6.2rem 2.5rem;
            display: flex;
            flex-direction: column;
        }
    }
    
    .partner__text-block_title {
        font-size: 5.2rem;
        font-weight: 400;
        line-height: 1.12;
        letter-spacing: -0.02em;
        text-align: left;
        margin-bottom: 2rem;
        margin-top: 3rem;
        @include breakpoint($mid-bp) {
            margin-bottom: .8rem;
        }
        @include breakpoint($sm-bp) {
            font-size: 4.2rem;
            line-height: 1.2;
            margin-bottom: 1.8rem;
            margin-top: 2.5rem;
            margin-bottom: 0;
            order: 2;
        }
    }
    .partner__logo {
        width: 4.8rem;
        @include breakpoint($sm-bp) {
            width: 6.1rem;
            order: 1;
        }
    }

    .partner__statuses {
        margin-top: 5.3rem;
        padding-top: 2.7rem;
        padding-bottom: 2.7rem;
        border-top: 1px solid #D2DCE5;
        border-bottom: 1px solid #D2DCE5;
        @include breakpoint($sm-bp) {
            margin-top: 4.8rem;
            order: 3;
        }

        .text-normal {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0em;
            text-align: left;
            color: #697279;
            @include breakpoint($sm-bp) {
                font-size: 2.05rem;
            }
        }
        .red {
            color: $red;
        }
    }

    .partner__descr {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 3.2rem;
        @include breakpoint($sm-bp) {
            order: 5;
            font-size: 2.55rem;
            font-weight: 500;
            line-height: 1.4;
        }
    }

    .partner__text {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 3rem;
        color: #697279;
        @include breakpoint($sm-bp) {
            order: 6;
            font-size: 2.05;
        }
    }

    .link-red {
        margin-top: 5.2rem;
        @include breakpoint($sm-bp) {
            order: 4;
        }
    }
}


.partner-modal.show {
    opacity: 1;
}