.breadcrumbs {
    margin-top: 3.2rem;
    @include breakpoint($sm-bp) {
        margin-top: 4.5rem;
    }
}

.breadcrumbs__list {
    display: flex;
}

.breadcrumbs__item {
    padding-left: 1.1rem;
    display: flex;
    align-items: center;
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 8px;
        height: 4px;
        transform: rotate(-90deg);
        margin-left: 1.2rem;
        background: url("../images/arrow-down.svg") no-repeat;
        background-size: contain;
    }

    &:nth-child(1) {
        padding-left: 0;
    }

    &:nth-last-child(1) {
        &::after {
            content: none;
        }
    }
}

.breadcrumbs__link {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.42;
    letter-spacing: 0em;
    text-align: left;
    color: #AAB8C3;
    text-decoration: none;
    @include breakpoint($sm-bp) {
        font-size: 1.84rem;
    }
}

.search-page {
    display: flex;
    justify-content: space-between;
}

.menu-open {
    .search-aside {
        @include breakpoint($mid-bp) {
            top: calc(100% + 6rem);
        }
        @include breakpoint($sm-bp) {
            top: calc(100% + 3.5rem);
        }
    }

    .header__top .btn__search-show {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

.search-aside {
    width: 35rem;
    position: sticky;
    top: 0;
    padding-top: 3.8rem;
    @include breakpoint($xxl-bp) {
        padding-top: 5.5rem;
    }
    @include breakpoint($mid-bp) {
        position: fixed;
        width: 100%;
        top: calc(100% - 6rem);
        left: 0;
        display: flex;
        align-items: flex-start;
        z-index: 1000;
        background: white;
        width: 100%;
        height: 100vh;
        padding: 10.3rem 2rem 1rem;
        flex-direction: column;
        border-radius: 2rem 2rem 0 0;
    }
    @include breakpoint($sm-bp) {
        padding: 6.5rem 2.5rem 1rem;
        top: calc(100% - 3.5rem);
    }

    &::before {
        @include breakpoint($mid-bp) {
            content: "";
            width: 12.6rem;
            height: .5rem;
            display: block;
            position: absolute;
            top: 3rem;
            left: 50%;
            transform: translateX(-50%);
            border-radius: .2rem;
            background: #AAB8C3;
        }
        @include breakpoint($sm-bp) {
            width: 5.6rem;
            height: 3px;
            top: 1.5rem;
        }
    }
}

.search-aside__title-mobile {
    display: none;
    @include breakpoint($mid-bp) {
        display: block;
        font-size: 5.2rem;
        font-weight: 400;
        line-height: 1.12;
        letter-spacing: -0.02em;
        text-align: left;
    }
    @include breakpoint($sm-bp) {
        font-size: 4.15rem;
    }
}

.side-list {
    @include breakpoint($mid-bp) {
        margin-top: 3rem;
        max-height: 46rem;
        overflow: auto;
        width: 100%;
        flex-grow: 1;
    }
    @include breakpoint($sm-bp) {
        margin-top: 5rem;
    }
}

.search-aside__close {
    display: none;
    @include breakpoint($mid-bp) {
        display: block;
        position: absolute;
        top: 4.2rem;
        right: 2.2rem;
        width: 2rem;
        height: 2rem;
        background-image: url("../images/close-black.svg");
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0;
        z-index: 5;
        transition: opacity .1s;
    }
    @include breakpoint($sm-bp) {
        top: 2.5rem;
        right: 2.5rem;
        width: 3rem;
        height: 3rem;
    }
}

.search-aside.show {
    .search-aside__close {
        opacity: .3;
    }
}

body {
    &::before {
        content: "";
        background: transparent;
        transition: background .2s .1s;
    }
}
.lock-modal {
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: fixed;
        background: rgb(33, 33, 33, .4);
        left: 0;
        top: 0;
        z-index: 999;    
    }
}

.search-block {
    width: calc(100% - 39rem);
    margin-top: -2.5rem;
    @include breakpoint($xl-bp) {
        width: calc(100% - 35rem);
        margin-top: -1rem;
    }
    @include breakpoint($mid-bp) {
        width: 100%;
        margin-top: 3rem;
    }
    @include breakpoint($sm-bp) {
        margin-top: 5rem;
    }
}

.side-list__item {
    margin-bottom: 2.5rem;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    @include breakpoint($mid-bp) {
        margin-bottom: 0;
        padding-bottom: 2.2rem;
    }
    @include breakpoint($sm-bp) {
        padding-bottom: 2.55rem;
    }

    &::before {
        content: "";
        width: calc(100% - 3rem);
        position: absolute;
        background: transparent;
        height: calc(100% + 2rem);
        top: -1rem;
        left: -1rem;
        z-index: 1;
        transition: background .4s;
        @include breakpoint($mid-bp) {
            content: none;
        }
    }
}

.side-list__item.active {
    &::before {
        background: #E5E9F1;
        @include breakpoint($mid-bp) {
            content: none;
        }
    }

    .side-list__link,
    .side-list__num {
        @include breakpoint($mid-bp) {
            color: $red;
        }
    }

    .side-list__close {
        content: "";
        display: block;
        width: 1.3rem;
        height: 1.3rem;
        background-image: url("../images/close-black.svg");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5.5rem;
        z-index: 3;
        @include breakpoint($mid-bp) {
            display: none;
        }
    }
}

.side-list__link {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: $black;
    z-index: 2;
    position: relative;
    @include breakpoint($sm-bp) {
        font-size: 2.55rem;
    }
}

.side-list__num {
    color: #AAB8C3;
    margin-left: 0.8rem;
}

.search-block__common-info {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0em;
    text-align: left;
    color: #AAB8C3;
    @include breakpoint($sm-bp) {
        font-size: 1.8rem;
    }
}

.search__title-block {
    display: flex;
    align-items: baseline;
    margin-top: 2rem;
    @include breakpoint($xl-bp) {
        margin-top: 4rem;
    }
    @include breakpoint($mid-bp) {
        margin-top: 1.5rem;
    }
    @include breakpoint($sm-bp) {
        margin-top: 1.2rem;
    }
}

.search__title {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.45;
    letter-spacing: -0.01em;
    text-align: left;
    @include breakpoint($sm-bp) {
        font-size: 3.15rem;
    }
}

.search__title_num {
    color:  #AAB8C3;
    margin-left: 1.2rem;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.45;
    letter-spacing: -0.01em;
    @include breakpoint($sm-bp) {
        font-size: 3.15rem;
    }
}

.search-block__results {
    border-top: 1px solid #D2DCE5;
    margin-top: 2rem;
    @include breakpoint($xxl-bp) {
        margin-top: 2.4rem;
    }
    @include breakpoint($mid-bp) {
        margin-top: 2.5rem;
    }
    @include breakpoint($sm-bp) {
        border-top: unset;
        margin-top: 1.5rem;
    }
}

.search-result {
    display: flex;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid #D2DCE5;
    @include breakpoint($xl-bp) {
        padding-top: 3.1rem;
        padding-bottom: 3.3rem;
    }
    @include breakpoint($mid-bp) {
        padding-bottom: 3rem;
    }
    @include breakpoint($sm-bp) {
        padding-top: 5.5rem;
        padding-bottom: 5.1rem;
        flex-direction: column;
    }

    span {
        color: $red;
    }
}

.search-result.services {
    margin-top: 0;
}

.hide.search-result {
    display: none;
}

.search-result__title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    @include breakpoint($sm-bp) {
        font-size: 2.55rem;
    }
}

.search-result__text {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 1.1rem;
    color: #697279;
    @include breakpoint($xxl-bp) {
        margin-top: 1.2rem;
    }
    @include breakpoint($sm-bp) {
        font-size: 2.05rem;
        margin-top: 1.8rem;
        -webkit-line-clamp: 3; 
        display: -webkit-box; 
        -webkit-box-orient: vertical; 
        overflow: hidden; 
    }
}

.search-result__img {
    width: 23.3rem;
    min-width: 23.3rem;
    height: 15.6rem;
    margin-right: 3.2rem;
    @include breakpoint($sm-bp) {
        width: 100%;
        margin-right: 0;
        height: 19.5rem;
        margin-bottom: 2.5rem;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.show-more {
    margin-top: 7.5rem;
    height: 5.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.78;
    letter-spacing: 0em;
    text-align: left;
    background: #E5E9F1;
    text-decoration: none;
    color: $black;
    transition: color .4s;
    @include breakpoint($mid-bp) {
        margin-top: 5rem;
    }
    
    &:hover {
        color: $red;
    }
}
.show-more.hide {
    display: none;
}