.crm-block {
  .b-pure-content {
    div {
      text-align: center;
      p {
        text-align: inherit;
      }
    }
    * {
      font-family: 'Manrope';
    }

    .b-button {
      color: #FFFFFF;
    }
  }
}
