<div class="registration regModal getintouch" hidden style="opacity: 0;" id="askModal">
  <div class="registration__block swipe-on2">
    <div class="getintouch__top-block">
      <div class="registration__wrapper">
        <button class="close-button"><span>Закрыть</span> <span class="close-button__cross"><span
              class="close-icon"></span></span></button>
      </div>
      <p class="registration__title">Выйти на связь</p>
    </div>

    <form action="#">

      <div class="registration__subtitle">Оставьте контакты, и мы поможем вам решить проблему</div>

      <input type="text" name="name" placeholder="Ваше имя" required>
      <input type="text" name="company" placeholder="Компания">
      <input type="tel" name="tel" placeholder="Телефон" required>

      <button class="link-red" type="submit">
        <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="32" height="32" rx="16" fill="#A50F2D" />
          <path d="M21.8857 16.4L15.6954 22.8M21.8857 16.4L10 16.3997M21.8857 16.4L15.6954 10" stroke="white"
            stroke-width="1.5" />
        </svg>
        <span>Отправьте запрос</span>
      </button>
      <div class="vacancy__bottom">
        <div class="vacancy__send">
            <label class="vacancy__send-agree">
                <input type="checkbox" name="">
                <span class="vacancy__send_checkbox">
                    <svg viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.808594 3.54395L4.6327 7.36805L11.3676 0.633141" stroke="#A50F2D" stroke-width="1.7"></path>
                    </svg>
                </span>
            </label>
            <span class="vacancy__send_text">
                Я ознакомился с <a href="#" class="link">Политикой конфиденциальности персональных данных</a> и даю <a href="#" class="link">согласие на обработку персональных данных</a>
            </span>
        </div>
        <p class="vacancy__bottom_info">Этот сайт защищен reCAPTCHA, и применяются <a href="#" class="link">Политика конфиденциальности</a> и <a href="#" class="link">Условия использования Google</a></p>
    </div>
    </form>
  </div>
</div>