<section class="wrapper">
  <div class="insights__bottom-block">
      <div class="section-top vertical white">
          <div class="title-wrapper">
              <h2 class="title">International IT conference on cybersecurity and protection implementation</h2>
              <a class="link-white" href="#">
                  <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect width="32" height="32" rx="16" fill="white"/>
                      <path d="M21.8857 16.4L15.6954 22.8M21.8857 16.4L10 16.3997M21.8857 16.4L15.6954 10" stroke="#212424" stroke-width="1.5"/>
                  </svg>            
                  <span>About Career</span>
              </a>            
          </div>   
      </div>        
  </div>
</section>