<div class="events__main-container wrapper">

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-1.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">20</span>
          <span class="events__month">Авг</span>
        </span>
      </span>
    </span>
    <span class="events__name">Семинар</span>
    <span class="events__title">ABBYY FineReader PDF 15 - инструмент для эффективной работы с документами ABBYY FineReader PDF 15</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-2.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">20</span>
          <span class="events__month">Авг</span>
        </span>
      </span>
    </span>
    <span class="events__name">Семинар</span>
    <span class="events__title">Онлайн-семинар «Опыт группы-IB: работа над ошибками в борьбе с текущими киберугрозами»</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-3.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">28</span>
          <span class="events__month">Авг</span>
        </span>
      </span>
    </span>
    <span class="events__name">Вебинар</span>
    <span class="events__title">ABBYY FineReader PDF 15 - инструмент для эффективной работы с документами ABBYY FineReader PDF 15</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-2.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">20</span>
          <span class="events__month">Авг</span>
        </span>
      </span>
    </span>
    <span class="events__name">Семинар</span>
    <span class="events__title">Онлайн-семинар «Опыт группы-IB: работа над ошибками в борьбе с актуальными киберугрозами»</span>
  </a>

  <a href="#" class="events__item events__item--wider">
    <span class="events__img">
      <img src="./assets/images/events/events-4.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">03</span>
          <span class="events__month">Сент</span>
        </span>
        <span class="events__date-item">
          <span class="events__date">04</span>
          <span class="events__month">Сент</span>
        </span>
      </span>
    </span>
    <span class="events__name">Семинар</span>
    <span class="events__title">Online seminar «The Group-IB Experience: Working on Errors in Against Current Cyber ​​Threats»</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-1.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">20</span>
          <span class="events__month">Авг</span>
        </span >
      </span>
    </span>
    <span class="events__name">Семинар</span>
    <span class="events__title">ABBYY FineReader PDF 15 - инструмент для эффективной работы с документами ABBYY FineReader PDF 15</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-2.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">20</span>
          <span class="events__month">Авг</span>
        </span>
      </span>
    </span>
    <span class="events__name">Семинар</span>
    <span class="events__title">Онлайн-семинар «Опыт группы-IB: работа над ошибками в борьбе с текущими киберугрозами»</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-5.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">20</span>
          <span class="events__month">Авг</span>
        </span >
      </span>
    </span>
    <span class="events__name">Семинар</span>
    <span class="events__title">ABBYY FineReader PDF 15 - инструмент для эффективной работы с документами ABBYY FineReader PDF 15</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-2.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">20</span>
          <span class="events__month">Авг</span>
        </span>
      </span>
    </span>
    <span class="events__name">Семинар</span>
    <span class="events__title">Онлайн-семинар «Опыт группы-IB: работа над ошибками в борьбе с текущими киберугрозами»</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-3.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">28</span>
          <span class="events__month">Авг</span>
        </span>
        <span class="events__date-item">
          <span class="events__date">28</span>
          <span class="events__month">Авг</span>
        </span>
      </span>
    </span>
    <span class="events__name">Вебинар</span>
    <span class="events__title">ABBYY FineReader PDF 15 - инструмент для эффективной работы с документами ABBYY FineReader PDF 15</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-5.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">20</span>
          <span class="events__month">Авг</span>
        </span >
      </span>
    </span>
    <span class="events__name">Семинар</span>
    <span class="events__title">ABBYY FineReader PDF 15 - инструмент для эффективной работы с документами ABBYY FineReader PDF 15</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-2.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">20</span>
          <span class="events__month">Авг</span>
        </span>
      </span>
    </span>
    <span class="events__name">Семинар</span>
    <span class="events__title">Онлайн-семинар «Опыт группы-IB: работа над ошибками в борьбе с текущими киберугрозами»</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-5.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">20</span>
          <span class="events__month">Авг</span>
        </span >
      </span>
    </span>
    <span class="events__name">Семинар</span>
    <span class="events__title">ABBYY FineReader PDF 15 - инструмент для эффективной работы с документами ABBYY FineReader PDF 15</span>
  </a>

  <a href="#" class="events__item events__item--wider">
    <span class="events__img">
      <img src="./assets/images/events/events-6.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">30</span>
          <span class="events__month">Сент</span>
        </span>
      </span>
    </span>
    <span class="events__name">Вебинар</span>
    <span class="events__title">Онлайн-семинар «Опыт группы-IB: работа над ошибками в борьбе с актуальными киберугрозами»</span>
  </a>

  <button class="news__button">Показать больше</button>
</div>