<div class="events__main-container wrapper">

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-1.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">20</span>
          <span class="events__month">Aug</span>
        </span>
      </span>
    </span>
    <span class="events__name">Seminar</span>
    <span class="events__title">ABBYY FineReader PDF 15 — a tool for efficient work with documents ABBYY FineReader PDF 15</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-2.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">20</span>
          <span class="events__month">Aug</span>
        </span>
      </span>
    </span>
    <span class="events__name">Seminar</span>
    <span class="events__title">Online seminar «The Group-IB Experience: Working on Errors in Against Current Cyber ​Threats»</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-3.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">28</span>
          <span class="events__month">Aug</span>
        </span>
      </span>
    </span>
    <span class="events__name">Webinar</span>
    <span class="events__title">ABBYY FineReader PDF 15 — a tool for efficient work with documents ABBYY FineReader PDF 15</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-2.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">20</span>
          <span class="events__month">Aug</span>
        </span>
      </span>
    </span>
    <span class="events__name">Seminar</span>
    <span class="events__title">Online seminar «The Group-IB Experience: Working on Errors in Against Current Cyber ​​Threats»</span>
  </a>

  <a href="#" class="events__item events__item--wider">
    <span class="events__img">
      <img src="./assets/images/events/events-4.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">03</span>
          <span class="events__month">Sept</span>
        </span>
        <span class="events__date-item">
          <span class="events__date">04</span>
          <span class="events__month">Sept</span>
        </span>
      </span>
    </span>
    <span class="events__name">Seminar</span>
    <span class="events__title">Online seminar «The Group-IB Experience: Working on Errors in Against Current Cyber ​​Threats»</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-1.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">20</span>
          <span class="events__month">Aug</span>
        </span >
      </span>
    </span>
    <span class="events__name">Seminar</span>
    <span class="events__title">ABBYY FineReader PDF 15 — a tool for efficient work with documents ABBYY FineReader PDF 15</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-2.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">20</span>
          <span class="events__month">Aug</span>
        </span>
      </span>
    </span>
    <span class="events__name">Seminar</span>
    <span class="events__title">Online seminar «The Group-IB Experience: Working on Errors in Against Current Cyber ​Threats»</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-5.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">20</span>
          <span class="events__month">Aug</span>
        </span >
      </span>
    </span>
    <span class="events__name">Seminar</span>
    <span class="events__title">ABBYY FineReader PDF 15 — a tool for efficient work with documents ABBYY FineReader PDF 15</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-2.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">20</span>
          <span class="events__month">Aug</span>
        </span>
      </span>
    </span>
    <span class="events__name">Seminar</span>
    <span class="events__title">Online seminar «The Group-IB Experience: Working on Errors in Against Current Cyber ​Threats»</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-3.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">28</span>
          <span class="events__month">Aug</span>
        </span>
        <span class="events__date-item">
          <span class="events__date">28</span>
          <span class="events__month">Aug</span>
        </span>
      </span>
    </span>
    <span class="events__name">Webinar</span>
    <span class="events__title">ABBYY FineReader PDF 15 — a tool for efficient work with documents ABBYY FineReader PDF 15</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-5.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">20</span>
          <span class="events__month">Aug</span>
        </span >
      </span>
    </span>
    <span class="events__name">Seminar</span>
    <span class="events__title">ABBYY FineReader PDF 15 — a tool for efficient work with documents ABBYY FineReader PDF 15</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-2.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">20</span>
          <span class="events__month">Aug</span>
        </span>
      </span>
    </span>
    <span class="events__name">Seminar</span>
    <span class="events__title">Online seminar «The Group-IB Experience: Working on Errors in Against Current Cyber ​Threats»</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-5.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">20</span>
          <span class="events__month">Aug</span>
        </span >
      </span>
    </span>
    <span class="events__name">Seminar</span>
    <span class="events__title">ABBYY FineReader PDF 15 — a tool for efficient work with documents ABBYY FineReader PDF 15</span>
  </a>

  <a href="#" class="events__item events__item--wider">
    <span class="events__img">
      <img src="./assets/images/events/events-6.jpg" alt="events-img">
      <span class="events__date-block">
        <span class="events__date-item">
          <span class="events__date">30</span>
          <span class="events__month">Sept</span>
        </span>
      </span>
    </span>
    <span class="events__name">Webinar</span>
    <span class="events__title">Online seminar «The Group-IB Experience: Working on Errors in Against Current Cyber ​​Threats»</span>
  </a>

  <button class="news__button">Show more</button>
</div>