
      <div class="filters">
        <div class="filter-wrapper">
          <button class="filter-button"><span>Фильтры</span></button>
            <div class="panel filters-panel filter-swipe">

              <button class="close-button"></button>
              <h2 class="panel__main-title">Фильтры</h2>

              <div class="panel__wrapper">
                <div class="panel__inner">
                  <h3 class="panel__title">Предметы</h3>
    
                  <div class="checkbox-container">
    
                    <div class="checkbox-container__item">
                      <div class="form-group">
                        <input type="checkbox" id="Cloud-Services" name="Cloud-Services">
                        <label for="Cloud-Services">Облачные сервисы</label>
                      </div>
                      
                      <div class="form-group">
                        <input type="checkbox" id="Custom-Development" name="Custom-Development">
                        <label for="Custom-Development">Заказные разработки</label>
                      </div>
                      
                      <div class="form-group">
                        <input type="checkbox" id="Business-solutions" name="Business-solutions">
                        <label for="Business-solutions">Бизнес-решения</label>
                      </div>
                      
                      <div class="form-group">
                        <input type="checkbox" id="Business-solutions2" name="Business-solutions2">
                        <label for="Business-solutions2">Бизнес-решения</label>
                      </div>
                    </div>
    
                    <div class="checkbox-container__item">
                      <div class="form-group">
                        <input type="checkbox" id="IT-Infrastructure" name="IT-Infrastructure">
                        <label for="IT-Infrastructure">Инфраструктура ИТ</label>
                      </div>
                      
                      <div class="form-group">
                        <input type="checkbox" id="CAD-and-GIS" name="CAD-and-GIS">
                        <label for="CAD-and-GIS">САПР и ГИС</label>
                      </div>
                      
                      <div class="form-group">
                        <input type="checkbox" id="Custom-Development2" name="Custom-Development2">
                        <label for="Custom-Development2">Заказные разработки</label>
                      </div>
                      
                      <div class="form-group">
                        <input type="checkbox" id="Custom-Development3" name="Custom-Development3">
                        <label for="Custom-Development3">Заказные разработки</label>
                      </div>
                    </div>
    
                    <div class="checkbox-container__item">
                      <div class="form-group">
                        <input type="checkbox" id="CyberSecurity" name="CyberSecurity">
                        <label for="CyberSecurity">Кибербезопасность</label>
                      </div>
                      
                      <div class="form-group">
                        <input type="checkbox" id="IT-Public-sector-solutions" name="IT-Public-sector-solutions">
                        <label for="IT-Public-sector-solutions">ИТ Решения для государственного сектора</label>
                      </div>
                      
                      <div class="form-group">
                        <input type="checkbox" id="Risk-Management" name="Risk-Management">
                        <label for="Risk-Management">Управление рисками</label>
                      </div>
                      
                      <div class="form-group">
                        <input type="checkbox" id="Risk-Management2" name="Risk-Management2">
                        <label for="Risk-Management2">Управление рисками</label>
                      </div>
                    </div>
    
                    <div class="checkbox-container__item">
                      <div class="form-group">
                        <input type="checkbox" id="Future-workplace" name="Future-workplace">
                        <label for="Future-workplace">Будущее рабочее место</label>
                      </div>
                      
                      <div class="form-group">
                        <input type="checkbox" id="Import-substitution" name="Import-substitution">
                        <label for="Import-substitution">Импортозамещение</label>
                      </div>
                      
                      <div class="form-group">
                        <input type="checkbox" id="CyberSecurity2" name="CyberSecurity2">
                        <label for="CyberSecurity2">Кибербезопасность</label>
                      </div>
                      
                      <div class="form-group">
                        <input type="checkbox" id="CyberSecurity3" name="CyberSecurity3">
                        <label for="CyberSecurity3">Кибербезопасность</label>
                      </div>
                    </div>
    
                    <div class="checkbox-container__item">
                      <div class="form-group">
                        <input type="checkbox" id="Digital-Solutions" name="Digital-Solutions">
                        <label for="Digital-Solutions">Цифровые решения</label>
                      </div>
                      
                      <div class="form-group">
                        <input type="checkbox" id="Premier-Softline-services" name="Premier-Softline-services">
                        <label for="Premier-Softline-services">Услуги Premier Softline</label>
                      </div>
                      
                      <div class="form-group">
                        <input type="checkbox" id="Import-substitution2" name="Import-substitution2">
                        <label for="Import-substitution2">Импортозамещение</label>
                      </div>
                      
                      <div class="form-group">
                        <input type="checkbox" id="Import-substitution3" name="Import-substitution3">
                        <label for="Import-substitution3">Импортозамещение</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="overlay"></div>
        </div>

        <div class="custom-select" data-text="Choose year">
          <select>
            <option value="0">Все годы</option>
            <option value="1">2022</option>
            <option value="2">2021</option>
            <option value="3">2020</option>
            <option value="4">2019</option>
            <option value="5">2018</option>
            <option value="6">2017</option>
            <option value="7">2016</option>
          </select>
        </div>

        <div class="custom-select" data-text="Choose month">
          <select>
            <option value="0">Все месяцы</option>
            <option value="1">Январь</option>
            <option value="2">Февраль</option>
            <option value="3">Март</option>
            <option value="4">Апрель</option>
            <option value="5">Май</option>
            <option value="6">Июнь</option>
            <option value="7">Июль</option>
            <option value="8">Август</option>
            <option value="9">Сентябрь</option>
            <option value="10">Октябрь</option>
            <option value="11">Ноябрь</option>
            <option value="12">Декабрь</option>
          </select>
        </div>
      </div>