<div class="insights-main-bg">

    <div class="breadcrumbs wrapper">
      <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#">Main</a>
          </li>
          <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="#">Insights</a>
          </li>
      </ul>
  </div>


  <img src="assets/images/insights/insights-main-bg.jpg" alt="main-bg">

  <h1 class="insights-title wrapper">Insights</h1>
</div>