<div class="news__main-container wrapper">

  <a href="./news-page.html" class="news__item news__item--wider">
    <span class="news__img"><img src="./assets/images/news/news-1.jpg" alt="news-img"></span>
    <span class="news__title">Прогноз на будущее, что ждет ИТ-отрасль в 2021 году</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="./news-page.html" class="news__item">
    <span class="news__title">Softline и Adobe провели студенческий чемпионат по UI/UX дизайну</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="./news-page.html" class="news__item">
    <span class="news__img"><img src="./assets/images/news/news-2.jpg" alt="news-img"></span>
    <span class="news__title">Softline объявляет о запуске поставщика Softline <span>программа поддержки разработок</span></span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="./news-page.html" class="news__item">
    <span class="news__title">Softline и Adobe провели студенческий чемпионат по UI/UX дизайну</span>
    <span class="news__date">22.04.2021</span>
  </a>
  
  <a href="./news-page.html" class="news__item">
    <span class="news__title">Softline и Adobe провели студенческий чемпионат по UI/UX дизайну</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="./news-page.html" class="news__item">
    <span class="news__title">Softline объявляет о начале Программы развития поставщиков Softline</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="./news-page.html" class="news__item">
    <span class="news__img"><img src="./assets/images/news/news-3.jpg" alt="news-img"></span>
    <span class="news__title">Softline и Adobe провели студенческий чемпионат по UI/UX дизайну</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="./news-page.html" class="news__item">
    <span class="news__img"><img src="./assets/images/news/news-4.jpg" alt="news-img"></span>
    <span class="news__title">Softline подтвердила 99,982% доступности облачных услуг</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="./news-page.html" class="news__item">
    <span class="news__img"><img src="./assets/images/news/news-5.jpg" alt="news-img"></span>
    <span class="news__title">Softline & Softline AG объединяют усилия для роста на международном уровне</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="./news-page.html" class="news__item">
    <span class="news__title">Softline Group объявила и приветствовала Гарета Типтона в качестве глобального главного директора по соответствию</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="./news-page.html" class="news__item">
    <span class="news__img"><img src="./assets/images/news/news-6.jpg" alt="news-img"></span>
    <span class="news__title">Softline & Softline AG объединяют усилия для роста на международном уровне</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="./news-page.html" class="news__item">
    <span class="news__img"><img src="./assets/images/news/news-7.jpg" alt="news-img"></span>
    <span class="news__title">Softline & Softline AG объединяют усилия для роста на международном уровне</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="./news-page.html" class="news__item">
    <span class="news__title">Softline Group объявила и приветствовала Гарета Типтона в качестве глобального главного директора по соответствию</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="./news-page.html" class="news__item news__item--wider">
    <span class="news__img"><img src="./assets/images/news/news-8.jpg" alt="news-img"></span>
    <span class="news__title">Прогноз на будущее, что ждет ИТ-отрасль в 2021 году</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="./news-page.html" class="news__item">
    <span class="news__title">Softline и Adobe провели студенческий чемпионат по UI/UX дизайну</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="./news-page.html" class="news__item">
    <span class="news__title">Softline Group объявила и приветствовала Гарета Типтона в качестве глобального главного директора по соответствию</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="./news-page.html" class="news__item">
    <span class="news__img"><img src="./assets/images/news/news-2.jpg" alt="news-img"></span>
    <span class="news__title">Softline объявляет о запуске поставщика Softline <span>программа поддержки разработок</span></span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="./news-page.html" class="news__item">
    <span class="news__title">Softline и Adobe провели студенческий чемпионат по UI/UX дизайну</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="./news-page.html" class="news__item">
    <span class="news__title">Softline Group объявила и приветствовала Гарета Типтона в качестве глобального главного директора по соответствию</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="./news-page.html" class="news__item">
    <span class="news__title">Softline и Adobe провели студенческий чемпионат по UI/UX дизайну</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <button class="news__button">Показать больше</button>
</div>