<div class="news__main-container wrapper">

  <a href="#" class="news__item news__item--wider">
    <span class="news__img"><img src="./assets/images/news/news-1.jpg" alt="news-img"></span>
    <span class="news__title">Outlook into the future what awaits the IT industry in 2021</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="#" class="news__item">
    <span class="news__title">Softline and Adobe held a student UI / UX design championship</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="#" class="news__item">
    <span class="news__img"><img src="./assets/images/news/news-2.jpg" alt="news-img"></span>
    <span class="news__title">Softline announces the launch of the Softline Vendor <span>Development Program</span></span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="#" class="news__item">
    <span class="news__title">Softline and Adobe held a student UI / UX design championship</span>
    <span class="news__date">22.04.2021</span>
  </a>
  
  <a href="#" class="news__item">
    <span class="news__title">Softline and Adobe held a student UI / UX design championship</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="#" class="news__item">
    <span class="news__title">Softline announces the launch of the Softline Vendor Development Program</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="#" class="news__item">
    <span class="news__img"><img src="./assets/images/news/news-3.jpg" alt="news-img"></span>
    <span class="news__title">Softline and Adobe held a student UI / UX design championship</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="#" class="news__item">
    <span class="news__img"><img src="./assets/images/news/news-4.jpg" alt="news-img"></span>
    <span class="news__title">Softline Confirmed 99.982 % Availability of Cloud Services</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="#" class="news__item">
    <span class="news__img"><img src="./assets/images/news/news-5.jpg" alt="news-img"></span>
    <span class="news__title">Softline & Softline AG join forces to grow internationally</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="#" class="news__item">
    <span class="news__title">Softline Group has announced and welcomed Gareth Tipton as Global Chief Compliance Officer</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="#" class="news__item">
    <span class="news__img"><img src="./assets/images/news/news-6.jpg" alt="news-img"></span>
    <span class="news__title">Softline & Softline AG join forces to grow internationally</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="#" class="news__item">
    <span class="news__img"><img src="./assets/images/news/news-7.jpg" alt="news-img"></span>
    <span class="news__title">Softline & Softline AG join forces to grow internationally</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="#" class="news__item">
    <span class="news__title">Softline Group has announced and welcomed Gareth Tipton as Global Chief Compliance Officer</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="#" class="news__item news__item--wider">
    <span class="news__img"><img src="./assets/images/news/news-8.jpg" alt="news-img"></span>
    <span class="news__title">Outlook into the future what awaits the IT industry in 2021</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="#" class="news__item">
    <span class="news__title">Softline and Adobe held a student UI / UX design championship</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="#" class="news__item">
    <span class="news__title">Softline Group has announced and welcomed Gareth Tipton as Global Chief Compliance Officer</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="#" class="news__item">
    <span class="news__img"><img src="./assets/images/news/news-2.jpg" alt="news-img"></span>
    <span class="news__title">Softline announces the launch of the Softline Vendor <span>Development Program</span></span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="#" class="news__item">
    <span class="news__title">Softline and Adobe held a student UI / UX design championship</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="#" class="news__item">
    <span class="news__title">Softline Group has announced and welcomed Gareth Tipton as Global Chief Compliance Officer</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <a href="#" class="news__item">
    <span class="news__title">Softline and Adobe held a student UI / UX design championship</span>
    <span class="news__date">22.04.2021</span>
  </a>

  <button class="news__button">Show more</button>
</div>