<div class="pagination-block wrapper">

  <div class="main-pagination">
    <span>Elements:</span>        
    <div class="numb-container" tabindex="1">
      <span class="select-button num-page">15</span>
      <span class="select-numb" tabindex="1">
        <a href="#">20</a>
        <a href="#">30</a>
      </span>
    </div>

    <div class="main-pagination__right">
      <span class="now-pages">1-15</span>
      <span> of </span>
      <span class="all-pages">350</span>
    </div>
  </div>

  <div class="pagination">
    <a href="#"><svg class="arrow"><use href="#arrow"></use></svg></a>
    <a class="active" href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">...</a>
    <a href="#">20</a>
    <a href="#"><svg class="arrow arrow--right arrow--active"><use href="#arrow"></use></svg></a>
  </div>

</div>