
  <section class="subscribe wrapper-margin pb15">

    <h2 class="subscribe__title">Подпишитесь на нашу рассылку последних новостей и событий</h2>

    <form class="subscribe__form" action="#">
      <input class="subscribe__input" type="email" name="email" id="email" placeholder="Почта">

      <button class="subscribe__button" type="submit">Подписаться</button>

      <div class="vacancy__bottom">
        <div class="vacancy__send">
            <label class="vacancy__send-agree">
                <input type="checkbox" name="">
                <span class="vacancy__send_checkbox">
                    <svg viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.808594 3.54395L4.6327 7.36805L11.3676 0.633141" stroke="#A50F2D" stroke-width="1.7"></path>
                    </svg>
                </span>
            </label>
            <span class="vacancy__send_text">
                Я ознакомился с <a href="#" class="link">Политикой конфиденциальности персональных данных</a> и даю <a href="#" class="link">согласие на обработку персональных данных</a>
            </span>
        </div>
        <p class="vacancy__bottom_info">Этот сайт защищен reCAPTCHA, и применяются <a href="#" class="link">Политика конфиденциальности</a> и <a href="#" class="link">Условия использования Google</a></p>
    </div>

    </form>


  </section>