<div class="video__main-container wrapper">

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-1.jpg" alt="events-img">
    </span>
    <span class="events__name">Data security</span>
    <span class="events__title">Microsoft Azure for Small and Medium Businesses: How to Use the Cloud on Your Terms</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-2.jpg" alt="events-img">
    </span>
    <span class="events__name">Cybersecurity</span>
    <span class="events__title">Introduction to Docker and Kubernetes. How to quickly create a container infrastructure</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-3.jpg" alt="events-img">
    </span>
    <span class="events__name">Clouds</span>
    <span class="events__title">VMware NSX Networking Virtualization Platform</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-4.jpg" alt="events-img">
    </span>
    <span class="events__name">Webinar</span>
    <span class="events__title">Microsoft Azure for Small and Medium Businesses: How to Use the Cloud on Your Terms</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-1.jpg" alt="events-img">
    </span>
    <span class="events__name">Business solutions</span>
    <span class="events__title">Microsoft Azure for Small and Medium Businesses: How to Use the Cloud on Your Terms</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-5.jpg" alt="events-img">
    </span>
    <span class="events__name">Webinar</span>
    <span class="events__title">Microsoft Azure for Small and Medium Businesses: How to Use the Cloud on Your Terms</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-5.jpg" alt="events-img">
    </span>
    <span class="events__name">Webinar</span>
    <span class="events__title">Microsoft Azure for Small and Medium Businesses: How to Use the Cloud on Your Terms</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-3.jpg" alt="events-img">
    </span>
    <span class="events__name">Clouds</span>
    <span class="events__title">VMware NSX Networking Virtualization Platform</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-1.jpg" alt="events-img">
    </span>
    <span class="events__name">Data security</span>
    <span class="events__title">Microsoft Azure for Small and Medium Businesses: How to Use the Cloud on Your Terms</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-4.jpg" alt="events-img">
    </span>
    <span class="events__name">Webinar</span>
    <span class="events__title">Microsoft Azure for Small and Medium Businesses: How to Use the Cloud on Your Terms</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-2.jpg" alt="events-img">
    </span>
    <span class="events__name">Cybersecurity</span>
    <span class="events__title">Introduction to Docker and Kubernetes. How to quickly create a container infrastructure</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-1.jpg" alt="events-img">
    </span>
    <span class="events__name">Data security</span>
    <span class="events__title">Microsoft Azure for Small and Medium Businesses: How to Use the Cloud on Your Terms</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-3.jpg" alt="events-img">
    </span>
    <span class="events__name">Clouds</span>
    <span class="events__title">VMware NSX Networking Virtualization Platform</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-2.jpg" alt="events-img">
    </span>
    <span class="events__name">Cybersecurity</span>
    <span class="events__title">Introduction to Docker and Kubernetes. How to quickly create a container infrastructure</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-4.jpg" alt="events-img">
    </span>
    <span class="events__name">Webinar</span>
    <span class="events__title">Microsoft Azure for Small and Medium Businesses: How to Use the Cloud on Your Terms</span>
  </a>

  <button class="news__button">Show more</button>
</div>