<div class="video__main-container wrapper">

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-1.jpg" alt="events-img">
    </span>
    <span class="events__name">Защита информации</span>
    <span class="events__title">Microsoft Azure для малого и среднего бизнеса: как использовать облако на ваших условиях</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-2.jpg" alt="events-img">
    </span>
    <span class="events__name">Кибербезопасность</span>
    <span class="events__title">Введение в Docker и Kubernetes. Быстрое создание контейнерной инфраструктуры</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-3.jpg" alt="events-img">
    </span>
    <span class="events__name">Облака</span>
    <span class="events__title">Платформа сетевой виртуализации VMware NSX</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-4.jpg" alt="events-img">
    </span>
    <span class="events__name">Вебинар</span>
    <span class="events__title">Microsoft Azure для малого и среднего бизнеса: как использовать облако на ваших условиях</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-1.jpg" alt="events-img">
    </span>
    <span class="events__name">Бизнес-решения</span>
    <span class="events__title">Microsoft Azure для малого и среднего бизнеса: как использовать облако на ваших условиях</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-5.jpg" alt="events-img">
    </span>
    <span class="events__name">Вебинар</span>
    <span class="events__title">Microsoft Azure для малого и среднего бизнеса: как использовать облако на ваших условиях</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-5.jpg" alt="events-img">
    </span>
    <span class="events__name">Вебинар</span>
    <span class="events__title">Microsoft Azure для малого и среднего бизнеса: как использовать облако на ваших условиях</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-3.jpg" alt="events-img">
    </span>
    <span class="events__name">Облака</span>
    <span class="events__title">Платформа сетевой виртуализации VMware NSX</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-1.jpg" alt="events-img">
    </span>
    <span class="events__name">Защита информации</span>
    <span class="events__title">Microsoft Azure для малого и среднего бизнеса: как использовать облако на ваших условиях</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-4.jpg" alt="events-img">
    </span>
    <span class="events__name">Вебинар</span>
    <span class="events__title">Microsoft Azure для малого и среднего бизнеса: как использовать облако на ваших условиях</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-2.jpg" alt="events-img">
    </span>
    <span class="events__name">Кибербезопасность</span>
    <span class="events__title">Введение в Docker и Kubernetes. Быстрое создание контейнерной инфраструктуры</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-1.jpg" alt="events-img">
    </span>
    <span class="events__name">Защита информации</span>
    <span class="events__title">Microsoft Azure для малого и среднего бизнеса: как использовать облако на ваших условиях</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-3.jpg" alt="events-img">
    </span>
    <span class="events__name">Облака</span>
    <span class="events__title">Платформа сетевой виртуализации VMware NSX</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/video/video-2.jpg" alt="events-img">
    </span>
    <span class="events__name">Кибербезопасность</span>
    <span class="events__title">Введение в Docker и Kubernetes. Быстрое создание контейнерной инфраструктуры</span>
  </a>

  <a href="#" class="events__item">
    <span class="events__img">
      <img src="./assets/images/events/events-4.jpg" alt="events-img">
    </span>
    <span class="events__name">Вебинар</span>
    <span class="events__title">Microsoft Azure для малого и среднего бизнеса: как использовать облако на ваших условиях</span>
  </a>

  <button class="news__button">Показать больше</button>
</div>