<nav class="menu-wrapper">
    <div class="menu solutions-and-services">
        <div class="menu__item">
            <a class="menu__link" href="#">See all</a>
            <div class="submenu">
                <div class="submenu__nav">
                    <a href="#" class="submenu__title">
                        <h3>Cloud Services</h3>
                        <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="32" height="32" rx="16" fill="#A50F2D"></rect>
                            <path d="M21.8857 16.4L15.6954 22.8M21.8857 16.4L10 16.3997M21.8857 16.4L15.6954 10" stroke="white" stroke-width="1.5"></path>
                        </svg>
                    </a>
                    <ul class="submenu__list">
                        <li class="submenu__item">
                             <a class="submenu__link" href="#">
                                <img src="assets/images/menu/Vector.svg" alt="">
                                <span>
                                    Migration Readiness Assessment
                                </span>
                             </a>
                             <p class="submenu__text">
                                We create complex information systems and business solutions: websites, portals, e-commerce systems
                            </p>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">
                                <img src="assets/images/menu/Vector2.svg" alt="">
                                <span>
                                    Data protection
                                </span>
                            </a>
                            <p class="submenu__text">
                                We create complex information systems and business solutions: websites, portals, e-commerce systems                            
                            </p>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">
                                <img src="assets/images/menu/Vector3.svg" alt="">
                                <span>Migrations to the cloud</span>
                            </a>
                            <p class="submenu__text">We create complex information systems and business solutions: websites, portals, e-commerce systems</p>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">
                                <img src="assets/images/menu/Vector4.svg" alt="">
                                <span>Business development</span>
                            </a>
                            <p class="submenu__text">We create complex information systems and business solutions: websites, portals, e-commerce systems</p>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">
                                <img src="assets/images/menu/Vector5.svg" alt="">
                                <span>Cloud infrastructure management</span>
                            </a>
                            <p class="submenu__text">We create complex information systems and business solutions: websites, portals, e-commerce systems</p>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">
                                <img src="assets/images/menu/Vector6.svg" alt="">
                                <span>Equipment rent</span>
                            </a>
                            <p class="submenu__text">We create complex information systems and business solutions: websites, portals, e-commerce systems</p>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">
                                <img src="assets/images/menu/Vector.svg" alt="">
                                <span>Cloud infrastructure management</span>
                            </a>
                            <p class="submenu__text">We create complex information systems and business solutions: websites, portals, e-commerce systems</p>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">
                                <img src="assets/images/menu/Vector3.svg" alt="">
                                <span>Migrations to the cloud</span>
                            </a>
                            <p class="submenu__text">We create complex information systems and business solutions: websites, portals, e-commerce systems</p>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">
                                <img src="assets/images/menu/Vector2.svg" alt="">
                                <span>Data protection</span>
                            </a>
                            <p class="submenu__text">We create complex information systems and business solutions: websites, portals, e-commerce systems</p>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">
                                <img src="assets/images/menu/Vector5.svg" alt="">
                                <span>Cloud infrastructure management</span>
                            </a>
                            <p class="submenu__text">We create complex information systems and business solutions: websites, portals, e-commerce systems</p>
                        </li>
                    </ul>
                </div>
                <div class="submenu__aside">
                    <a class="submenu__aside_title" href="#">
                        Insights
                    </a>
                    <ul class="submenu__aside_list">
                        <li>
                            <a href="#">Special bare metal for neural networks. A luxury or a necessity?</a>
                        </li>
                        <li>
                            <a href="#">Computer vision in retail, or the all-seeing eye</a>
                        </li>                    
                        <li>
                            <a href="#">Softline offers ABBYY an optimal cloud flight plan</a>
                        </li>
                        <li>
                            <a href="#">The Right Cloud Infrastructure for Today and Tomorrow</a>
                        </li>
                        <li>
                            <a href="#">Computer vision in retail, or the all-seeing eye</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="menu__item">
            <a class="menu__link" href="#">Cloud Services</a>
        </div>
        <div class="menu__item">
            <a class="menu__link" href="#">Digital Solutions</a>
        </div>
        <div class="menu__item">
            <a class="menu__link" href="#">CyberSecurity</a>
        </div>
        <div class="menu__item">
            <a class="menu__link" href="#">Softline Development</a>
        </div>
        <div class="menu__item">
            <a class="menu__link" href="#">CAD and GIS</a>
        </div>
        <div class="menu__item">
            <a class="menu__link" href="#">Service providers</a>
        </div>
        <div class="menu__item">
            <a class="menu__link" href="#">CyberSecurity</a>
        </div>
        <div class="menu__item">
            <a class="menu__link" href="#">Future Workplace</a>
        </div>
        <div class="menu__item">
            <a class="menu__link" href="#">IT Infrastructure</a>
        </div>
    </div>
</nav>