<nav class="menu-wrapper">
    <div class="back-panel">
        <div>
            Back
        </div>
    </div>
    <div class="main-nav">
        <ul class="main-nav__list">

            <li class="main-nav__list-item">
                <button class="tab-label main-nav__list-button" data-tab="#menu-about">About Us</button>
                <div  class="tab-accord">
                    <ul class="tab-accord__list">
                        <li><a class="main-nav__list-link" href="#">About us</a></li>
                        <li><a class="main-nav__list-link" href="#">Leadership</a></li>
                        <li><a class="main-nav__list-link" href="#">Our Mission</a></li>
                        <li><a class="main-nav__list-link" href="#">Our Customers</a></li>
                        <li><a class="main-nav__list-link" href="#">FAQ</a></li>
                        <li><a class="main-nav__list-link" href="#">Business Conduct Guidelines</a></li>
                        <li><a class="main-nav__list-link" href="#">Social Responsibility</a></li>
                        <li><a class="main-nav__list-link" href="#">Partner Relations</a></li>
                        <li><a class="main-nav__list-link" href="#">Our History and Development</a></li>
                        <li><a class="main-nav__list-link" href="#">All offices</a></li>
                    </ul>
                </div>
            </li>

            <li class="main-nav__list-item">
                <button class="tab-label main-nav__list-button" data-tab="#inner-menu">Solutions & Services </button>
                <div class="tab-accord">
                    <ul class="tab-accord__list">
                        <li class="tab-accord__list-item"><a class="main-nav__list-link" href="#">See all</a></li>
                        <li class="tab-accord__list-item">
                            <button class="main-nav__list-button">Cloud Services</button>

                            <div class="main-nav__submenu">
                                <ul>
                                    <li><a href="#">Migration Readiness Assessment</a></li>
                                    <li><a href="#">Migrations to the cloud</a></li>
                                    <li><a href="#">Cloud infrastructure management</a></li>
                                    <li><a href="#">Data protection</a></li>
                                    <li><a href="#">Business development</a></li>
                                    <li><a href="#">Cloud infrastructure management</a></li>
                                    <li><a href="#">Equipment rent</a></li>
                                    <li><a href="#">Migrations to the cloud</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="tab-accord__list-item">
                            <button class="main-nav__list-button">Digital Solutions</button>
                            
                            <div class="main-nav__submenu">
                                <ul>
                                    <li><a href="#">Migration Readiness Assessment</a></li>
                                    <li><a href="#">Migrations to the cloud</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="tab-accord__list-item">
                            <button class="main-nav__list-button">Cybersecurity</button>
                            
                            <div class="main-nav__submenu">
                                <ul>
                                    <li><a href="#">Migration Readiness Assessment</a></li>
                                    <li><a href="#">Migrations to the cloud</a></li>
                                    <li><a href="#">Cloud infrastructure management</a></li>
                                    <li><a href="#">Data protection</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="tab-accord__list-item">
                            <button class="main-nav__list-button">Softline Development</button>
                            
                            <div class="main-nav__submenu">
                                <ul>
                                    <li><a href="#">Migration Readiness Assessment</a></li>
                                    <li><a href="#">Migrations to the cloud</a></li>
                                    <li><a href="#">Cloud infrastructure management</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="tab-accord__list-item">
                            <button class="main-nav__list-button">CAD and GIS</button>
                            
                            <div class="main-nav__submenu">
                                <ul>
                                    <li><a href="#">Migration Readiness Assessment</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="tab-accord__list-item">
                            <button class="main-nav__list-button">Service providers</button>
                            
                            <div class="main-nav__submenu">
                                <ul>
                                    <li><a href="#">Migration Readiness Assessment</a></li>
                                    <li><a href="#">Migrations to the cloud</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="tab-accord__list-item">
                            <button class="main-nav__list-button">Future Workplace</button>
                            
                            <div class="main-nav__submenu">
                                <ul>
                                    <li><a href="#">Migration Readiness Assessment</a></li>
                                    <li><a href="#">Migrations to the cloud</a></li>
                                    <li><a href="#">Cloud infrastructure management</a></li>
                                    <li><a href="#">Data protection</a></li>
                                    <li><a href="#">Business development</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="tab-accord__list-item">
                            <button class="main-nav__list-button">IT Infrastructure</button>
                            
                            <div class="main-nav__submenu">
                                <ul>
                                    <li><a href="#">Migration Readiness Assessment</a></li>
                                    <li><a href="#">Migrations to the cloud</a></li>
                                    <li><a href="#">Cloud infrastructure management</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            
            <li class="main-nav__list-item"><a href="#" class="main-nav__list-link" >Industries</a></li>

            <li class="main-nav__list-item">
                <button class="tab-label main-nav__list-button" data-tab="#menu-insights">Insights</button>
                <div class="tab-accord">
                    <ul class="tab-accord__list">
                        <li><a class="main-nav__list-link" href="#">Blog</a></li>
                        <li><a class="main-nav__list-link" href="#">News</a></li>
                        <li><a class="main-nav__list-link" href="#">Events</a></li>
                        <li><a class="main-nav__list-link" href="#">Video</a></li>
                        <li><a class="main-nav__list-link" href="#">Media</a></li>
                    </ul>
                </div>
            </li>

            <li class="main-nav__list-item"><a href="#" class="main-nav__list-link" >Investor Relations</a></li>
            <li class="main-nav__list-item"><a href="#" class="main-nav__list-link" >Stories</a></li>
            <li class="main-nav__list-item"><a href="#" class="main-nav__list-link" >Careers</a></li>
            <li class="main-nav__list-item"><a href="#" class="main-nav__list-link" >Contact</a></li>
        </ul>
    </div>

    <div class="menu-second">
            <div class="geolocation">
                <img class="geolocation__flag" src="assets/images/flag.png" alt="">
                <a class="geolocation__location" href="#">Russia and CIS</a>
            </div>

            <form class="header__search">
                <a href="#" class="header__search_close"></a>
                <div class="btn__search-show">
                    <span>Search</span>
                    <svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="5.90909" cy="5.90909" r="5.40909" stroke="#697279"/>
                        <path d="M12.9986 13L9.45312 9.45459" stroke="#697279"/>
                    </svg>
                </div>
                <input class="input input__search" type="text" placeholder="Enter your search term">
                <button class="btn__search disabled" disabled>
                    <span>Search</span>
                    <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="32" height="32" rx="16" fill="#A50F2D"/>
                        <path d="M21.8857 16.4L15.6954 22.8M21.8857 16.4L10 16.3997M21.8857 16.4L15.6954 10" stroke="white" stroke-width="1.5"/>
                    </svg>    
                </button>
            </form>

            <a class="header__store" href="#">Store</a>

            <div class="languages __select" data-state="">
                <div class="select-side"></div>
                <div id="language1" class="__select__title" data-default="Option 0">En</div>
                <div class="__select__content">
                    <input id="langSelect2" class="__select__input" type="radio" name="langSelect" />
                    <label for="langSelect2" data-type="default" class="__select__label">En</label>
                    <input id="langSelect3" class="__select__input" type="radio" name="langSelect" />
                    <label for="langSelect3" class="__select__label">Ru</label>
                </div>
            </div>
    </div>

    <div class="corporate" id="menu-about" hidden>
        <div class="corporate__content">
            <div class="corporate__block">
                <div>
                    One pager
                </div>

                <div class="corporate__helper">
                    <span>rus</span>
                    <div class="dott"></div>
                    <span>eng</span>
                </div>

                <img src="./assets/images/media/corporateImg1.jpg" alt="#">
            </div>

            <div class="corporate__block">
                <div>
                    Corporate presentation
                </div>

                <div class="corporate__helper">
                    <span>rus</span>
                    <div class="dott"></div>
                    <span>eng</span>
                    <div class="dott"></div>
                    <span>esp</span>
                </div>

                <img src="./assets/images/media/corporateImg2.jpg" alt="#">
            </div>
        </div>
    </div>

    <div class="insights-menu" id="menu-insights" hidden>
        <div class="insights-menu__item">
            <div class="insights-menu__name">Blog</div>
            <div class="insights-menu__title">Computer vision in retail, or the all-seeing eye</div>
            <div class="insights-menu__data">27.06.2021</div>
        </div>

        <div class="insights-menu__item">
            <div class="insights-menu__name">News</div>
            <div class="insights-menu__title">Softline offers ABBYY an optimal cloud flight plan</div>
            <div class="insights-menu__data">27.06.2021</div>
        </div>

        <div class="insights-menu__item">
            <div class="insights-menu__name">News</div>
            <div class="insights-menu__title">Softline offers ABBYY an optimal cloud flight plan</div>
            <div class="insights-menu__data">27.06.2021</div>
        </div>
    </div>

    <!-- <div class="solutions-menu" id="solutions-menu" >
        
    </div> -->

    <div class="menu solutions-and-services">
        <div class="menu__item">
            <a class="menu__link" href="#">See all</a>
            <div class="submenu">
                <div class="submenu__nav">
                    <a href="#" class="submenu__title">
                        <h3>Cloud Services</h3>
                        <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="32" height="32" rx="16" fill="#A50F2D"></rect>
                            <path d="M21.8857 16.4L15.6954 22.8M21.8857 16.4L10 16.3997M21.8857 16.4L15.6954 10" stroke="white" stroke-width="1.5"></path>
                        </svg>
                    </a>
                    <ul class="submenu__list">
                        <li class="submenu__item">
                             <a class="submenu__link" href="#">
                                <img src="assets/images/menu/Vector.svg" alt="">
                                <span>
                                    Migration Readiness Assessment
                                </span>
                             </a>
                             <p class="submenu__text">
                                We create complex information systems and business solutions: websites, portals, e-commerce systems
                            </p>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">
                                <img src="assets/images/menu/Vector2.svg" alt="">
                                <span>
                                    Data protection
                                </span>
                            </a>
                            <p class="submenu__text">
                                We create complex information systems and business solutions: websites, portals, e-commerce systems                            
                            </p>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">
                                <img src="assets/images/menu/Vector3.svg" alt="">
                                <span>Migrations to the cloud</span>
                            </a>
                            <p class="submenu__text">We create complex information systems and business solutions: websites, portals, e-commerce systems</p>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">
                                <img src="assets/images/menu/Vector4.svg" alt="">
                                <span>Business development</span>
                            </a>
                            <p class="submenu__text">We create complex information systems and business solutions: websites, portals, e-commerce systems</p>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">
                                <img src="assets/images/menu/Vector5.svg" alt="">
                                <span>Cloud infrastructure management</span>
                            </a>
                            <p class="submenu__text">We create complex information systems and business solutions: websites, portals, e-commerce systems</p>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">
                                <img src="assets/images/menu/Vector6.svg" alt="">
                                <span>Equipment rent</span>
                            </a>
                            <p class="submenu__text">We create complex information systems and business solutions: websites, portals, e-commerce systems</p>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">
                                <img src="assets/images/menu/Vector.svg" alt="">
                                <span>Cloud infrastructure management</span>
                            </a>
                            <p class="submenu__text">We create complex information systems and business solutions: websites, portals, e-commerce systems</p>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">
                                <img src="assets/images/menu/Vector3.svg" alt="">
                                <span>Migrations to the cloud</span>
                            </a>
                            <p class="submenu__text">We create complex information systems and business solutions: websites, portals, e-commerce systems</p>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">
                                <img src="assets/images/menu/Vector2.svg" alt="">
                                <span>Data protection</span>
                            </a>
                            <p class="submenu__text">We create complex information systems and business solutions: websites, portals, e-commerce systems</p>
                        </li>
                        <li class="submenu__item">
                            <a class="submenu__link" href="#">
                                <img src="assets/images/menu/Vector5.svg" alt="">
                                <span>Cloud infrastructure management</span>
                            </a>
                            <p class="submenu__text">We create complex information systems and business solutions: websites, portals, e-commerce systems</p>
                        </li>
                    </ul>
                </div>
                <div class="submenu__aside">
                    <a class="submenu__aside_title" href="#">
                        Insights
                    </a>
                    <ul class="submenu__aside_list">
                        <li>
                            <a href="#">Special bare metal for neural networks. A luxury or a necessity?</a>
                        </li>
                        <li>
                            <a href="#">Computer vision in retail, or the all-seeing eye</a>
                        </li>                    
                        <li>
                            <a href="#">Softline offers ABBYY an optimal cloud flight plan</a>
                        </li>
                        <li>
                            <a href="#">The Right Cloud Infrastructure for Today and Tomorrow</a>
                        </li>
                        <li>
                            <a href="#">Computer vision in retail, or the all-seeing eye</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="menu__item">
            <a class="menu__link" href="#">Cloud Services</a>
        </div>
        <div class="menu__item">
            <a class="menu__link" href="#">Digital Solutions</a>
        </div>
        <div class="menu__item">
            <a class="menu__link" href="#">CyberSecurity</a>
        </div>
        <div class="menu__item">
            <a class="menu__link" href="#">Softline Development</a>
        </div>
        <div class="menu__item">
            <a class="menu__link" href="#">CAD and GIS</a>
        </div>
        <div class="menu__item">
            <a class="menu__link" href="#">Service providers</a>
        </div>
        <div class="menu__item">
            <a class="menu__link" href="#">CyberSecurity</a>
        </div>
        <div class="menu__item">
            <a class="menu__link" href="#">Future Workplace</a>
        </div>
        <div class="menu__item">
            <a class="menu__link" href="#">IT Infrastructure</a>
        </div>
    </div>

    <div class="menu about-us">
        <div class="about-us__wrapper">
            <div class="left-wrapper">
                <div  class="tab-accord">
                    <ul class="tab-accord__list">
                        <li><a class="main-nav__list-link" href="#">About us</a></li>
                        <li><a class="main-nav__list-link" href="#">Business Conduct Guidelines</a></li>
                        <li><a class="main-nav__list-link" href="#">Leadership</a></li>
                        <li><a class="main-nav__list-link" href="#">Social Responsibility</a></li>
                        <li><a class="main-nav__list-link" href="#">Our Mission</a></li>
                        <li><a class="main-nav__list-link" href="#">Partner Relations</a></li>
                        <li><a class="main-nav__list-link" href="#">Our Customers</a></li>
                        <li><a class="main-nav__list-link" href="#">Our History and Development</a></li>
                        <li><a class="main-nav__list-link" href="#">FAQ</a></li>
                        <li><a class="main-nav__list-link" href="#">All offices</a></li>
                    </ul>
                </div>
            </div>
            <div class="corporate">
                <div class="corporate__content">
                    <div class="corporate__block">
                        <div>
                            One pager
                        </div>
        
                        <div class="corporate__helper">
                            <span>rus</span>
                            <div class="dott"></div>
                            <span>eng</span>
                        </div>
        
                        <img src="./assets/images/media/corporateImg1.jpg" alt="#">
                    </div>
        
                    <div class="corporate__block">
                        <div>
                            Corporate presentation
                        </div>
        
                        <div class="corporate__helper">
                            <span>rus</span>
                            <div class="dott"></div>
                            <span>eng</span>
                            <div class="dott"></div>
                            <span>esp</span>
                        </div>
        
                        <img src="./assets/images/media/corporateImg2.jpg" alt="#">
                    </div>
    
                    <div class="corporate__block">
                        <div>
                            One pager
                        </div>
        
                        <div class="corporate__helper">
                            <span>rus</span>
                            <div class="dott"></div>
                            <span>eng</span>
                        </div>
        
                        <img src="./assets/images/media/corporateImg1.jpg" alt="#">
                    </div>
    
                </div>
            </div>
        </div>
    </div>

    <div class="menu top-insights-menu">
        <div class="tab-accord">
            <ul class="tab-accord__list">
                <li><a class="main-nav__list-link" href="#">Blog</a></li>
                <li><a class="main-nav__list-link" href="#">News</a></li>
                <li><a class="main-nav__list-link" href="#">Events</a></li>
                <li><a class="main-nav__list-link" href="#">Video</a></li>
                <li><a class="main-nav__list-link" href="#">Media</a></li>
            </ul>
        </div>
    </div>

    <div class="inner-menu" id="inner-menu"></div>
</nav>