<div id="partner-modal" class="partner-modal">
    <div class="partner__block">
        <div class="partner__wrapper">
            <button class="close-partner">
                <span>Закрыть</span> 
                <span class="close-partner__cross">
                    <span class="close-partner-icon"></span>
                </span>
            </button>
            <div class="partner__text-block">
                <img class="partner__logo" src="assets/images/partners/apple.png" alt="">
                <p class="partner__text-block_title">Apple</p>
                <div class="partner__statuses">
                    <p class="red text-normal">Наши статусы</p>
                    <p class="text-normal">Авторизованный системный интегратор, авторизованный корпоративный реселлер Apple</p>
                </div>
                <p class="partner__descr">Apple Inc. - американская корпорация, производитель цифровых и планшетных компьютеров, аудиоплееров, телефонов, программного обеспечения.</p>
                <p class="partner__text">Один из пионеров в области компьютерных систем и современных многозадачных операционных систем с графическим интерфейсом. Штаб-квартира находится в Купертино, Калифорния. На момент выпуска основных продуктов Apple: мобильные телефоны iPhone, планшеты iPad, персональные компьютеры MacBook, MacBook Pro, MacBook Air, Mac mini, iMac, Mac Pro, компьютерные мониторы, серверы, медиаплееры, портативные медиаплееры и др. Кроме того, компания производит аксессуары для этих продуктов, а также программное обеспечение.</p>
                <a class="link-red" href="#">
                    <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="32" height="32" rx="16" fill="#A50F2D"/>
                        <path d="M21.8857 16.4L15.6954 22.8M21.8857 16.4L10 16.3997M21.8857 16.4L15.6954 10" stroke="white" stroke-width="1.5"/>
                    </svg>
                    <span>Продукция Apple</span>
                </a>
            </div>
        </div>
    </div>
</div>