<div id="employee-modal" class="employee-modal">
    <div class="employee__block">
        <div class="employee__wrapper-modal">
            <button class="close-employee">
                <span>Закрыть</span> 
                <span class="close-employee__cross">
                    <span class="close-employee-icon"></span>
                </span>
            </button>
            <div class="employee__text-block">
                <div class="employee__top-wrap">
                    <img class="employee__avatar" src="assets/images/employee/avatar7.jpg" alt="">
                    <div class="employee__avatar_text">
                        <p class="employee__avatar_name">Родни Кларк</p>
                        <p class="employee__avatar_position">Вице-президент по глобальным продажам для партнеров, Microsoft</p>    
                    </div>
                </div>

                <p class="employee__descr">Softline получила расширенную специализацию Миграция баз данных Linux и Open Source в Microsoft Azure</p>
                <p class="employee__text">"Мы награждаем Linux Advanced Specialization, Open Source Database в Microsoft Azure партнеров, которые продемонстрировали высочайшие навыки в выполнении задач миграции рабочих нагрузок с платформ с открытым исходным кодом на Azure. Softline подтвердила, что ее компетенций и опыта достаточно для успешной реализации проектов по переводу клиентской инфраструктуры в облако "</p>
            </div>
        </div>
    </div>
</div>