<div id="program-modal" class="program-modal">
    <div class="program__block">
      <div class="program__wrapper">
        <button class="close-program">
            <span>Закрыть</span> 
            <span class="close-program__cross">
                <span class="close-program-icon"></span>
            </span>
        </button>
        <div class="program__text-block">
            <p class="program__text-block_title">Условия получения статусов партнеров</p>

            <div class="program-modal__item">
                <p class="program-modal__item_name">Select</p>
                <p class="program-modal__item_desc">Базовый статус для всех партнеров компании</p>
                <p class="program-modal__item_list-name">Условия получения</p>
                <ul>
                    <li>Спрос на Softline</li>
                    <li>Подписание рамочного соглашения</li>
                    <li>Фиксированные процентные ставки</li>
                    <li>Утверждение Производственной комиссией Softline и Департаментом экономической безопасности</li>
                </ul>
            </div>

            <div class="program-modal__item">
                <p class="program-modal__item_name silver">Silver</p>
                <p class="program-modal__item_desc">Статус расширенной партнерской программы</p>
                <p class="program-modal__item_list-name">Условия получения</p>
                <ul>
                    <li>Успешная реализация более пяти проектов совместно с командой Softline</li>
                    <li>Средний балл по результату выполненных проектов составляет не менее четырех баллов по пятибалльной шкале (оценки ставятся РП/АМ на текущий проект, также учитывается мнение и оценка заказчика)</li>
                    <li>Рейтинг отображается в личном кабинете на портале Softline P4P</li>
                </ul>
            </div>

            <div class="program-modal__item">
                <p class="program-modal__item_name gold">Gold</p>
                <p class="program-modal__item_desc">Наивысший статус партнерской программы. Присуждается лучшим компаниям по соотношению цена/качество/хронометраж</p>
                <p class="program-modal__item_list-name">Условия получения</p>
                <ul>
                    <li>Фиксированные процентные ставки</li>
                    <li>Валидация компании производственной комиссией Softline</li>
                    <li>Полное соответствие ценообразования и расчета затрат на рабочую силу методологии Softline <span class="red">(шаблон расчета затрат на рабочую силу + краткие инструкции по заполнению)</span></li>
                    <li>Более пятнадцати успешно завершенных проектов с положительными оценками</li>
                    <li>Рекомендации проектной группы</li>
                </ul>
            </div>
        </div>
      </div>
    </div>
</div>