<div id="leadership-modal" class="leadership">
    <div class="leadership__block">
      <div class="leadership__wrapper">
        <button class="close-leadership">
            <span>Закрыть</span> 
            <span class="close-leadership__cross">
                <span class="close-leadership-icon"></span>
            </span>
        </button>
        <div class="leadership__img">
            <picture>
                <source media="min-width:768px" srcset="assets/images/leadership/image385.jpg" type="image/jpeg">
                <img src="assets/images/leadership/image385mob.jpg" alt="">
            </picture>
        </div>
        <div class="leadership__text-block">
            <p class="leadership__text-block_name">Игорь Боровиков</p>
            <p class="leadership__text-block_position">Председатель Совета директоров</p>
            <p class="leadership__text-block_quote">
                "ИТ-отрасль быстро меняется, и я уверен, что темпы инноваций будут еще более быстрыми в будущем. Чтобы остаться в ИТ в ближайшие десять лет, будет недостаточно следовать тенденциям рынка и технологий, придется стать законодателем трендов ".
            </p>
            <p class="leadership__text-block_info">
                Игорь Боровиков основал компанию Softline в 1993 году. Под руководством Игоря Softline стала глобальной IT-компанией с филиалами в 30 странах. Талант, видение и целеустремленность бизнес-администрирования Игоря привели Softline от продаж научного программного обеспечения к внедрению комплексных и инновационных IT-решений. Сегодня тысячи клиентов доверяют Softline свои основные проекты. Softline обслуживает как международные корпорации, так и амбициозные стартапы, промышленных гигантов и малый бизнес, государственные организации и лидеров частного сектора.
                В 2010 и 2012 годах Игорь Боровиков был победителем Топ-25 лучших лидеров российского ИТ-бизнеса. В 2013 году был включён в Top-100 «Российские интернет-миллионеры» интернет-журналом «Секрет фирмы», стал одним из Top-50 российских IT-специалистов
            </p>
        </div>
      </div>
    </div>
</div>