<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    <div class="preloader">
        <div class="spin">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
    {{> sprite}}
    {{> header }}    

    <main class="main">

        {{> body }}

        
    </main>
    
    {{> footer }}    
    
    <!-- JS -->
    
    <script defer src="assets/vendor/swiper/swiper.min.js"></script>
    <script defer src="assets/vendor/jquery/jquery-3.6.0.min.js"></script>
    <script defer src="assets/vendor/hammer/hammer.min.js"></script>
    <script defer src="assets/vendor/scroll-lock/scroll-lock.min.js"></script>
    <script defer src="assets/js/app.js"></script>
    <script>
        window.onload = function(){ document.querySelector(".preloader").style.display = "none"; }
    </script>
</body>
</html>