<section class="cybersecurity-nums" style="background-image: url('./assets/images/main-cybersecurity/image3.jpg');">
  <div class="section-top">
      <div class="title-wrapper">
          <h2 class="title">У нас есть опыт &nbsp;<br>в области кибербезопасности</h2>
      </div>   
      <div class="section-top__aside">
          <p class="text-normal">
            Мы строим кибербезопасность вокруг проблем и ограничений вашего бизнеса и защищаем клиентов от кибератак с помощью упреждающего, целенаправленного подхода
          </p> 
      </div>
  </div>

  <div class="cybersecurity-nums__block">
      <div class="rising-num">
          <span id="num1" data-num="150" class="rising-num__num">0+</span>
          <p class="rising-num__text">инженеры <br>и аналитики</p>
      </div>
      <div class="rising-num">
          <span id="num2" data-num="200" class="rising-num__num">0+</span>
          <p class="rising-num__text">поставщики кибербезопасности<br> в портфолио</p>
      </div>
      <div class="rising-num">
          <span id="num3" data-num="1500" class="rising-num__num">0+</span>
          <p class="rising-num__text">проекты<br>с 2010</p>
      </div>
  </div>
</section>